<h4>Purchases</h4> <!-- TODO traduzz -->
<%= form_tag 'purchases', :method => :get, :id => 'admin-search-purchases', :class => 'search-form' do %>
  <%= hidden_field_tag 'search[search_type]', 'purchases' %>
  <%= hidden_field_tag 'search[ordering]', '' %>
  <%= hidden_field_tag 'search[desc]', '' %>
  <div class="row-fluid">
    <div class="span4">
      <div class="control-group">
        <label for="id">ID</label> <!-- TODO traduzz -->
        <div class="controls">
          <%= text_field_tag 'search[id]', params[:search] ? params[:search][:id] : '', :class => 'input-small', :placeholder => 'id' %> <!-- TODO traduzz stesso di sopra -->
        </div>
      </div>
      <div class="control-group">
        <label>ssn code</label> <!-- TODO traduzz -->
        <div class="controls">
          <%= text_field_tag 'search[title]', params[:search] ? params[:search][:title] : '', :class => 'input-medium', :placeholder => 'ssn code' %> <!-- TODO traduzz -->
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="control-group">
        <label>vat code</label> <!-- TODO traduzz -->
        <div class="controls">
          <%= text_field_tag 'search[title]', params[:search] ? params[:search][:title] : '', :class => 'input-medium', :placeholder => 'vat code' %> <!-- TODO traduzz -->
        </div>
      </div>
      <div class="control-group">
        <label>name</label> <!-- TODO traduzz -->
        <div class="controls">
          <%= text_field_tag 'search[title]', params[:search] ? params[:search][:title] : '', :class => 'input-medium', :placeholder => 'name' %> <!-- TODO traduzz -->
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="control-group">
        <label>responsible</label> <!-- TODO traduzz -->
        <div class="controls">
          <%= text_field_tag 'search[title]', params[:search] ? params[:search][:title] : '', :class => 'input-medium', :placeholder => 'responsible' %> <!-- TODO traduzz -->
        </div>
      </div>
      <div class="control-group">
        <label>email</label> <!-- TODO traduzz -->
        <div class="controls">
          <%= text_field_tag 'search[title]', params[:search] ? params[:search][:title] : '', :class => 'input-medium', :placeholder => 'email' %> <!-- TODO traduzz -->
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="form-actions">
        <button type="submit" class="btn btn-block btn-warning">CERCA PURCHASES</button> <!-- TODO traduzz -->
      </div>
    </div>
  </div>
<% end %>
<h3>LISTA DI PURCHASES</h3> <!-- TODO traduzz -->
<% if @purchases.length > 0 %>
  <%= render :partial => 'admin/list_heading', :locals => {:items => @purchases, :expandable => true} %>
<% end %>
<%= render :partial => 'admin/purchases/list', :locals => {:purchases => @purchases} %>
<% if @purchases.length > 0 %>
  <%= render :partial => 'admin/list_heading', :locals => {:items => @purchases, :expandable => true} %>
<% end %>
