<h3>CREA NUOVO!!</h3> <!-- TODO traduzz -->
<%= form_for(@purchase, :id => 'admin-purchases-new', :class => 'search-form', :url => admin_purchases_path, :remote => true) do |f| %>
  <hr/>
  <%= render :partial => 'common_form', :locals => {:f => f} %>
  <hr/>
  <%= render :partial => 'restrictions_form', :locals => {:f => f, :locations => @locations} %>
  <hr/>
  <% if @renewed %>
    Rinnova automaticamente a tutti gli utenti: <%= check_box_tag 'renewed', '0', false, :data => {:'accounts-number' => @renewed.accounts_number} %> <!-- TODO traduzz -->
    <%= hidden_field_tag 'renewed_id', @renewed.id %>
    <hr/>
  <% end %>
  <%= f.submit %> <!-- TODO traduzz -->
<% end %>
