<h3>CREA NUOVO!!</h3> <!-- TODO traduzz -->
<%= form_for(@purchase, :url => admin_purchases_path, :remote => true) do |f| %>
  <hr/>
  <%= render :partial => 'common_form', :locals => {:f => f} %>
  <hr/>
  <%= render :partial => 'restrictions_form', :locals => {:f => f, :locations => @locations} %>
  <hr/>
  <% if @renewed %>
    <a id="renewed" data-renewed-id="<%= @renewed.id %>" data-accounts-number="<%= @renewed.accounts_number %>">Rinnova automaticamente a tutti gli utenti</a> <!-- TODO traduzz -->
    <%= hidden_field_tag 'renewed_id', '' %>
    <hr/>
  <% end %>
  <%= f.submit %> <!-- TODO traduzz -->
<% end %>
