<div class="dots_pagination_container" id="dashboard_lessons_pagination">
  <span class="dots_pagination">
    <span role="pages">
      <a data-page="<%= page-1 %>" <%= 'role="disabled"'.html_safe if page <= 1 %>></a><a data-page="<%= page %>" role="current"></a><a data-page="<%= page+1 %>" <%= 'role="disabled"'.html_safe if page >= pages_amount %>></a>
    </span>
  </span>
</div>


<script type="text/javascript">
  
  $(document).ready(function() {
    var prevPage = function(prevPage) {
      changePageDashboardLessons(<%= page %>, <%= page - 1 %>, <%= pages_amount %>);
      return true;
    }
    var nextPage = function(nextPage) {
      changePageDashboardLessons(<%= page %>, <%= page + 1 %>, <%= pages_amount %>);
      return true;
    }
    new DotsPagination($('[role=pages]'), <%= j pages_amount.to_s %>, prevPage, nextPage);
  });
  
</script>
