<div class="dots_pagination_container" id="dashboard_pagination" data-lessons-tot="<%= l_tot %>" data-media-elements-tot="<%= me_tot %>" data-lessons-page="1" data-media-elements-page="1">
  <span class="dots_pagination">
    <span class="pages">
      <% if l_tot <= 1 %>
        <a data-page="0" class="disabled"></a><a data-page="1" class="current"></a><a data-page="2" class="disabled"></a>
      <% else %>
        <a data-page="0" class="disabled"></a><a data-page="1" class="current"></a><a data-page="1" title="<%= t('titles.pagination.next') %>"></a>
      <% end %>
    </span>
  </span>
</div>


<script>
  
  $(document).ready(function() {
    var prevPage = function(prevPage) {
      changePageDashboardLessons(1, 0, <%= l_tot %>);
      return true;
    }
    var nextPage = function(nextPage) {
      changePageDashboardLessons(1, 2, <%= l_tot %>);
      return true;
    }
    new DotsPagination($('.pages'), <%= j l_tot.to_s %>, { 'complete': { 'prev': prevPage, 'next': nextPage } });
  });
  
</script>
