<div class="gray-bar">
  <%= render :partial => "dashboard/graybar_left" %>
  <%= render :partial => "shared/search" %>
</div>
<br class="clearfloat">



<div class="griglia-contenuti">
  
  
  
  
  <div id="lessons_in_dashboard">
    
    <% if @lessons.empty? %>
      
      <%= render :partial => 'dashboard/lessons_empty', :locals => {:emptied => @lessons_emptied} %>
      
    <% else %>
      
      <% tot_lesson = 0 %>
      <% (0...CONFIG['lesson_pages_in_dashboard']).each do |j| %>
        <%
          lessons_block = @lessons[tot_lesson, CONFIG['lessons_for_page_in_dashboard']].to_a
          last_page = @lessons[tot_lesson + CONFIG['lessons_for_page_in_dashboard'], CONFIG['lessons_for_page_in_dashboard']].to_a.empty?
        %>
        <% if lessons_block.any? %>
          <div class="suggested_lessons_page" id="suggested_lessons_<%= j + 1 %>" style="display:<%= (j != 0) ? 'none' : 'block' %>">
            <% cont = 0 %>
            <% lessons_block.each do |l| %>
              <% if cont == 0 %>
                <div>
              <% end %>
              <%= render :partial => "lessons/view_single_expanded", :locals => {:lesson => l, :destination => ButtonDestinations::EXPANDED_LESSON} %>
              <% if cont == 1 %>
                </div>
              <% end %>
              <% cont = (cont == 0) ? 1 : 0 %>
            <% end %>
            <% if cont == 1 %>
              <%= render :partial => "lessons/create_new" %>
              </div>
            <% end %>
            <br class="clearfloat">
            <%= render :partial => 'dashboard/lessons_pagination', :locals => {:page => (j + 1), :last_page => last_page, :first_page => (j == 0)} %>
          </div>
        <% end %>
        <% tot_lesson += CONFIG['lessons_for_page_in_dashboard'] %>
      <% end %>
      
    <% end %>
    
  </div>
  
  
  
  
  
  
  <div id="media_elements_in_dashboard" style="display:none">
    
    <% if @media_elements.empty? %>
      
      <%= render :partial => 'dashboard/media_elements_empty', :locals => {:emptied => @media_elements_emptied} %>
      
    <% else %>
      
      <% tot_media_element = 0 %>
      <% (0...CONFIG['media_element_pages_in_dashboard']).each do |j| %>
        <%
          media_elements_block = @media_elements[tot_media_element, CONFIG['media_elements_for_page_in_dashboard']].to_a
          last_page = @media_elements[tot_media_element + CONFIG['media_elements_for_page_in_dashboard'], CONFIG['media_elements_for_page_in_dashboard']].to_a.empty?
        %>
        <% if media_elements_block.any? %>
          <div class="suggested_media_elements_page" id="suggested_media_elements_<%= j + 1 %>" style="display:none; width:90%;  margin:0 auto 0 auto;">
            <% media_elements_block.each do |me| %>
              <%= render :partial => "media_elements/view_single_expanded", :locals => {:media_element => me, :destination => ButtonDestinations::EXPANDED_MEDIA_ELEMENT} %>
            <% end %>
            <%= render :partial => "media_elements/create_new", :locals => {:item => 'media_element'} %>
            <br class="clearfloat">
            <%= render :partial => 'dashboard/media_elements_pagination', :locals => {:page => (j + 1), :last_page => last_page, :first_page => (j == 0)} %>
          </div>
        <% end %>
        <% tot_media_element += CONFIG['media_elements_for_page_in_dashboard'] %>
      <% end %>
      
    <% end %>
    
  </div>
  
  
  
  
  
  
  <br class="clearfloat">
  <div class="boxContentIndex">
    <p><%= t('capital_letter.help_using_desy') %></br>
    <a href=""><%= t('capital_letter.download_manual') %></a>
  </div>
  <div class="boxContentIndex" style="float:right">
    <p><%= t('capital_letter.talk_with_desy') %><br>
    <a href=""><%= t('capital_letter.contact_us') %></a></p>
  </div>
  
  
  
  
</div>
