<%
  pagination_locals = {}
  pagination_locals[:me_tot] = (@media_elements.length.to_f / SETTINGS['media_elements_for_page_in_dashboard']).ceil
  pagination_locals[:l_tot] = (@lessons.length.to_f / SETTINGS['lessons_for_page_in_dashboard']).ceil
%>

<div class="gray-bar">
  <p class="fltlft lower titleSelected"><%= t('dashboard.selected_for_you') %></p>
  <a id="switch_to_lessons" class="navlist-item b-dashboard current lower"><%= t('captions.lessons') %></a>
  <a id="switch_to_media_elements" class="navlist-item b-dashboard lower"><%= t('captions.media_elements') %></a>
  <%= render :partial => "shared/search" %>
</div>

<br class="clearfloat">
<div class="griglia-contenuti">
  <%= render :partial => "dashboard/lessons_and_media_elements" %>
  <br class="clearfloat">
  <div id="info_container" style="display:none" data-currenturl="<%= request.url %>"></div>
  <% if @lessons.any? || @media_elements.any? %>
    <%= render :partial => 'dashboard/pagination', :locals => pagination_locals %>
  <% end %>
  <br class="clearfloat">
  <div class="boxContentIndex">
    <p><%= t('dashboard.help_using_desy', :desy => SETTINGS['application_name']) %></br>
    <%= link_to t('dashboard.download_manual'), "/user_guide_#{I18n.locale.to_s}.pdf", :format => 'pdf', :target => "_blank" %>
  </div>
  <div class="boxContentIndex" style="float:right">
    <p><%= t('dashboard.talk_with_desy', :desy => SETTINGS['application_name']) %><br>
    <a><%= t('dashboard.contact_us') %></a></p>
  </div>
</div>

<%= render partial: 'media_elements/new_form_popup' %>

<% if @lessons.empty? %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#dashboard_pagination').html('');
    });
  </script>
<% end %>
