<%= render :partial => 'media_elements/new_form_popup' %>
<%= render :partial => 'documents/new_form_popup' %>
<div id="dashboard_container" data-lessons-expanded="false" data-media-elements-expanded="false" data-lessons-in-space="0" data-media-elements-in-space="0">
  <div class="title_lessons">
    <div class="icon"></div>
    <div class="content">
      <div class="title">Mancini sfida la Juve: «Daremo tutto per la vittoria»</div> <!-- TODO traduzz -->
      <div class="description">Il tecnico del Galatasaray carica i suoi alla vigilia della sfida contro i bianconeri in Champions: «Conte avrà due risultati su tre a disposizione, noi saremo obbligati a vincere.»</div> <!-- TODO traduzz -->
    </div>
    <a class="expand_icon disabled" title="expand lessons" data-moving="false"></a> <!-- TODO traduzz -->
    <a class="expand_icon on" title="compress lessons" data-moving="false" style="display:none"></a> <!-- TODO traduzz -->
  </div>
  <div class="space_lessons">
    <div class="page1 dashpage">
    </div>
    <div class="page2 dashpage" style="display:none">
    </div>
    <div class="page3 dashpage" style="display:none">
    </div>
    <div class="page4 dashpage" style="display:none">
    </div>
    <div class="page5 dashpage" style="display:none">
    </div>
    <div class="page6 dashpage" style="display:none">
    </div>
  </div>
  <div class="pagination_lessons">
    <%= render :partial => 'dashboard/pagination' %>
  </div>
  <div class="title_media_elements">
    <div class="icon"></div>
    <div class="content">
      <div class="title">Mancini sfida la Juve: «Daremo tutto per la vittoria»</div> <!-- TODO traduzz -->
      <div class="description">Il tecnico del Galatasaray carica i suoi alla vigilia della sfida contro i bianconeri in Champions: «Conte avrà due risultati su tre a disposizione, noi saremo obbligati a vincere.»</div> <!-- TODO traduzz -->
    </div>
    <a class="expand_icon disabled" title="expand media elements" data-moving="false"></a> <!-- TODO traduzz -->
    <a class="expand_icon on" title="compress media_elements" data-moving="false" style="display:none"></a> <!-- TODO traduzz -->
  </div>
  <div class="space_media_elements">
    <div class="page1 dashpage">
    </div>
    <div class="page2 dashpage" style="display:none">
    </div>
    <div class="page3 dashpage" style="display:none">
    </div>
    <div class="page4 dashpage" style="display:none">
    </div>
    <div class="page5 dashpage" style="display:none">
    </div>
    <div class="page6 dashpage" style="display:none">
    </div>
  </div>
  <div class="pagination_media_elements">
    <%= render :partial => 'dashboard/pagination' %>
  </div>
</div>
<div id="hidden_dashboard_pagination" style="display:none">
  <%= render :partial => 'dashboard/pagination' %>
</div>
<div id="dashboard_toolbar">
  <div class="boxText">
    <span>Cerca nuove lezioni</span><!-- TODO traduzz -->
    <p>Utilizza il morore di ricerca di AmicoCloud
  per trovare nuove lezioni o risorse didattiche.</p><!-- TODO traduzz -->
  </div>
  <div class="searchBox">
    <form id="search_general" class="search-form" method="get" action="/search">
      <table>
        <tr>
          <td colspan="2">
            <input type="text" name="word" value="<%= t('search.long_label', :desy => SETTINGS['application_name']) %>" class="text" id="general_tag_reader_for_search" style="color:#999"> <!-- TODO traduzz -->
            <%= hidden_field_tag 'word_placeholder', '', :id => 'general_tag_kind_for_search' %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <select name="item" id="which_item_to_search">
              <option value="lessons" <%= @where != 'media_elements' ? "selected=\"selected\"".html_safe : '' %>><%= t('captions.lessons') %></option> <!-- TODO traduzz -->
              <option value="media_elements" <%= @where == 'media_elements' ? "selected=\"selected\"".html_safe : '' %>><%= t('captions.media_elements') %></option> <!-- TODO traduzz -->
            </select>
          </td>
        </tr>
      </table>
      <div class="boxAdvancedSearch">
        <%= link_to t('search.label'), "#{search_items_path}?item=#{@where}", :class =>'advanced fltlft' %> <!-- TODO traduzz -->
        <a id="search_general_submit" class="cerca current fltrt" title="<%= t('titles.search') %>">&nbsp;</a> <!-- TODO traduzz -->
      </div>
    </form>
  </div>
  <div class="buttonPlus">
    <a href="/lessons/new" class="createLessonBtn fltlft">
      <div class="iconPlus"></div> 
      <p>crea una nuova lezione</p><!-- TODO traduzz -->
    </a>
    <a class="_load_media_element uploadResourceBtn fltlft">
      <div class="iconPlus"></div> 
      <p>carica una nuova risorsa</p><!-- TODO traduzz -->
    </a>
    <a class="_load_document uploadDocumentBtn fltlft">
      <div class="iconPlus"></div> 
      <p>carica un approfondimento</p><!-- TODO traduzz -->
    </a>
  </div>
  <div class="boxText">
     <span>Hai bisogno di aiuto per usare AmicoCloud?</span><!-- TODO traduzz -->
    <p>Hai bisogno di aiuto per scoprire tutte le caratteristiche di AmicoCloud?</p><!-- TODO traduzz -->
    <%= link_to 'Consulta le Faqs', faqs_path %><!-- TODO traduzz -->
  </div>
  <div class="boxText">
    <span>Vuoi parlare con AmicoCloud</span><!-- TODO traduzz -->
    <p>Il tuo contributo è molto importante per migliorare i nostri servizi.</p><!-- TODO traduzz -->
    <%= link_to 'Contattaci', "mailto:#{SETTINGS['application']['contact_us_email']}" %><!-- TODO traduzz -->
  </div>
</div>
<div id="info_container" style="display:none" data-currenturl="<%= request.url %>"></div>
<br class="clearfloat"/>
