<div class="gray-bar">
  <%= render :partial => "dashboard/graybar_left" %>
  <%= render :partial => "shared/search" %>
</div>
<br class="clearfloat">
<div class="griglia-contenuti">
  <%= render :partial => "dashboard/lessons_and_media_elements" %>
  <div id="info_container" style="display:none" data-currenturl="<%= request.url %>"></div>
  <br class="clearfloat">
  <div class="boxContentIndex">
    <p><%= t('capital_letter.help_using_desy') %></br>
    <a href=""><%= t('capital_letter.download_manual') %></a>
  </div>
  <div class="boxContentIndex" style="float:right">
    <p><%= t('capital_letter.talk_with_desy') %><br>
    <a href=""><%= t('capital_letter.contact_us') %></a></p>
  </div>
</div>
