<%
  pagination_locals = {}
  pagination_locals[:me_tot] = (@media_elements.length.to_f / CONFIG['media_elements_for_page_in_dashboard']).ceil
  pagination_locals[:l_tot] = (@lessons.length.to_f / CONFIG['lessons_for_page_in_dashboard']).ceil
%>

<div class="gray-bar">
  <%= render :partial => "dashboard/graybar_left" %>
  <%= render :partial => "shared/search" %>
</div>
<br class="clearfloat">
<div class="griglia-contenuti">
  <%= render :partial => "dashboard/lessons_and_media_elements" %>
  <br class="clearfloat">
  <div id="info_container" style="display:none" data-currenturl="<%= request.url %>"></div>
  <% if @lessons.any? || @media_elements.any? %>
    <%= render :partial => 'dashboard/pagination', :locals => pagination_locals %>
  <% end %>
  <br class="clearfloat">
  <div class="boxContentIndex">
    <p><%= t('captions.help_using_desy') %></br>
    <a><%= t('captions.download_manual') %></a>
  </div>
  <div class="boxContentIndex" style="float:right">
    <p><%= t('captions.talk_with_desy') %><br>
    <a><%= t('captions.contact_us') %></a></p>
  </div>
</div>

<%= render partial: 'media_elements/new_form_popup', locals: { media_element: @new_media_element } %>

<% if @lessons.empty? %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#dashboard_pagination').html('');
    });
  </script>
<% end %>
