<div class="box">
  <%= form_tag save_slide_path(slide.lesson_id, slide.id), :method => :get, :remote => true, :id => "form-#{slide.id}" do %>
    <% sme1 = slide.media_element_url_at(1) %>
    <%- if !sme1[:empty] %>
    <!--TODO replace align value from db (after default at 0)-->
    <%= hidden_field_tag :media_element_align_1, "#{sme1[:alignment]}px", :class =>"media_element_align_1" %>
    
    <div class="mask _mask_x">
      <%= link_to "<span class='rollover rollover-image' style='left:#{-sme1[:alignment]}px'><span class='add-image'></span></span><img src='#{sme1[:url]}' width ='1200' class='_slide_image cover-p1' />".html_safe, {:action => :show_gallery, :slide_id => slide.id, :lesson_id => slide.lesson_id, :position => 1} , :remote => true, :class => "show-gallery", "data-param"=> "1", :style => "left: #{sme1[:alignment]}px" %>
    </div>
      <%= hidden_field_tag :media_element_1, sme1[:media_element_id], :class=> "media-tag-cover-1"  %>
    <%- else %>
    <!--TODO replace align value from db (after default at 0)-->
    <%= hidden_field_tag :media_element_align_1, "0", :class =>"media_element_align_1" %>
    
      <%= hidden_field_tag :media_element_1, "", :class=> "media-tag-cover-1" %>
      <div class="cover-choose-image _cover_choose_image_1">
        <%= link_to image_tag("choose-image.png"), {:action => :show_gallery, :slide_id => slide.id, :lesson_id => slide.lesson_id, :position => 1} , :remote => true, :class => "show-gallery" %>
        <br />
        <%= t 'captions.choose_image' %>
      </div>
    <%- end %>
  <% end %>
	<div class="title">

    <h2><%= slide.lesson.title %></h2>
  </div>
</div>
<div class="cover-slide-footer">
  <div class="subject pull-left">
    <%= slide.lesson.subject.description %>
  </div>
  <div class="author pull-right">
    <%= t "captions.author"%>: <span class="name"><%=  @current_user.full_name %></span>
  </div>
</div>
