<div class="box">
  <%#= image_tag("http://lorempixel.com/900/560") %>
  <div class="cover-choose-image">
    <%= image_tag "choose-image.gif" %>
    <br />
    choose an image
  </div>
	<div class="title">

    <h2><%= slide.lesson.title %></h2>
  </div>
</div>
<div class="cover-slide-footer">
  <div class="subject pull-left">
    <%= slide.lesson.subject.description %>
  </div>
  <div class="author pull-right">
    <%= t "captions.author"%>: <span class="name"><%=  @current_user.full_name %></span>
  </div>
</div>
