<div class="box">
  <%= form_tag("/lesson_editor/save_slide", :method => :get, :remote => true) do %>
    <%= hidden_field_tag :slide_id, slide.id %>
    <%- if slide.media_element_at(1) %>
    <!--TODO replace align value from db (after default at 0)-->
    <%= hidden_field_tag :media_element_align_1, "#{slide.media_element_at(1).alignment ? slide.media_element_at(1).alignment : 0}px", :class =>"media_element_align_1" %>
    
    <div class="mask _mask_x">
      <%= link_to image_tag("http://lorempixel.com/1200/560/city/1", :width => "1200", :class=>"_slide_image cover-p1"), {:action => :show_gallery, :slide => slide.id, :position=>1} , :remote => true, :class => "show-gallery", "data-param"=> "1", :style => "left: #{slide.media_element_at(1).alignment}px" %>
    </div>
      <%= hidden_field_tag :media_element_1, slide.media_element_at(1).media_element_id, :class=> "media-tag-cover-1"  %>
    <%- else %>
    <!--TODO replace align value from db (after default at 0)-->
    <%= hidden_field_tag :media_element_align_1, "0", :class =>"media_element_align_1" %>
    
      <%= hidden_field_tag :media_element_1, "", :class=> "media-tag-cover-1" %>
      <div class="cover-choose-image _cover_choose_image_1">
        <%= link_to image_tag("choose-image.png"), {:action => :show_gallery, :slide => slide.id, :position=>1} , :remote => true, :class => "show-gallery" %>
        <br />
        <%= t 'captions.choose_image' %>
      </div>
    <%- end %>
  <% end %>
	<div class="title">

    <h2><%= slide.lesson.title %></h2>
  </div>
</div>
<div class="cover-slide-footer">
  <div class="subject pull-left">
    <%= slide.lesson.subject.description %>
  </div>
  <div class="author pull-right">
    <%= t "captions.author"%>: <span class="name"><%=  @current_user.full_name %></span>
  </div>
</div>
