<%= form_tag("/lesson_editor/save_slide", :remote => true) do %>
  <%= hidden_field_tag :slide_id, slide.id %>
    <div class="image-4-box">
      <%- if slide.has_media_element?(1) %>
        <%= link_to image_tag("http://lorempixel.com/420/255/abstract/1", :class=>"_slide_image image4-p1"), {:action => :show_gallery, :slide => slide.id, :position=>1} , :remote => true, :class => "show-gallery pull-right" %>
        <%= hidden_field_tag :media_element_1, slide.has_media_element?(1).media_element_id, :class=> "media-tag-cover-1"  %>
      <%- else %>
        <%= hidden_field_tag :media_element_1, "", :class=> "media-tag-cover-1" %>
        <div class="cover-choose-image choose-small _cover_choose_image_1 cover-choose-image-right">
          <%= link_to image_tag("choose-image.gif"), {:action => :show_gallery, :slide => slide.id, :position => 1} , :remote => true, :class => "show-gallery" %>
          <br />
          choose an image
        </div>
      <%- end %>
    </div>
    <div class="image-4-box">
    <%- if slide.has_media_element?(2) %>
      <%= link_to image_tag("http://lorempixel.com/420/255/abstract/2", :class=>"_slide_image image4-p2"), {:action => :show_gallery, :slide => slide.id, :position=>2} , :remote => true, :class => "show-gallery pull-left" %>
      <%= hidden_field_tag :media_element_2, slide.has_media_element?(2).media_element_id, :class=> "media-tag-cover-2"  %>
    <%- else %>
      <%= hidden_field_tag :media_element_2, "", :class=> "media-tag-cover-2" %>
      <div class="cover-choose-image choose-small _cover_choose_image_2 cover-choose-image-left">
        <%= link_to image_tag("choose-image.gif"), {:action => :show_gallery, :slide => slide.id, :position=>2} , :remote => true, :class => "show-gallery" %>
        <br />
        choose an image
      </div>
    <%- end %>
    </div>
    <div class="image-4-box">
    <%- if slide.has_media_element?(3) %>
      <%= link_to image_tag("http://lorempixel.com/420/255/abstract/3", :class=>"_slide_image image4-p3"), {:action => :show_gallery, :slide => slide.id, :position=>3} , :remote => true, :class => "show-gallery pull-right" %>
      <%= hidden_field_tag :media_element_3, slide.has_media_element?(3).media_element_id, :class=> "media-tag-cover-3"  %>
    <%- else %>
      <%= hidden_field_tag :media_element_3, "", :class=> "media-tag-cover-3" %>
      <div class="cover-choose-image choose-small _cover_choose_image_3 cover-choose-image-right">
        <%= link_to image_tag("choose-image.gif"), {:action => :show_gallery, :slide => slide.id, :position => 3} , :remote => true, :class => "show-gallery" %>
        <br />
        choose an image
      </div>
    <%- end %>
    </div>
    <div class="image-4-box">
    <%- if slide.has_media_element?(4) %>
      <%= link_to image_tag("http://lorempixel.com/420/255/abstract/4", :class=>"_slide_image image4-p4"), {:action => :show_gallery, :slide => slide.id, :position=>4} , :remote => true, :class => "show-gallery pull-left" %>
      <%= hidden_field_tag :media_element_4, slide.has_media_element?(4).media_element_id, :class=> "media-tag-cover-4"  %>
    <%- else %>
      <%= hidden_field_tag :media_element_4, "", :class=> "media-tag-cover-2" %>
      <div class="cover-choose-image choose-small _cover_choose_image_4 cover-choose-image-left">
        <%= link_to image_tag("choose-image.gif"), {:action => :show_gallery, :slide => slide.id, :position=>4} , :remote => true, :class => "show-gallery" %>
        <br />
        choose an image
      </div>
    <%- end %>
    </div>
<% end %>