<%= form_tag "/lesson_editor/save_slide", :method => :get, :remote => true, :id => "form-#{slide.id}" do %>
  <%= hidden_field_tag :slide_id, slide.id %>
  <h2 class="text">
    <%= text_field_tag :title, slide.title ? slide.title : "#{t 'captions.enter_title'}" %>
  </h2>
  <div class="image1-content">
    <%= text_area_tag :text, slide.text ? slide.text.html_safe : "#{t 'descriptions.slide_text'}", :id=> "ta-#{slide.id}", :class=>"tinymce"%>
  </div>
  <%- if slide.media_element_at(1) %>
    <!--TODO replace align value from db (after default at 0)-->
    <%= hidden_field_tag :media_element_align_1, "#{slide.media_element_at(1).alignment ? slide.media_element_at(1).alignment : 0}px", :class =>"media_element_align_1" %>
    <div class="mask _mask_x">
      <%= link_to "<span class='rollover rollover-image'></span><img src='http://lorempixel.com/1100/400/abstract/1' class='_slide_image image1-p1' width='1100' />".html_safe, {:action => :show_gallery, :slide => slide.id, :position=>1} , :remote => true, :class => "show-gallery", "data-param"=> "1", :style => "left: #{slide.media_element_at(1).alignment}px" %>
      <%= hidden_field_tag :media_element_1, slide.media_element_at(1).media_element_id, :class=> "media-tag-cover-1"  %>
    </div>
  <%- else %>
  <!--TODO replace align value from db (after default at 0)-->
  <%= hidden_field_tag :media_element_align_1, "0", :class =>"media_element_align_1" %>
    <%= hidden_field_tag :media_element_1, "", :class=> "media-tag-cover-1" %>
    <div class="cover-choose-image _cover_choose_image_1 cover-choose-image-left">
      <%= link_to image_tag("choose-image.png"), {:action => :show_gallery, :slide => slide.id, :position => 1} , :remote => true, :class => "show-gallery image1-p1" %>
      <br />
      <%= t 'captions.choose_image' %>
    </div>
  <%- end %>
<% end %>