<%= form_tag save_slide_path(slide.lesson_id, slide.id), :method => :get, :remote => true, :id => "form-#{slide.id}" do %>
    <% sme1 = slide.image_at(1) %>
    <%- if !sme1[:empty] %>
      <span class="spacer20"></span>
      <%= render :partial => "/lesson_editor/slides/parts/filled_image", :locals => {:slide => slide, :position => 1} %>
    <%- else %>
      <%= hidden_field_tag :media_element_align_1, "0", :class =>"media_element_align_1" %>
      <%= hidden_field_tag :media_element_1, "", :class=> "media-tag-cover-1" %>
      <span class="spacer20"></span>
      <div class="cover-choose-image _cover_choose_image_1 cover-choose-image-right">
        <%= link_to image_tag("choose-image.png"), {:action => :show_gallery, :slide_id => slide.id, :lesson_id => slide.lesson_id, :position => 1} , :remote => true, :class => "show-gallery" %>
        <br />
        <%= t 'captions.choose_image' %>
      </div>
    <%- end %>

    <% sme2 = slide.image_at(2) %>
    <%- if !sme2[:empty] %>
      <%= render :partial => "/lesson_editor/slides/parts/filled_image", :locals => {:slide => slide, :position => 2} %>
    <%- else %>
      <%= hidden_field_tag :media_element_align_2, "0", :class =>"media_element_align_2" %>
      <%= hidden_field_tag :media_element_2, "", :class=> "media-tag-cover-2" %>
      <div class="cover-choose-image _cover_choose_image_2 cover-choose-image-left">
        <%= link_to image_tag("choose-image.png"), {:action => :show_gallery, :slide_id => slide.id, :lesson_id => slide.lesson_id, :position => 2} , :remote => true, :class => "show-gallery" %>
        <br />
        <%= t 'captions.choose_image' %>
      </div>
    <%- end %>
    
<% end %>
