<%= form_tag "/lesson_editor/save_slide", :method => :get, :remote => true, :id => "form-#{slide.id}" do %>
  <%= hidden_field_tag :slide_id, slide.id %>
    <%- if slide.media_element_at(1) %>
    <!--TODO replace align value from db (after default at 0)-->
    <%= hidden_field_tag :media_element_align_1, "#{slide.media_element_at(1).alignment ? slide.media_element_at(1).alignment : 0}px", :class =>"media_element_align_1" %>
      <div class="image-4-box mask _mask_x image4-p1">
        <%= link_to image_tag("http://lorempixel.com/600/255/abstract/1", :width => "600", :class=>"_slide_image image4-p1"), {:action => :show_gallery, :slide => slide.id, :position=>1} , :remote => true, :class => "show-gallery", "data-param" => "1", :style => "left: #{slide.media_element_at(1).alignment}px" %>
        <%= hidden_field_tag :media_element_1, slide.media_element_at(1).media_element_id, :class=> "media-tag-cover-1"  %>
      </div>
    <%- else %>
      <!--TODO replace align value from db (after default at 0)-->
      <%= hidden_field_tag :media_element_align_1, "0", :class =>"media_element_align_1" %>
      <%= hidden_field_tag :media_element_1, "", :class=> "media-tag-cover-1" %>
      <div class="cover-choose-image choose-small _cover_choose_image_1 cover-choose-image-right">
        <%= link_to image_tag("choose-image.png"), {:action => :show_gallery, :slide => slide.id, :position => 1} , :remote => true, :class => "show-gallery _choose" %>
        <br />
        <%= t 'captions.choose_image' %>
      </div>
    <%- end %>
    
    <%- if slide.media_element_at(2) %>
      <!--TODO replace align value from db (after default at 0)-->
      <%= hidden_field_tag :media_element_align_2, "#{slide.media_element_at(2).alignment ? slide.media_element_at(2).alignment : 0}px", :class =>"media_element_align_2" %>
      <div class="image-4-box mask _mask_x image4-p2">
      <%= link_to image_tag("http://lorempixel.com/600/255/abstract/2", :width => "600", :class=>"_slide_image image4-p2"), {:action => :show_gallery, :slide => slide.id, :position=>2} , :remote => true, :class => "show-gallery", "data-param" => "2", :style => "left: #{slide.media_element_at(2).alignment}px" %>
      <%= hidden_field_tag :media_element_2, slide.media_element_at(2).media_element_id, :class=> "media-tag-cover-2"  %>
      </div>
    <%- else %>
    <!--TODO replace align value from db (after default at 0)-->
    <%= hidden_field_tag :media_element_align_2, "0", :class =>"media_element_align_2" %>
      <%= hidden_field_tag :media_element_2, "", :class=> "media-tag-cover-2" %>
      <div class="cover-choose-image choose-small _cover_choose_image_2 cover-choose-image-left">
        <%= link_to image_tag("choose-image.png"), {:action => :show_gallery, :slide => slide.id, :position=>2} , :remote => true, :class => "show-gallery _choose" %>
        <br />
        <%= t 'captions.choose_image' %>
      </div>
    <%- end %>

    <%- if slide.media_element_at(3) %>
      <!--TODO replace align value from db (after default at 0)-->
      <%= hidden_field_tag :media_element_align_3, "#{slide.media_element_at(3).alignment ? slide.media_element_at(3).alignment : 0}px", :class =>"media_element_align_3" %>
      <div class="image-4-box mask _mask_x image4-p3">
        <%= link_to image_tag("http://lorempixel.com/600/255/abstract/3", :width => "600", :class=>"_slide_image image4-p3"), {:action => :show_gallery, :slide => slide.id, :position=>3} , :remote => true, :class => "show-gallery", "data-param" => "3", :style => "left: #{slide.media_element_at(3).alignment}px" %>
        <%= hidden_field_tag :media_element_3, slide.media_element_at(3).media_element_id, :class=> "media-tag-cover-3"  %>
      </div>
    <%- else %>
      <!--TODO replace align value from db (after default at 0)-->
      <%= hidden_field_tag :media_element_align_3, "0", :class =>"media_element_align_3" %>
      <%= hidden_field_tag :media_element_3, "", :class=> "media-tag-cover-3" %>
      <div class="cover-choose-image choose-small _cover_choose_image_3 cover-choose-image-right">
        <%= link_to image_tag("choose-image.png"), {:action => :show_gallery, :slide => slide.id, :position => 3} , :remote => true, :class => "show-gallery _choose" %>
        <br />
        <%= t 'captions.choose_image' %>
      </div>
    <%- end %>

    <%- if slide.media_element_at(4) %>
    <!--TODO replace align value from db (after default at 0)-->
    <%= hidden_field_tag :media_element_align_4, "#{slide.media_element_at(4).alignment ? slide.media_element_at(4).alignment : 0}px", :class =>"media_element_align_4" %>
      <div class="image-4-box mask _mask_x image4-p4">
        <%= link_to image_tag("http://lorempixel.com/600/255/abstract/4", :width => "600", :class=>"_slide_image image4-p4"), {:action => :show_gallery, :slide => slide.id, :position=>4} , :remote => true, :class => "show-gallery", "data-param" => "4", :style => "left: #{slide.media_element_at(4).alignment}px" %>
        <%= hidden_field_tag :media_element_4, slide.media_element_at(4).media_element_id, :class=> "media-tag-cover-4"  %>
      </div>
    <%- else %>
      <%= hidden_field_tag :media_element_align_4, "0", :class =>"media_element_align_4" %>
      <%= hidden_field_tag :media_element_4, "", :class=> "media-tag-cover-2" %>
      <div class="cover-choose-image choose-small _cover_choose_image_4 cover-choose-image-left">
        <%= link_to image_tag("choose-image.png"), {:action => :show_gallery, :slide => slide.id, :position=>4} , :remote => true, :class => "show-gallery _choose" %>
        <br />
        <%= t 'captions.choose_image' %>
      </div>
    <%- end %>
<% end %>