<%= form_tag save_slide_path(slide.lesson_id, slide.id), :method => :get, :remote => true, :id => "form-#{slide.id}" do %>
  <h2>
    <%= text_field_tag :title, slide.title ? slide.title : "#{t 'captions.enter_title'}" %>
  </h2>
  <div class="video1-content">
    <%= text_area_tag :text, slide.text ? slide.text.html_safe : "#{t 'descriptions.slide_text'}",:id => "ta-#{slide.id}", :class=>"tinymce"%>
  </div>
  <%- video = slide.video_at(1) %>
  <%- if video %>
    <%= link_to "<span class='rollover rollover-video'></span>#{render(:partial => 'shared/players/video', :locals => {:video => video})}".html_safe, {:action => :show_gallery, :slide_id => slide.id, :lesson_id => slide.lesson_id, :position => 1} , :remote => true, :class => "show-gallery", "data-param"=> "1" %>
    <%= hidden_field_tag :media_element_1, video.id, :class=> "media-tag-cover-1"  %>
  <%- else %>
    <%= hidden_field_tag :media_element_1, "", :class=> "media-tag-cover-1" %>
    <div class="cover-choose-image _cover_choose_image_1 cover-choose-image-left">
      <a class="show-gallery video1-p1 _show_video_gallery_in_lesson_editor"><%= image_tag "choose-video.png" %></a>
      <br/>
      <%= t('captions.choose_video') %>
    </div>
  <%- end %>
<% end %>
