<%
  audio_class = audio.nil? ? '_empty_audio_player' : "_instance_of_audio_player_#{audio.id}"
%>

<div id="instance_<%= @audio_counter[0] %>_<%= @audio_counter[1] %>_of_audio_player" class="audioPlayer" data-media-type="audio">
  <audio>
    <source src="<%= audio.nil? ? '' : audio.ogg %>" type="audio/ogg">
    <source src="<%= audio.nil? ? '' : audio.mp3 %>" type="audio/mp3">
    <%= t('captions.your_browser_does_not_support_audio') %>
  </audio>
	
  <a class="play _media_player_play"></a>
  <a class="pause _media_player_pause"></a>
  <div class="audioSlider _media_player_slider"></div>
  <div class="sliderDisabler _media_player_slider_disabler"></div> <!-- FIXME aurelia: questo div deve coprire con opacità lo slider per renderlo non cliccabile -->
  <div style="position:relative;left:150px;width:100px;height:30px;background-color:aqua;color:black;float:left" class="_current_time">0</div>
  <div style="position:relative;left:200px;width:100px;height:30px;background-color:aqua;color:black;float:left"><%= audio.duration %></div>
</div>

<script type="text/javascript">
  
  initializeMediaSlider('instance_<%= @audio_counter[0] %>_<%= @audio_counter[1] %>_of_audio_player', 'audio', <%= audio.duration %>);
  
</script>

<%
  @audio_counter[1] += 1
%>
