<%
  audio_class = '_empty_audio_player'
  ogg = ''
  mp3 = ''
  duration = ''
  if audio
    audio_class = "_instance_of_player_#{audio.id}"
    ogg = audio.ogg_path
    mp3 = audio.mp3_path
    duration = seconds_to_time(audio.min_duration)
  end
%>

<div id="instance_<%= @audio_counter[0] %>_<%= @audio_counter[1] %>_of_audio_player" class="audioPlayer <%= audio_class %>" data-media-type="audio">
  <audio>
    <source src="<%= ogg  %>" type="audio/ogg">
    <source src="<%= mp3 %>" type="audio/mp3">
    <%= t('captions.your_browser_does_not_support_audio') %>
  </audio>
  <a class="play _media_player_play"></a>
  <a class="pause _media_player_pause"></a>
  <div class="_media_player_current_time secondTime">0</div>
  <div class="audioSlider _media_player_slider"></div>
  <div class="secondTime"><%= duration  %></div>
  <div class="sliderDisabler _media_player_slider_disabler"></div>
</div>


<% if audio %>
  <script type="text/javascript">
    initializeMedia('instance_<%= @audio_counter[0] %>_<%= @audio_counter[1] %>_of_audio_player', 'audio', <%= audio.min_duration %>);
  </script>
<% end %>


<%
  @audio_counter[1] += 1
%>
