<%
  video_class = video.nil? ? '_empty_video_player' : "_instance_of_video_player_#{video.id}"
%>

<div id="instance_<%= @video_counter[0] %>_<%= @video_counter[1] %>_of_video_player" class="videoPlayer" data-media-type="video">
  <video>
    <source src="<%= video.nil? ? '' : video.webm %>" type="video/webm">
    <source src="<%= video.nil? ? '' : video.mp4 %>" type="video/mp4">
    <%= t('captions.your_browser_does_not_support_video') %>
  </video>
	
  <a class="play _media_player_play"></a>
  <a class="pause _media_player_pause"></a>
  
	<div class="_media_player_current_time secondTime">0</div>
  <div class="videoSlider _media_player_slider"></div>
  <div  class="secondTime"><%= seconds_to_time video.duration %></div>
	<a class="fullScreen _video_full_screen"></a>
	<div class="sliderDisabler _media_player_slider_disabler"></div> 
</div>

<script type="text/javascript">
  
  initializeMedia('instance_<%= @video_counter[0] %>_<%= @video_counter[1] %>_of_video_player', 'video', <%= video.duration %>);
  
</script>

<%
  @video_counter[1] += 1
%>
