<%
  video_class = '_empty_video_player'
  webm = ''
  mp4 = ''
  duration = ''
  if video
    video_class = "_instance_of_player_#{video.id}"
    webm = video.webm
    mp4 = video.mp4
    duration = seconds_to_time(video.duration)
  end
%>

<div id="instance_<%= @video_counter[0] %>_<%= @video_counter[1] %>_of_video_player" class="videoPlayer <%= video_class %>" data-media-type="video">
  <video>
    <source src="<%= webm %>" type="video/webm">
    <source src="<%= mp4 %>" type="video/mp4">
    <%= t('captions.your_browser_does_not_support_video') %>
  </video>
  <a class="play _media_player_play"></a>
  <a class="pause _media_player_pause"></a>
  <div class="_media_player_current_time secondTime">0</div>
  <div class="videoSlider _media_player_slider"></div>
  <div  class="secondTime"><%= duration %></div>
  <a class="fullScreen _video_full_screen"></a>
  <div class="sliderDisabler _media_player_slider_disabler"></div>
</div>


<% if video %>
  <script type="text/javascript">
    initializeMedia('instance_<%= @video_counter[0] %>_<%= @video_counter[1] %>_of_video_player', 'video', <%= video.duration %>);
  </script>
<% end %>


<%
  @video_counter[1] += 1
%>
