<%
  video_class = video.nil? ? '_empty_video_player' : "_instance_of_video_player_#{video.id}"
%>

<div id="instance_<%= @video_counter[0] %>_<%= @video_counter[1] %>_of_video_player" class="videoPlayer _video_player" data-media-type="video">
  <video>
    <source src="<%= video.nil? ? '' : video.webm %>" type="video/webm">
    <source src="<%= video.nil? ? '' : video.mp4 %>" type="video/mp4">
    <%= t('captions.your_browser_does_not_support_video') %>
  </video>
  <a class="play _play"></a>
  <a class="pause _pause"></a>
  <div class="videoSlider _slider"></div>
  <div class="sliderDisabler _slider_disabler"></div> <!-- FIXME aurelia: questo div deve coprire con opacità lo slider per renderlo non cliccabile -->
  <div style="position:relative;left:150px;width:100px;height:30px;background-color:aqua;color:black;float:left" class="_current_time">0</div>
  <div style="position:relative;left:200px;width:100px;height:30px;background-color:aqua;color:black;float:left"><%= video.duration %></div>
</div>

<script type="text/javascript">
  
  initializeMediaSlider('instance_<%= @video_counter[0] %>_<%= @video_counter[1] %>_of_video_player', 'video', <%= video.duration %>);
  
</script>

<%
  @video_counter[1] += 1
%>
