<%
  my_tags = Tagging.includes(:tag).where(:taggable_type => 'MediaElement', :taggable_id => media_element.id).order(:tag_id)
%>

<div id="form_info_update_media_element_in_editor" class="_<%= media_element.sti_type %> formInfoMediaElementEditor" style="display:none" data-title="<%= media_element.title %>" data-description="<%= media_element.description %>">
  <div class="contentFormInfoMediaElementEditor">
     <div class="titleFormInfo">
      <div class="<%= media_element.sti_type.downcase %>Icon pull-left">&nbsp;</div>
      <h1 class="pull-left"><%= t('forms.overwrite_media_element_in_editor.title') %></h1>
      <br class="clearfloat"/>
      <h2 class="pull-left"><%= t('forms.overwrite_media_element_in_editor.description') %></h2>
    </div>
    <div class="error_messages"></div>
    <div class="cols" style="float:left">
      <%= text_field_tag 'update_title', media_element.title %><br/>
      <%= text_area_tag 'update_description', media_element.description %>
    </div>
    <div class="cols" style="float:right">
      <div class="_tags_placeholder" data-tags="<%= media_element.tags %>" style="display:none">
        <% my_tags.reverse.each do |t| %>
          <span><%= t.tag.word.strip %><a class="remove"></a></span>
        <% end %>
      </div>
      <div class="ui-widget pull-right _tags_container">
        <% my_tags.each do |t| %>
          <span><%= t.tag.word.strip %><a class="remove"></a></span>
        <% end %>
        <%= text_field_tag 'update_tags', '', :maxlength => SETTINGS['max_tag_length'], :class => 'lower' %>
        <%= hidden_field_tag 'update_tags_value', media_element.tags %>
      </div>
    </div>
    <br class="clearfloat"/>
    <div class="cols" style="float:right">
      <a class="_cancel buttonForm lower"><%= t('forms.overwrite_media_element_in_editor.cancel') %></a>
      <a class="_commit buttonForm lower"><%= t('forms.overwrite_media_element_in_editor.done') %></a>
    </div>
  </div>
</div>
