<%
  title_max = t('forms.placeholders.title', :num => t('language_parameters.media_element.length_title').to_s).downcase 
  description_max = t('forms.placeholders.description', :num => t('language_parameters.media_element.length_description').to_s).downcase
  tags_max = t('forms.placeholders.tags', :items => SETTINGS['min_tags_for_item'].to_s, :num => SETTINGS['max_tag_length'].to_s).downcase
%>

<div id="new-media-element" class="formMediaElement" style="display:none" data-placeholder-title="<%= title_max %>" data-placeholder-description="<%= description_max %>" data-placeholder-tags="<%= tags_max %>">
  <div class="form-selector-class">
    <div class="part1">
      <div class="attachment">
        <div class="icon video"></div> <!-- TODO formms mettere il tipo giusto -->
      </div>
      <div class="title_and_subtitle">
        <h1>
          <%= t('forms.new_media_element_in_editor.title') %>
        </h1>
        <p>
          <%= t('forms.new_media_element_in_editor.description') %>
        </p>
      </div>
    </div>
    <div class="part2">
      <div class="title_and_description">
        <input class="title" type="text" value="" name="title"/>
        <input class="title_placeholder" type="hidden" value="" name="title_placeholder"/>
        <textarea class="description" name="description"></textarea>
        <input class="description_placeholder" type="hidden" value="" name="description_placeholder"/>
      </div>
      <div class="tags_loader">
        <div class="_tags_container" data-max-width="377.5" data-lines="5">
          <input class="tags" type="text" value="" maxlength="<%= SETTINGS['max_tag_length'] %>"/>
          <div class="_placeholder">
            <%= tags_max %>
          </div>
          <input class="tags_value" type="hidden" value="" name="tags_value"/>
        </div>
      </div>
    </div>
    <div class="part3">
      <div class="on-left">
        <% if edited %> <!-- TODO formms sistemarlo, decidere la struttura, rinominare gli inputs -->
          <%= t('forms.new_media_element_in_editor.conserve_tags') %>
          <div class="hidden" style="display:none">
            <div class="tags_boh">
              <% Tagging.includes(:tag).where(:taggable_type => 'MediaElement', :taggable_id => edited.id).order(:tag_id).reverse.each do |t| %>
                <span><%= t.tag.word.strip %><a class="remove"></a></span>
              <% end %>
            </div>
            <input class="edited_tags" type="hidden" value="<%= edited.tags %>"/>
            <input class="edited_title" type="hidden" value="<%= edited.title %>"/>
            <input class="edited_description" type="hidden" value="<%= edited.description %>"/>
          </div>
        <% end %>
      </div>
      <div class="on-right">
        <a class="submit"><%= t('forms.new_media_element_in_editor.done').downcase %></a>
        <a class="close"><%= t('forms.new_media_element_in_editor.cancel').downcase %></a>
      </div>
    </div>
</div>
