<%
  title_max = t('forms.placeholders.title', :num => t('language_parameters.media_element.length_title').to_s).downcase 
  description_max = t('forms.placeholders.description', :num => t('language_parameters.media_element.length_description').to_s).downcase
  tags_max = t('forms.placeholders.tags', :items => SETTINGS['min_tags_for_item'].to_s, :num => SETTINGS['max_tag_length'].to_s).downcase
%>

<div id="form_info_new_media_element_in_editor" class="_<%= sti_type %> formInfoMediaElementEditor" style="display:none" data-title="<%= title_max %>" data-description="<%= description_max %>">
  <div class="contentFormInfoMediaElementEditor">
    <div class="titleFormInfo">
      <div class="<%= sti_type.downcase %>Icon pull-left">&nbsp;</div>
      <h1 class="pull-left"><%= t('forms.new_media_element_in_editor.title') %></h1>
      <br style="clear:float">
      <h2 class="pull-left"><%= t('forms.new_media_element_in_editor.description') %></h2>
    </div>
    <div class="error_messages"></div>
    <div class="cols" style="float:left">
      <%= text_field_tag 'new_title', title_max %>
      <%= hidden_field_tag 'new_title_placeholder', '' %>
      <br>
      <%= text_area_tag 'new_description', description_max  %>
      <%= hidden_field_tag 'new_description_placeholder', '' %>
    </div>
    <div class="cols" style="float:right">
      <div class="ui-widget pull-right _tags_container">
        <%= text_field_tag 'new_tags', '', :maxlength => SETTINGS['max_tag_length'], :class => 'lower' %>
        <div class="_placeholder">
          <%= tags_max %>
        </div>
        <%= hidden_field_tag 'new_tags_value', '' %>
      </div>
    </div>
    <br class="clearfloat">
    <div class="cols ad_hoc_per_check" style="float:right">
      <div id="only_to_conserve_tags">
        <input id="check_ad_hoc" type="checkbox">
        ciao ciao ciao ciao ciao
      </div>
      <a class="_commit buttonForm lower"><%= t('forms.new_media_element_in_editor.done') %></a>
      <a class="_cancel buttonForm lower"><%= t('forms.new_media_element_in_editor.cancel') %></a>
    </div>
  </div>
</div>
