<%
  title_max = t('captions.title_max_chars', :num => t('language_parameters.media_element.length_title').to_s).downcase 
  description_max = t('captions.description_max_chars', :num => t('language_parameters.media_element.length_description').to_s).downcase
  tags_max = t('captions.tags_max', :items => SETTINGS['min_tags_for_item'].to_s, :num => SETTINGS['max_tag_length'].to_s).downcase
%>

<div id="form_info_new_media_element_in_editor" class="_<%= sti_type %> formInfoMediaElementEditor" style="display:none" data-title="<%= title_max %>" data-description="<%= description_max %>" data-tags="<%= tags_max %>">
  <div class="contentFormInfoMediaElementEditor">
    <div class="titleFormInfo">
      <div class="<%= sti_type.downcase %>Icon pull-left">&nbsp;</div>
      <h1 class="pull-left"><%= t('captions.creating_new_media_element') %></h1>
      <br style="clear:float">
      <h2 class="pull-left"><%= t('captions.enter_new_media_element_details') %></h2>
    </div>
    <div class="error_messages"></div>
    <div class="cols" style="float:left">
      <%= text_field_tag 'new_title', title_max %>
      <%= hidden_field_tag 'new_title_placeholder', '' %>
      <br>
      <%= text_area_tag 'new_description', description_max  %>
      <%= hidden_field_tag 'new_description_placeholder', '' %>
    </div>
    <div class="cols" style="float:right">
      <div class="ui-widget pull-right _tags_container">
        <%= text_field_tag 'tags', '', :maxlength => SETTINGS['max_tag_length'], :class => 'lower' %>
        <div class="_placeholder">
          <%= tags_max %>
        </div>
        <%= hidden_field_tag 'tags_value', '' %>
      </div>
    </div>
    <br class="clearfloat">
    <div class="cols" style="float:right">
      <a class="_cancel buttonForm"><%= t('captions.cancel') %></a>
      <a class="_commit buttonForm"><%= t('captions.save') %></a>
    </div>
  </div>
</div>
