<% sme = slide.image_at(position) %>
<%= hidden_field_tag "media_element_align_#{position}", "#{sme[:alignment]}px", :class =>"media_element_align_1" %>
<%= hidden_field_tag "media_element_#{position}", sme[:media_element_id], :class=> "media-tag-cover-#{position}"  %>

<% if horizontal_mask?(sme[:width],sme[:height],slide.kind) %>

  <div class="mask <%=slide.kind%>-p<%=position%> _mask_x">
    <%= link_to "<span class='rollover rollover-image' style='left:#{-sme[:alignment]}px'><span class='add-image'></span></span><img src='#{sme[:url]}' width ='#{resize_width(sme[:width],sme[:height],slide.kind)}' class='_slide_image #{slide.kind}-p#{position}' />".html_safe, {:action => :show_gallery, :slide_id => slide.id, :lesson_id => slide.lesson_id, :position => position} , :remote => true, :class => "show-gallery", "data-param"=> "#{position}", :style => "left: #{sme[:alignment]}px" %>
    <%= text_field_tag "caption_#{position}", sme[:caption], :class => "caption", :placeholder => "#{t 'captions.image_caption_placeholder'}", :maxlength =>"60" %>
  </div>

<% else %>

  <div class="mask <%=slide.kind%>-p<%=position%> _mask_y">
    <%= link_to "<span class='rollover rollover-image' style='top:#{-sme[:alignment]}px'><span class='add-image'></span></span><img src='#{sme[:url]}' height ='#{resize_height(sme[:width],sme[:height],slide.kind)}' class='_slide_image #{slide.kind}-p#{position}' />".html_safe, {:action => :show_gallery, :slide_id => slide.id, :lesson_id => slide.lesson_id, :position => position} , :remote => true, :class => "show-gallery", "data-param"=> "#{position}", :style => "top: #{sme[:alignment]}px" %>
    <%= text_field_tag "caption_#{position}", sme[:caption], :class => "caption", :placeholder => "#{t 'captions.image_caption_placeholder'}", :maxlength =>"60" %>
  </div>

<% end %>
