<%
  width = image.media_element.width
  height = image.media_element.height
  url = image.media_element.url
  mask = '_mask_y'
  style = "top:#{image.alignment}px"
  orientation = "height=\"#{resize_height(width, height, slide.kind)}\""
  if horizontal_mask?(width, height, slide.kind)
    mask = '_mask_x'
    style = "left:#{image.alignment}px"
    orientation = "width=\"#{resize_width(width, height, slide.kind)}\""
  end
%>

<%= hidden_field_tag "media_element_align_#{position}", "#{image.alignment}px", :class =>"media_element_align_1" %>
<%= hidden_field_tag "media_element_#{position}", image.media_element_id, :class=> "media-tag-cover-#{position}" %>

<div class="mask <%= slide.kind %>-p<%= position %> <%= mask %>">
  <a class="show-gallery _show_image_gallery_in_lesson_editor" style="<%= style %>">
    <span class="rollover rollover-image" style="<%= style %>">
      <span class="add-image"></span>
    </span>
    <img src="<%= url %>" class="_slide_image <%= slide.kind %>-p<%= position %>" <%= orientation %>/>
  </a>
  <%= text_field_tag "caption_#{position}", image.caption, :class => "caption", :placeholder => t('captions.image_caption_placeholder'), :maxlength =>"60" %>
</div>
