<%
  empty_mask_class = "cover-choose-image _empty_video_in_slide"
%>


<div id="media_element_<%= position %>_in_slide_<%= slide.id %>" class="_video_container_in_lesson_editor">
  
  <% if video %>
    <%= hidden_field_tag "media_element_#{position}", video.id, :class => "media-tag-cover-#{position} _input_video_id" %>
  <% else %>
    <%= hidden_field_tag "media_element_#{position}", "", :class => "media-tag-cover-#{position} _input_video_id" %>
  <% end %>
  
  <div class="<%= slide.kind %>-p<%= position %> _full_video_in_slide" style="display:<%= video.nil? ? 'none'.html_safe : 'block'.html_safe %>">
    <div class="_rolloverable" data-slide-id="<%= slide.id %>" data-position="<%= position %>" data-rolloverable="true">
      <%= render(:partial => 'shared/players/video', :locals => {:video => video, :initialize_now => true}) %>
    </div>
    <span class="add-video _show_video_gallery_in_lesson_editor _lesson_editor_rollover_content" data-position="<%= position %>" style="display:none" title="<%= t('titles.lesson_editor.change_video') %>"></span>
  </div>
  
  <div class="<%= empty_mask_class.html_safe %>" style="display:<%= video.nil? ? 'block'.html_safe : 'none'.html_safe %>">
    <a class="video1-p1 _show_video_gallery_in_lesson_editor" data-position="<%= position %>"><%= image_tag "choose-video.png" %></a>
    <br/>
    <p class="lower"><%= t('lesson_editor.choose_video') %></p>
  </div>
  
</div>
