<%
  empty_mask_class = "cover-choose-image #{classes}"
%>


<div id="media_element_<%= position %>_in_slide_<%= slide.id %>" class="_image_container_in_lesson_editor contentOf-<%= slide.kind %>">
  
  <% if video %>
    <%= hidden_field_tag "media_element_#{position}", video.id, :class=> "media-tag-cover-#{position}" %>
  <% else %>
    <%= hidden_field_tag "media_element_#{position}", "", :class=> "media-tag-cover-#{position}" %>
  <% end %>
  
  <div class="<%= slide.kind %>-p<%= position %> _full_video_in_slide" style="display:<%= video.nil? ? 'none'.html_safe : 'block'.html_safe %>">
    <a class="show-gallery _lesson_editor_rollover" data-slide-id="<%= slide.id %>" data-position="<%= position %>">
      <%= render(:partial => 'shared/players/video', :locals => {:video => video}) %>
    </a>
    <span class="add-video _show_video_gallery_in_lesson_editor _lesson_editor_rollover_content" data-position="<%= position %>"></span>
  </div>
  
  <div class="<%= empty_mask_class.html_safe %>" style="display:<%= video.nil? ? 'block'.html_safe : 'none'.html_safe %>">
    <a class="show-gallery video1-p1 _show_video_gallery_in_lesson_editor"></a>
    <br/>
    <%= t('captions.choose_video') %>
  </div>
  
</div>
