<div class="header">
  <div class="headerMenu">
    <ul>
    <li><a id="prelogin_link_to_home" class="current _prelogin_link"><%= t('captions.home') %></a></li>
      <li><a id="prelogin_link_to_what_is_desy" class="_prelogin_link"><%= t('captions.what_is_desy') %></a></li>
      <li><a id="prelogin_link_to_registration" class="_prelogin_link"><%= t('captions.register') %></a></li>
      <li><a id="prelogin_link_to_contact_us" class="_prelogin_link"><%= t('captions.contact_us') %></a></li>
    </ul>
    <%= render :partial => "/prelogin/login" %>
  </div>
</div>
