<div class="header">
  <div class="headerMenu">
  <ul>
	  <li><a href="">Home</a></li>
    <li><a href=""><%= t('captions.what_is_desy') %></a></li>
    <li><a href=""><%= t('captions.learning_goals') %></a></li>
    <li><%= link_to(t('captions.register'), sign_up_path) %></li>
    <li><a href=""><%= t('captions.contact_us') %></a></li>
  </ul>
  <%= render :partial => "/prelogin/login" %>
</div>