<%= render :partial => "prelogin/header" %>



<div class="containerText">
  <div class="fltlft" style="width:47%">
    <%= image_tag "logo_prelogin.png" %>
  </div>
  <div class="fltlft" style="width:26%">
    <h1><%= t('captions.discover_a_new_way_of_teaching') %></h1>
    <p><%= t('descriptions.prelogin') %></p>
    <p><a href=""><%= t('captions.watch_the_video') %></a></p>
  </div>
  <div class="fltrt">
    <%= image_tag "screenshot_elements.jpg" %>
  </div>
</div>

<br class="clearfloat">
<div class="footer">
  <%= t('captions.copyright') %>
</div>
