<div class="header">
  <div class="headerMenu">
  <ul>
    <li><%= link_to t('prelogin.main_page.menu_link'), root_path, :class => 'current' %></li>
    <li><%= link_to t('prelogin.what_is_desy.menu_link', :desy => SETTINGS['application_name']), what_is_desy_path %></li>
    <li><%= link_to t('prelogin.sign_up.menu_link'), sign_up_path %></li>
    <li><a href="mailto:<%= SETTINGS['application']['maintainer']['emails'][0] %>"><%= t('prelogin.contact_us.menu_link') %></a></li>
  </ul>
  <%= render :partial => "/prelogin/login" %>
  </div>
</div>

<div class="containerText">
  <div class="fltlft" style="width:47%">
    <%= image_tag "logo_prelogin.png" %>
  </div>
  <div class="fltlft" style="width:26%">
    <h1><%= t('prelogin.main_page.title', :desy => SETTINGS['application_name']) %></h1>
    <p><%= t('prelogin.main_page.description', :desy => SETTINGS['application_name']).html_safe %></p>
    <p><a href="http://www.youtube.com/watch?v=Kel6FHJ8SWI&feature=youtu.be" target="_blank"><%= t('prelogin.main_page.video') %></a></p>
  </div>
  <div class="fltrt">
    <%= image_tag "screenshot_elements.jpg" %>
  </div>
</div>
<br class="clearfloat">
<div class="footer">
 <div class="fltlft" >
      <img src="<%= asset_path 'partner_logo.jpg' %>">
    </div>
    <div class="fltrt" style="padding-top:20px">
      <%= SETTINGS['application_copyright'] %>
    </div>
</div>
