<div class="header">
  <div class="headerMenu">
  <ul>
    <li><%= link_to t('captions.home'), home_path, :class => 'current' %></li>
    <li><%= link_to t('captions.what_is_desy'), what_is_desy_path %></li>
    <li><%= link_to(t('captions.register'), sign_up_path) %></li>
    <li><%= link_to t('captions.contact_us'), contact_us_path %></li>
  </ul>
  <%= render :partial => "/prelogin/login" %>
  </div>
</div>

<div class="containerText">
  <div class="fltlft" style="width:47%">
    <%= image_tag "logo_prelogin.png" %>
  </div>
  <div class="fltlft" style="width:26%">
    <h1><%= t('captions.discover_a_new_way_of_teaching') %></h1>
    <p><%= t('descriptions.prelogin').html_safe %></p>
    <p><a href="http://www.youtube.com/watch?v=DQr22YaTzbQ&feature=youtu.be" target="_blank"><%= t('captions.watch_the_video') %></a></p>
  </div>
  <div class="fltrt">
    <%= image_tag "screenshot_elements.jpg" %>
  </div>
</div>
<br class="clearfloat">
<div class="footer">
  <%= t('captions.copyright') %>
</div>
