<%= render :partial => "prelogin/header" %>
<%= render :partial => "prelogin/home" %>
<%= render :partial => "prelogin/what_is_desy" %>
<%= render :partial => "prelogin/registration" %>
<%= render :partial => "prelogin/contact_us" %>
<br class="clearfloat">
<div class="footer">
  <%= t('captions.copyright') %>
</div>
