<div class="header">
  <div class="headerMenu">
    <ul>
      <li><%= link_to t('prelogin.main_page.menu_link'), root_path %></li>
      <li><%= link_to t('prelogin.what_is.menu_link', :desy => SETTINGS['application_name']), what_is_path %></li>
      <li><%= link_to t('prelogin.sign_up.menu_link'), sign_up_path, :class => 'current' %></li>
      <li><%= prelogin_contact_us_menu_link %></a></li>
    </ul>
    <div class="logoDesyPrelogin fltrt">
    <%= image_tag "logo_prelogin_small.png" %>
    <p style="color:white" class="upper"><%= SETTINGS['application_extended_name'] %></p>
    </div> 
  </div>
</div>

<br class="clearfloat">
<div class="containerText">
  <h1><%= t('registration.title') %></h1>
  <h2><%= t('registration.subtitle', :desy => SETTINGS['application_name']) %></h2>
</div>


<%= form_for @user do |f| %>
  <%
    locals_for_general_info = {
      :f => f,
      :edit => false,
      :user => @user,
      :general_errors => (@errors.nil? ? [] : @errors[:general]),
      :location_errors => (@errors.nil? ? [] : @errors[:location]),
      :locations => @locations,
      :school_level_ids => @school_level_ids,
      :forced_location => @forced_location
    }
    locals_for_personal_subjects = {
      :f => f,
      :user => @user,
      :errors => (@errors.nil? ? [] : @errors[:subjects]),
      :subjects => @subjects
    }
  %>
  <%= render partial: 'users/personal_info', :locals => locals_for_general_info %>
  <h2><%= t('registration.subjects.title') %></h2>
  <%= render partial: 'users/personal_subjects', :locals => locals_for_personal_subjects %>
  <hr>
  <div class="contentForm">
    <% @user.registration_policies.each_with_index do |policy, index| %>
      <p>
        <%
          my_policy = t('registration.policies')[index]
        %>
        <strong><%= my_policy['title'] %></strong><br><br>
        <%= my_policy['description'] %>
      </p>
      <div class="checkbox-content">
        <div class="checkboxElement">
          <table>
            <tr>
              <td>
                <% if @user.errors.include?(policy) %>
                  <div class="field_with_errors">
                    <%= f.hidden_field policy, value: '0', id: nil %>
                    <%= check_box_tag "user[#{policy}]", '1', @user.send(policy) == '1', class: 'regular-checkbox' %>
                    <%= label_tag "user[#{policy}]", '' %>
                  </div>
                <% else %>
                  <%= f.hidden_field policy, value: '0', id: nil %>
                  <%= check_box_tag "user[#{policy}]", '1', @user.send(policy) == '1', class: 'regular-checkbox' %>
                  <%= label_tag "user[#{policy}]", '' %>
                <% end %>
              </td>
              <td><%= my_policy['accept'] %></td>
            </tr>
          </table>
        </div>
      </div>
      <br class="clearfloat">
    <% end %>
    
    <ul class="listaErrori">
      <% (@errors.nil? ? [] : @errors[:policies]).each do |err| %>
        <li><%= err %></li>
      <% end %>
    </ul>
    
    <%= f.submit t('registration.done') %>
  </div>
  
<% end %>

  <br class="clearfloat">
  <div class="footer">
    <div class="fltlft" >
      <img src="<%= asset_path 'partner_logo.jpg' %>">
    </div>
    <div class="fltrt" style="padding-top:20px">
      <%= SETTINGS['application_copyright'] %>
    </div>
  </div>
