<div class="header">
  <div class="headerMenu">
  <ul>
    <li><%= link_to t('captions.home'), root_path %></li>
    <li><%= link_to t('captions.what_is_desy'), what_is_desy_path %></li>
    <li><%= link_to t('captions.register'), sign_up_path, :class => 'current' %></li>
    <li><%= link_to t('captions.contact_us'), contact_us_path %></li>
  </ul>
  <%= render :partial => "/prelogin/logo" %>
  </div>
</div>

<br class="clearfloat">
<div class="containerText">
  <h1>Register</h1>
  <h2>Why register?</h2>
  <h3>Discover the benefits of desy.</h3>
  <p>Create your own multimedia lessons with audio, video or images. Share them with other teachers desy.
Use or modify to suit your needs the lessons of other teachers who use desy.
Organize your lessons in your virtual classroom and discover a new way of teaching.</p>
</div>

<%= form_for @user do |f| %>
  <% if @user.errors.present? -%>
    <%= jsd @user.errors %>
    <div class="errors"><%= t('forms.fields_with_errors') %></div>
    <% if @user.errors.added? :users_subjects, :blank -%>
      <div class="errors"><%= t('forms.sign_up.subjects_blank') %></div>
    <% end -%>
  <% end -%>

  <%= render partial: 'users/personal_info', :locals => { :f => f } %>

  <h2>Choose the subjects you want to stay connected</h2>
  <%= render partial: 'users/personal_subjects', :locals => { :f => f } %>

  <div class="contentForm">
  <% @user.class::REGISTRATION_POLICIES.each do |policy| -%>
    <p>
      <strong><%= t("forms.sign_up.#{policy}.title") %></strong><br><br>
      <%= t("forms.sign_up.#{policy}.description") %>
    </p>
    <div class="checkbox-content" style="float:none; padding-top:0">
      <div class="checkboxElement">
        <table>
          <tr>
            <td>
              <%= f.check_box policy, class: 'regular-checkbox' %>
              <%= f.label policy %>
            </td>
            <td>accept</td>
          </tr>
        </table>
      </div>
    </div>
    <br class="clearfloat">
  <% end -%>
    <%= f.submit t('captions.register') %>
  </div>
<% end %>

<br class="clearfloat">
<div class="footer">
  <%= t('captions.copyright') %>
</div>  
