<div class="header">
  <div class="headerMenu">
  <ul>
    <li><%= link_to t('captions.home'), home_path %></li>
    <li><%= link_to t('captions.what_is_desy'), what_is_desy_path, :class => 'current' %></li>
    <li><%= link_to t('captions.register'), sign_up_path %></li>
    <li><%= link_to t('captions.contact_us'), contact_us_path %></li>
  </ul>
  <%= render :partial => "/prelogin/logo" %>
  </div>
</div>
<br class="clearfloat">
<div class="containerText">
<h1>What is DESY?</h1>
  <h2>Why register?</h2>
  <h3>Discover the benefits of desy.</h3>
<p>Created for ENI - who has now spread its use to Italian schools following agreement with the
Italian Education Ministry - the <strong>Digital Education System</strong> (DESY) allows teachers to create,
share and provide students with multimedia and interactive lessons: the system is made up
of an archive of lessons and other didactic components which the teacher may access, use,
modify or base new lessons.</p>
<p>The creation of a new lesson is simple and intuitive: drag the icon from the workpage to the
lesson sheet and any type of file (video, audio, image, table, chart, etc) can be inserted.
 Videos can be easily cut and edited according to didactic needs.</p>
 <p>In this way each lesson created can be followed by students in the classroom using a video
projector or a multimedia blackboard, or remotely using a tablet or pc.</p>
<p>The lesson is at the same time stored in the systems database for access by all other registered
teachers, thus creating a professional community which uses and shares the same didactic
message and modules. A dedicated social network between students and teachers enables
the activation of a virtuous circle for exchanging knowledge and contents to the benefit of
 teaching processes.</p>
 <p><strong>DESY</strong> also comprises an on-line and interactive English language course (<a href="http://www.smartenglish.com" target="_blank">www.smartenglish.com</a>)
offering dedicated pages and functionalities both for teachers and students.<br>
 The application can easily be used for learning other languages: a course is currently being
planned for teaching Italian to foreigners.</p>
</div>
<div class="colDx">asòàdkòldsfkl</div>
<br class="clearfloat">
<div class="footer">
  <%= t('captions.copyright') %>
</div>  
