
<div class="header">
  <div class="headerMenu">
    <ul>
      <li><%= link_to t('prelogin.main_page.menu_link'), root_path %></li>
      <li><%= link_to t('prelogin.what_is_desy.menu_link', :desy => SETTINGS['application_name']), what_is_desy_path, :class => 'current' %></li>
      <li><!-- traduzz --><%= prelogin_contact_us_menu_link %></li>
    </ul>
    <%= render :partial => '/prelogin/login' %>
  </div>
</div>

<br class="clearfloat">
<div style="padding-top:53px">
  <%= image_tag "logo_prelogin.png" %>
</div> 
<div class="containerText">
  <h1><%= t('prelogin.what_is_desy.title', :desy => SETTINGS['application_name']).html_safe %></h1>
  <h3><%= t('prelogin.what_is_desy.subtitle', :desy => SETTINGS['application_name']).html_safe %></h3>
  <div class="colS fltlft">
    <p><%= t('prelogin.what_is_desy.description', :desy => SETTINGS['application_name']).html_safe %></p>
  </div>
  <div class="colS fltrt">
    <ul>
      <li><%= t('prelogin.what_is_desy.right_column.caption3', :desy => SETTINGS['application_name']).html_safe %></li>
      <li><%= t('prelogin.what_is_desy.right_column.caption2', :desy => SETTINGS['application_name']).html_safe %></li>
      <li><%= t('prelogin.what_is_desy.right_column.caption1', :desy => SETTINGS['application_name']).html_safe %></li>
    </ul>
  </div>
  <br class="clearfloat">
  <div style="outline:1px solid red; background-color:red; margin-top:108px; text-align:center">
    IMMAGINE
  </div>   
  <!--PAGINATORE -->
</div>



