<div class="header">
  <div class="headerMenu">
  <ul>
    <li><%= link_to t('captions.home'), home_path %></li>
    <li><%= link_to t('captions.what_is_desy'), what_is_desy_path, :class => 'current' %></li>
    <li><%= link_to t('captions.register'), sign_up_path %></li>
    <li><%= link_to t('captions.contact_us'), contact_us_path %></li>
  </ul>
  <%= render :partial => "/prelogin/logo" %>
  </div>
</div>

WHAT IS DESY????
