<div class="header">
  <div class="headerMenu">
  <ul>
    <li><%= link_to t('captions.home'), root_path %></li>
    <li><%= link_to t('captions.what_is_desy'), what_is_desy_path, :class => 'current' %></li>
    <li><%= link_to t('captions.register'), sign_up_path %></li>
    <li><%= link_to t('captions.contact_us'), contact_us_path %></li>
  </ul>
  <%= render :partial => "/prelogin/logo" %>
  </div>
</div>

<br class="clearfloat">

<div class="containerText">
  <h1><%= t('captions.what_is_desy') %></h1>
  <h2><%= t('captions.why_sign_up') %></h2>
  <h3><%= t('captions.find_out_the_benefits_of_desy') %></h3>
  <p><%= t('descriptions.what_is_desy_1') %><strong><%= t('captions.desy_expanded_description') %></strong><%= t('descriptions.what_is_desy_2') %></p>
  <p><%= t('descriptions.what_is_desy_3') %></p>
  <p><%= t('descriptions.what_is_desy_4') %></p>
  <p><%= t('descriptions.what_is_desy_5') %></p>
  <p><strong><%= t('captions.desy') %></strong><%= t('descriptions.what_is_desy_6') %><a href="http://www.smartenglish.com" target="_blank">www.smartenglish.com</a><%= t('descriptions.what_is_desy_7') %><br><%= t('descriptions.what_is_desy_8') %></p>
</div>

<div class="colDx">
  <div class="contentSnapshotVideo"></div>
  <h1>Watch demo</h1>
    <%= t('descriptions.what_is_desy_right_column') %>
  </div>


