<div class="gray-bar advancedSearch">
  <div class="cols fltlft">
    <%= image_tag("ico_advanced_search.png", :align => "left", :style => "padding-top:5px; padding-right: 10px") %><%= t('search.label') %><h1><%= t('search.title') %></h1>
  </div>
  <div class="cols fltrt" style="width:240px">
    <p><%= t('search.description_title') %><br><%= t('search.description') %></p>
  </div>
</div>
<br class="clearfloat">
<div class="griglia-contenuti">
  <div class="advanced-search-content">
    <div class="cols search-switch">
      <table>
        <tr>
          <td>
            <input id="which_item_to_search_switch_lessons" type="radio" name="switch" value="lessons" class="regular-radio _which_item_to_search_switch" <%= @search_item == 'lessons' ? "checked=\"checked\"".html_safe : '' %>>
            <label for="which_item_to_search_switch_lessons"></label>
          </td>
          <td><%= t('captions.lessons') %></td>
          <td>
            <input id="which_item_to_search_switch_media_elements" type="radio" name="switch" value="elements" class="regular-radio _which_item_to_search_switch" style="margin-left:40px" <%= @search_item == 'lessons' ? '' : "checked=\"checked\"".html_safe %>>
            <label for="which_item_to_search_switch_media_elements"></label>
          </td>
          <td><%= t('captions.media_elements') %></td>
        </tr>
      </table>
    </div>
    <%= render :partial => "search/lessons/main" %>
    <%= render :partial => "search/media_elements/main" %>
    <div id="info_container" style="display:none" data-currenturl="<%= request.url %>"></div>
    <br class="clearfloat">
    <% if @did_you_search && ((@search_item == 'media_elements' && @media_elements.any?) || (@search_item == 'lessons') && @lessons.any?) %>
      <%= render :partial => 'shared/pagination', :locals => {:page => @page, :pages_amount => @pages_amount, :pagination_url => manipulate_request_url(remove_query_param: 'delete_item') } %>
    <% else %>
      <div class="dots_pagination_container" id="general_pagination"></div>
    <% end %>
  </div>
</div>
