<div class="gray-bar advancedSearch">
  <div class="cols" style="width:43%">
    <%= image_tag("ico_advanced_search.png", :align => "left", :style => "padding-top:5px; padding-right: 10px") %><%= t('captions.advanced_search') %><h1><%= t('captions.what_are_you_looking_for') %></h1>
  </div>
  <div class="cols">
    <p><%= t('captions.search_lesson_or_media_element') %><br><%= t('captions.choose_wich_item_and_go') %></p>
  </div>
  <div class="cols" style="padding-top:18px; width:18%">
    <input id="which_item_to_search_switch_lessons" type="radio" name="switch" value="lessons" class="regular-radio" <%= @search_item == 'lessons' ? "checked=\"checked\"".html_safe : '' %>>
    <label for="which_item_to_search_switch_lessons"></label><%= t('captions.lessons') %>
    <input id="which_item_to_search_switch_media_elements" type="radio" name="switch" value="elements" class="regular-radio" style="margin-left:40px" <%= @search_item == 'lessons' ? '' : "checked=\"checked\"".html_safe %>>
    <label for="which_item_to_search_switch_media_elements"></label><%= t('captions.media_elements') %>
  </div>
</div>
<br class="clearfloat">
<div class="griglia-contenuti">
  <div class="advanced-search-content">
    <%= render :partial => "search/lessons/main" %>
    <%= render :partial => "search/media_elements/main" %>
    <div id="info_container" style="display:none" data-currenturl="<%= request.url %>"></div>
    <br class="clearfloat">
    <% if @did_you_search && ((@search_item == 'media_elements' && @media_elements.any?) || (@search_item == 'lessons') && @lessons.any?) %>
      <%= render :partial => 'shared/pagination', :locals => {:page => @page, :pages_amount => @pages_amount, :pagination_url => remove_param_from_url(request.url, 'delete_item')} %>
    <% else %>
      <div class="dots_pagination_container" id="general_pagination"></div>
    <% end %>
  </div>
</div>
