<div class="lista _video_editor_component" id="video_component_<%= position %>">
  <div class="contatore"><%= position %> <div class="photoIcon"></div></div>
  <div class="boxMediaElement">
    <%= render :partial=> "video_editor/components/thumbs/image", :locals=>{:component=>component,:position=>position} %>
    <%= hidden_field_tag "type_#{position}", component[:type] %>
    <%= hidden_field_tag "image_#{position}", component[:image].id %>
    <%= hidden_field_tag "duration_#{position}", component[:duration] %>
    <%= hidden_field_tag "position_#{position}", position %>
  </div>
  <div class="separatore"><%= image_tag("arrow_element_timeline.png") %></div>
</div>
