<div class="lista _video_editor_component" id="video_component_<%= position %>">
  <div class="contatore"><%= position %> <div class="textIcon"></div></div>
  <div class="boxMediaElement ">
    <%= render :partial=> "video_editor/components/thumbs/text", :locals=>{:component=>component,:position=>position} %>
    <%= hidden_field_tag "type_#{position}", component[:type] %>
    <%= hidden_field_tag "content_#{position}", component[:content] %>
    <%= hidden_field_tag "background_color_#{position}", component[:background_color] %>
    <%= hidden_field_tag "text_color_#{position}", component[:text_color] %>
    <%= hidden_field_tag "duration_#{position}", component[:duration] %>
    <%= hidden_field_tag "position_#{position}", position %>
  </div>
  <div class="separatore"><%= image_tag("arrow_element_timeline.png") %></div>
</div>
