<div class="lista _video_editor_component" id="video_component_<%= position %>">
  <div class="contatore"><%= position %></div>
  <div class="boxMediaElement background_color_<%= component[:background_color] %>">
    <div class="boxContentMediaElement">
      <p class="color_<%= component[:text_color] %>"><%= component[:content] %></p>
      <%= render :partial => 'video_editor/component_menu', :locals => {:component => component, :position => position} %>
			<%= render :partial => 'video_editor/choose_new_component' %>
      <div class="textIcon _video_editor_component_icon"></div>
    </div>
    <%= hidden_field_tag "type_#{position}", component[:type] %>
    <%= hidden_field_tag "content_#{position}", component[:content] %>
    <%= hidden_field_tag "background_color_#{position}", component[:background_color] %>
    <%= hidden_field_tag "text_color_#{position}", component[:text_color] %>
    <%= hidden_field_tag "duration_#{position}", component[:duration] %>
    <%= hidden_field_tag "position_#{position}", position %>
  </div>
  <div class="separatore"><%= image_tag("arrow_element_timeline.png") %></div>
</div>
