<div id="video_component_<%= position %>">
  <div class="contatore"><%= position %></div>
  <div class="boxMediaElement">
    <div class="boxContentMediaElement">
      <%= image_tag component[:video].cover %>
      <%= render :partial => 'video_editor/component_menu', :locals => {:component => component, :position => position} %>
      <div class="videoIcon"></div>
    </div>
    <%= hidden_field_tag "type_#{position}", component[:type] %>
    <%= hidden_field_tag "video_#{position}", component[:video].id %>
    <%= hidden_field_tag "from_#{position}", component[:from] %>
    <%= hidden_field_tag "until_#{position}", component[:until] %>
    <%= hidden_field_tag "position_#{position}", position %>
  </div>
</div>
