<div class="container-fluid navbar-fluid">
  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <a class="brand" href="/admin">
    <%= image_tag 'logo.gif'%><br />
    <%= t('admin.dashboard.link_name')%>
  </a>
  <div class="nav-collapse collapse">
    <p class="navbar-text pull-right service-links">
      <%= t('captions.welcome') %> <%= current_user.name %> <%= current_user.surname %><br />
      <%= link_to t('registration.logout'), users_session_path, method: :delete %> | <%= link_to  SETTINGS['application_name'], "/" %>
    </p>
    <ul class="nav">
      <li class="dropdown">
        <a href="/admin" class="first-level <%= 'active' if controller_name == "dashboard" %>">
          <%= t('admin.menu.dashboard.link_name')%>
        </a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle first-level elements <%= 'active' if controller_name == "elements" %>" data-toggle="dropdown">
          <%= t('admin.menu.elements.link_name')%>
          </a>
        <ul class="dropdown-menu">
          <li><a href="/admin/elements"><%= t('admin.menu.elements.list')%></a></li>
          <li><a href="/admin/elements/new"><%= t('admin.menu.elements.upload')%></a></li>
          <li><a href="/admin/elements/edit"><%= t('admin.menu.elements.publish')%></a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/admin/lessons" class="first-level lessons <%= 'active' if controller_name == "lessons" %>"><%= t('admin.menu.lessons.link_name')%></a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle first-level messages" data-toggle="dropdown"><%= t('admin.menu.messages.link_name')%></a>
        <ul class="dropdown-menu">
          <li><a href="#"><%= t('admin.menu.messages.notifications')%></a></li>
          <li><a href="#"><%= t('admin.menu.messages.reports')%></a></li>
          <li><a href="#"><%= t('admin.menu.messages.help')%></a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/admin/users" class="dropdown-toggle first-level users <%= 'active' if controller_name == "users" %>" data-toggle="dropdown">
          <%= t('admin.menu.users.link_name')%></a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle first-level settings" data-toggle="dropdown"><%= t('admin.menu.settings.link_name')%></a>
        <ul class="dropdown-menu">
          <li><a href="#"><%= t('admin.menu.settings.configuration')%></a></li>
        </ul>
      </li>
    </ul>
  </div><!--/.nav-collapse -->
</div>