<h4><%= t('admin.search.label')%></h4>
<%= form_tag 'lessons', :method => :get, :id=>"admin-search-lessons", :class => "search-form" do %>
  <%= hidden_field_tag 'search[search_type]', 'lessons'%>
  <%= hidden_field_tag 'search[ordering]', 'id DESC'%>
  <div class="row-fluid">
    <div class="span12">
      <%= render :partial => 'admin/search/alerts' %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <%= render :partial => 'admin/search/lessons_general' %>
    </div>  
    <div class="span4">
      <%= render :partial => 'admin/search/date' %>
    </div>
    <div class="span4">
      <%= render :partial => 'admin/search/location' %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="form-actions">
        <button type="submit" class="btn btn-block btn-warning"><%= t('admin.search.submit').upcase%></button>
      </div>
    </div>
  </div>
<% end %>
