<h4><%= t('admin.search.label')%></h4>
<%= form_tag 'lessons', :method => :get, :class=>"form-vertical" do %>
  <div class="row-fluid">
    <div id="alert" class="span12 alert alert-error" style="display:none">
      <div class="start"><%= t('admin.search.start_more_then_end') %></div>
      <div class="end"><%= t('admin.search.end_less_then_start') %></div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span1">
      <div class="control-group">
        <label for="id"><%= t('admin.search.id')%></label>
        <div class="controls">
          <%= text_field_tag 'search[id]', params[:search] ? params[:search][:id] : ''  ,:class=>'input-mini', :placeholder => t('admin.search.id')%>
        </div>
      </div>
    </div>
    <div class="span2">
      <div class="control-group">
        <label for="keyword"><%= t('admin.search.keyword')%></label>
        <div class="controls">
          <%= text_field_tag 'search[keyword]',  params[:search] ? params[:search][:keyword] : '', :class=>'input-medium', :placeholder => t('admin.search.keyword')%>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="control-group">
        <label for="subject"><%= t('admin.search.subject')%></label>
        <div class="controls">
          <select>
            <option><%= t('admin.search.select_subject')%></option>
            <% Subject.all.each do |subject| %>
              <option><%= subject.description %></option>
            <%end%>
          </select>
        </div>
      </div>
    </div>
    <div class="span2">
      <div class="controls-group">
        <label><%= t('admin.search.date_range')%></label>
        <div class="controls">
          <select id="search_date_range" class="input-medium">
            <option><%= t('admin.search.select_date_range')%></option>
            <option value='created_at'><%= t('admin.search.created_at')%></option>
            <option value='updated_at'><%= t('admin.search.updated_at')%></option>
          </select>
        </div>
      </div>
    </div>
    <div class="span2">
      <div class="control-group">
        <label><%= t('admin.search.date_from')%></label>
        <div class="controls">
          <input class='input input-medium datepick' type="text" value="<%=Time.now.strftime('%d-%m-%Y')%>" id="dpd1" data-date="<%=Time.now.strftime('%d-%m-%Y')%>" data-date-format="dd-mm-yyyy">
        </div>
      </div>
    </div>
    <div class="span2">
      <div class="control-group">
        <label><%= t('admin.search.date_to')%></label>
        <div class="controls">
          <input  class='input input-medium datepick' type="text" value="<%=Time.now.strftime('%d-%m-%Y')%>" id="dpd2" data-date="<%=Time.now.strftime('%d-%m-%Y')%>" data-date-format="dd-mm-yyyy">
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="control-group">
        <label for="province_list"><%= t('admin.search.province')%></label>
        <div class="controls">
          <select id="province_list">
            <%= render :partial => 'admin/users/locations_list', :locals => {:parent => nil} %>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label for="town_list"><%= t('admin.search.town')%></label>
        <div class="controls">
          <select id="town_list">
            
          </select>
        </div>
      </div>
      <div class="control-group">
        <label for="school_list"><%= t('admin.search.school')%></label>
        <div class="controls">
          <select id="school_list">
            
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="form-actions">
        <button type="submit" class="btn"><%= t('admin.search.submit')%></button>
      </div>
    </div>
  </div>
<% end %>
