<div class="contentSearch" id="search_lessons_main_page" style="display:<%= @search_item == 'lessons' ? 'block' : 'none' %>">
  <%= t('capital_letter.lessons') %>
  <div class="boxCerca">
    <%= form_tag search_items_path, :class => 'search-form', :id => 'search_lessons' do %>
      <%= hidden_field_tag 'item', 'lessons' %>
      <table summary="" cellpadding="0" cellspacing="0">
        <tr>
          <td style="width:178px">
            <input type="text" name="tag" value="<%= t('small_letter.insert_tag') %>" class="text" id="lessons_tag_reader_for_search">
            <%= hidden_field_tag 'tag_kind', '', :id => 'lessons_tag_kind_for_search' %>
          </td>
          <td style="width:136px">
            <select name="ricerca" id="filter_search_lessons">
              <option value="" selected="selected">all lessons</option>
              <option value=""><%= t('capital_letter.media_elements') %></option>
            </select>
          </td>
          <td>
            <select name="ricerca" id="filter_search_lessons_subject">
              <option value="" selected="selected">all subject</option>
              <option value=""><%= t('capital_letter.media_elements') %></option>
            </select>
          </td>
          <td style="width:8%" valign="top" rowspan="2">Sort results by</td>
          <td style="width:12%" rowspan="2">
            <input type="radio" name="group1" value="" class="regular-radio" checked><label for=""></label>Date of creation<br>
            <input type="radio" name="group1" class="regular-radio" value=""><label for=""></label>Date of publication<br>
            <input type="radio" name="group1" class="regular-radio" value=""> <label for=""></label>Name
          </td>
          <td align="right" rowspan="2"><td><%= image_submit_tag(asset_path('cerca.png')) %></td></td>
        </tr>
        <tr>
          <td colspan="2"><p>Warning!<br>Not entering any keyword you can see all the lessons of the subject selected.</p></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
