<div id="search_lessons_main_page" style="display:<%= @search_item == 'lessons' ? 'block'.html_safe : 'none'.html_safe %>">
  
  <div class="contentSearch">
    <%= t('captions.lessons') %>
    <div class="boxCerca">
      <form id="search_lessons" class="search-form" method="get" action="/search" data-remote="true">
        <%= hidden_field_tag 'item', 'lessons' %>
        <table summary="" cellpadding="0" cellspacing="0" style="width:490px; float:left">
          <tr>
            <td style="width:168px">
              <% if @search_item == 'lessons' %>
                <input type="text" name="tag" value="<%= @tag_placeholder %>" class="text lower" id="lessons_tag_reader_for_search" style="color:<%= @did_you_search ? '#939393'.html_safe : '#E2E1E1'.html_safe %>">
              <% else %>
                <input type="text" name="tag" value="<%= t('captions.insert_tag') %>" class="text lower" id="lessons_tag_reader_for_search" style="color:#E2E1E1">
              <% end %>
              <%= hidden_field_tag 'tag_kind', (@tag.kind_of?(Tag) ? @tag.id : ''), :id => 'lessons_tag_kind_for_search' %>
            </td>
            <td style="width:136px">
              <select name="filter" id="filter_search_lessons">
                <% Filters::LESSONS_SEARCH_SET.each do |f| %>
                  <option value="<%= f %>" <%= (f == @filter) ? "selected=\"selected\"".html_safe : '' %>><%= Filters::CAPTIONS[f] %></option>
                <% end %>
              </select>
            </td>
            <td style="width:186px;">
              <select name="subject_id" id="filter_search_lessons_subject">
                <option value="" <%= @subject_id.nil? ? "selected=\"selected\"".html_safe : '' %>><%= t('captions.all_subjects') %></option>
                <% Subject.order(:description).each do |s| %>
                  <option value="<%= s.id %>" <%= (@subject_id == s.id) ? "selected=\"selected\"".html_safe : '' %>><%= s.description %></option>
                <% end %>
              </select>
            </td>
            </tr>
            <tr>
            <td colspan="3">
              <p  style="font-size:80%; padding-left:10px; padding-top:10px;"><%= t('captions.warning') %><br><%= t('captions.warning_search_lessons') %></p>
            </td>
          </tr>
            </table>
            <table summary="" cellpadding="0" cellspacing="0" style="width:360px; float:right;">
            <tr>
            <td valign="top" rowspan="2">
              <%= t('captions.sort_results_by') %>
            </td>
            <td rowspan="2">
              <table style="padding:0">
              <tr>
              <% SearchOrders::LESSONS_SET.each do |so| %>
                <% my_order_id = "#{so}_lessons_radio_input" %>
                <td><input type="radio" name="order" id="<%= my_order_id %>" value="<%= so %>" class="regular-radio _order_lessons_radio_input" <%= (so == @order) ? "checked=\"checked\"".html_safe : '' %>><label for="<%= my_order_id %>"></label></td>
                <td style="vertical-align:middle"><%= SearchOrders::CAPTIONS[so] %></td>
                </tr>
              <% end %>
              </table>
            </td>
            <td align="left" rowspan="2">
              <% if @search_item == 'lessons' && @did_you_search %>
                <a id="search_lessons_submit" title="<%= t('general_titles.refine_the_search') %>" class="cerca current">&nbsp;</a>
              <% else %>
                <a id="search_lessons_submit" title="<%= t('general_titles.refine_the_search') %> " class="cerca">&nbsp;</a>
              <% end %>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <br class="clearfloat">
  <% if @did_you_search && ((@search_item == 'media_elements' && @media_elements.any?) || (@search_item == 'lessons') && @lessons.any?) %>
    <%= render :partial => "search/lessons/amount", :locals => {:amount => @lessons_amount} %>
  <% else %>
    <div id="lessons_search_amount"></div>
  <% end %>
  
  <% if @did_you_search && ((@search_item == 'media_elements' && @media_elements.any?) || (@search_item == 'lessons') && @lessons.any?) && @tags.any? %>
    <%= render :partial => "search/lessons/tag_details", :locals => {:tags => @tags, :tag => @tag} %>
  <% else %>
    <div id="lessons_tag_details" style="margin-bottom:0"></div>
  <% end %>
  
  <br class="clearfloat">
  
  <%= render :partial => "search/lessons/results", :locals => {:lessons => @lessons} %>
  
</div>
