<div id="search_lessons_main_page" style="display:<%= @search_item == 'lessons' ? 'block'.html_safe : 'none'.html_safe %>">
  
  <div class="contentSearch">
    <div class="boxCerca">
      <form id="search_lessons" class="search-form" method="get" action="/search" data-remote="true">
        <%= hidden_field_tag 'item', 'lessons' %>
        <table summary="" cellpadding="0" cellspacing="0" style="width:100%;">
          <tr>
            <td width="20%">
              <label><%= t('search.lessons.keyword.label') %></label><br />
              <input type="text" name="word" value="<%= t('search.lessons.keyword.placeholder') %>" class="text lower" id="lessons_tag_reader_for_search" style="color:#999">
              <%= hidden_field_tag 'word_placeholder', '', :id => 'lessons_tag_kind_for_search' %>
            </td>
            <td width="20%">
              <label><%= t('search.lessons.filters.author') %></label><br />
              <select name="filter" id="filter_search_lessons">
                <% filter = @filter.nil? Filters::ALL_LESSONS : @filter %>
                <% Filters::LESSONS_SEARCH_SET.each do |f| %>
                  <option value="<%= f %>" <%= (f == filter) ? "selected=\"selected\"".html_safe : '' %>><%= Filters::CAPTIONS[f] %></option>
                <% end %>
              </select>
            </td>
            <td width="20%">
              <label><%= t('search.lessons.filters.subject') %></label><br />
              <select name="subject_id" id="filter_search_lessons_subject">
                <option value="" <%= @subject_id.nil? ? "selected=\"selected\"".html_safe : '' %>><%= t('search.lessons.filters.all_subjects') %></option>
                <% Subject.order(:description).each do |s| %>
                  <option value="<%= s.id %>" <%= (@subject_id == s.id) ? "selected=\"selected\"".html_safe : '' %>><%= s.description %></option>
                <% end %>
              </select>
            </td>
            <td width="20%"></td>
            <td width="20%">
              <p style="font-size:80%; padding-left:10px; padding-top:10px;"><%= t('search.lessons.suggestion.title') %><br><%= t('search.lessons.suggestion.description') %></p>
            </td>
          </tr>
          <tr>
          </tr>
          <tr>
            <td><br /><h3><%= t('search.lessons.sort') %></h3></td>
          </tr>
          <tr>
            <% order = @order.nil? SearchOrders::TITLE : @order %>
            <% SearchOrders::LESSONS_SET.each do |so| %>
              <% my_order_id = "#{so}_lessons_radio_input" %>
              <td width="5%">
                <input type="radio" name="order" id="<%= my_order_id %>" value="<%= so %>" class="regular-radio _order_lessons_radio_input" <%= (so == order) ? "checked=\"checked\"".html_safe : '' %>>
                <label for="<%= my_order_id %>"> </label>&nbsp;<%= SearchOrders::CAPTIONS[so] %>
              </td>
            <% end %>
            <td align="left" colspan="2" width="40%">
            </td>
          </tr>
          <tr>
            <td>
              <br/><br/>
              <% if @search_item == 'lessons' && @did_you_search %>
                <a id="search_lessons_submit" title="<%= t('titles.refine_search') %>" class="cerca current"><%= t('search.short_label')%></a>
              <% else %>
                <a id="search_lessons_submit" title="<%= t('titles.refine_search') %>" class="cerca"><%= t('search.short_label')%></a>
              <% end %>
            </td>
          </tr>
        </table>
        <div class="clearfloat"></div>
      </form>
    </div>
  </div>
  <br class="clearfloat">
  <% if @did_you_search && ((@search_item == 'media_elements' && @media_elements.any?) || (@search_item == 'lessons') && @lessons.any?) %>
    <%= render :partial => "search/lessons/amount", :locals => {:amount => @lessons_amount} %>
  <% else %>
    <div id="lessons_search_amount"></div>
  <% end %>
  
  <% if @did_you_search && ((@search_item == 'media_elements' && @media_elements.any?) || (@search_item == 'lessons') && @lessons.any?) && @tags.any? %>
    <%= render :partial => "search/lessons/tag_details", :locals => {:tags => @tags, :tag => @tag} %>
  <% else %>
    <div id="lessons_tag_details" style="margin-bottom:0"></div>
  <% end %>
  
  <br class="clearfloat">
  
  <%= render :partial => "search/lessons/results", :locals => {:lessons => @lessons} %>
  
</div>
