<% if media_element_slide = slide.media_elements_at -%>
  <% image = media_element_slide.media_element -%>
  <img src="<%= media_element_path(image) %>" alt="<%= image.title %>"/>
  <% if media_element_slide.caption.present? -%>
    <p><%= media_element_slide.caption %></p>
  <% end -%>
<% end -%>
<%= slide_content(slide) %>

<%= render_with_default_context partial: 'OEBPS/slides/documents.xhtml', locals: { documents: slide.documents } %>