<div class="element-update-form span<%= colspan %> img-polaroid">
  <%= form_tag admin_elements_path, :method => :post do %>
    <div class="alert">
        <%= file[:original_name] %>
    </div>
    <% if file[:type] == 'audio' %>
      <%= image_tag 'simbolo-audio.svg', :width => '200', :style => 'margin-top:0' %>
    <% elsif file[:type] == 'image' %>
      <div style="width:200px; height:200px; margin-top:20px; margin-left:auto; margin-bottom:0; margin-right:auto; vertical-align:middle; overflow:hidden">
        <%= image_tag "/admin/#{current_user.id}/#{file[:name]}#{file[:ext]}", :width => 200, :height => 200, :style => 'margin:0' %>
      </div>
    <% else %>
      <%= image_tag 'simbolo-audio.svg', :width => '200', :style => 'margin-top:0' %>
    <% end %>
    <br><%= text_field_tag 'title', file[:title], :placeholder => 'title' %>
    <br><%= text_area_tag 'description', file[:description], :placeholder => 'description' %>
    <br><%= text_area_tag 'tags', file[:tags], :placeholder => 'tags' %><br>
    <%= check_box_tag 'publish', '1', true %><span style="margin-left:10px">publish now</span><br><br>
    <button class="_create_new_element btn btn-small btn-success" type="button">Save</button>
    <button class="_delete_new_element btn btn-small btn-danger" type="button">Delete</button>
  <% end %>
</div>
