<div class="element-update-form span<%= colspan %> img-polaroid">
  <%= form_tag admin_elements_path, :method => :post do %>
    <% if file[:type] == 'audio' %>
      <%= image_tag 'simbolo-audio.svg', :width => '200' %>
    <% elsif file[:type] == 'image' %>
      <%= image_tag "/admin/#{current_user.id}/#{file[:name]}#{file[:ext]}" %>
    <% else %>
      <%= image_tag 'simbolo-audio.svg', :width => '200' %>
    <% end %>
    <br><%= text_field_tag 'title', file[:title] %>
    <br><%= text_area_tag 'description', file[:description] %>
    <br><%= text_area_tag 'tags', file[:tags], :class => 'lower' %><br>
    <button class="_publish_private_element btn btn-small btn-primary" type="button">Publish</button>
    <button class="_update_new_element btn btn-small" type="button">Update</button>
    <button class="_delete_new_element btn btn-small btn-danger" type="button">Delete</button>
  <% end %>
</div>
