<div class="element-update-form span<%= colspan %> img-polaroid">
  <%= form_tag admin_elements_path, :method => :post do %>
    <% if file[:type] == 'audio' %>
      <%= file[:original_name] %>
      <%= image_tag 'simbolo-audio.svg', :width => '200', :style => 'margin-top:0' %>
    <% elsif file[:type] == 'image' %>
      <div style="width:200px; height:200px; margin-top:20px; margin-left:auto; margin-bottom:0; margin-right:auto; vertical-align:middle; overflow:hidden">
        <%= image_tag "/admin/#{current_user.id}/#{file[:name]}#{file[:ext]}", :width => 200, :height => 200, :style => 'margin:0' %>
      </div>
    <% else %>
      <%= file[:original_name] %>
      <%= image_tag 'simbolo-audio.svg', :width => '200', :style => 'margin-top:0' %>
    <% end %>
    <br><%= text_field_tag 'title', file[:title] %>
    <br><%= text_area_tag 'description', file[:description] %>
    <br><%= text_area_tag 'tags', file[:tags], :class => 'lower' %><br>
    <button class="_publish_private_element btn btn-small btn-primary" type="button">Publish</button>
    <button class="_update_new_element btn btn-small" type="button">Update</button>
    <button class="_delete_new_element btn btn-small btn-danger" type="button">Delete</button>
  <% end %>
</div>
