<% if elements.count > 0 %>
  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <td><b><%= link_to "id", '#' %></b></td>
      <td><b><%= link_to "title", '#' %></b></td>
      <td><b><%= link_to "type", '#' %></b></td>
      <td><b><%= link_to "user", '#' %></b></td>
      <td><b>school</b></td>
      <td><b>location</b></td>
      <td><b><%= link_to "created", '#' %></b></td>
      <td><b><%= link_to "last update", '#' %></b></td>
      <td><b><%= link_to "public", '#' %></b></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% elements.each do |element| %>
      <tr class="collapse">
        <td><%= element.id %></td>
        <td><%= element.title%></td>
        <td><%= element.sti_type%></td>
        <td><%= element.user.surname %> <%= element.user.name %></td>
        <td><%= element.user.school %></td>
        <td><%= element.user.province %> - <%= element.user.town %></td>
        <td><%= element.created_at.strftime('%d-%m-%Y')%></td>
        <td><%= element.updated_at.strftime('%d-%m-%Y')%></td>
        <td>
          <% if !element.is_public %>
          <a href="#" class="_publish_list_element action" title="publish" data-param="<%= element.id %>"><i class="icon-globe"></i></a>
          <% end %>
        </td>
        <td><a href="#" class="_delete_list_element action"  title="delete" data-param="<%= element.id %>"><i class="icon-remove"></i></a></td>
      </tr>
      <div style="clear:both;"></div>
      <tr class="collapsed">
        <td colspan="9">
          <div class="row-fluid">
          <div class="span3">
            <div class="element-thumbnail">
              <%= render :partial => "admin/elements/previews/#{element.sti_type.downcase}", :locals => {:media_element => element} %>
            </div>
          </div>
          <div class="span3">
            <h5>Tags</h5>
            <% element.tags.split(',').each do |tag| %>
              <% if tag.length > 0%>
                <%= tag %>, 
              <% end %>
            <% end %>
          </div>
          <div class="span6">
            <h5>Description</h5>
            <%= element.description %>
          </div>
        <td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <%= t('admin.elements.index.not_found') %>
<% end %>