<% if elements.count > 0 %>
  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <td><b><%= link_to_sorted "id", :id %></b></td>
      <td><b><%= link_to_sorted "title", :title %></b></td>
      <td><b><%= link_to_sorted "type", :sti_type %></b></td>
      <td><b><%= link_to_sorted "user", "users.surname" %></b></td>
      <td><b>location</b></td>
      <td><b><%= link_to_sorted "created", :created_at %></b></td>
      <td><b><%= link_to_sorted "last update", :updated_at %></b></td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% elements.each do |element| %>
      <tr class="collapse">
        <td><%=element.id %></td>
        <td><%= element.title%></td>
        <td><%= element.sti_type%></td>
        <td><%= element.user.surname %> <%= element.user.name %></td>
        <td><%= element.user.location.description %> (<%= element.user.school %>)</td>
        <td><%= element.created_at.strftime('%d-%m-%Y')%></td>
        <td><%= element.updated_at.strftime('%d-%m-%Y')%></td>
        <td><a href="#" class="action"><i class="icon-remove"></i></a></td>
      </tr>
      <tr class="collapsed">
        <td colspan="9">
          <div class="pull-left span3">
            <div class="img-polaroid element-thumbnail">
              <%= render :partial => "media_elements/thumbnails/#{element.sti_type.downcase}", :locals => {:item => element} %>
            </div>
          </div>
          <div class="pull-right span9"><%= element.description %></div>
        <td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <%= t('admin.elements.index.not_found') %>
<% end %>