<% if elements.count > 0 %>
  <table id="elements-list" class="table table-striped table-hover table-bordered table-rounded">
    <thead>
      <tr>
        <th>
          id<br> 
          <a class="label" href="id ASC">▲</a>
          <a class="label" href="id DESC">▼</a>
        </th>
        <th>
          title<br>
          <a class="label" href="title ASC">▲</a>
          <a class="label" href="title DESC">▼</a>
        </th>
        <th>
          media_type<br>
          <a class="label" href="sti_type ASC">▲</a>
          <a class="label" href="sti_type DESC">▼</a>
        </th>
        <th>user<br>
          <a class="label" href="user_id ASC">▲</a>
          <a class="label" href="user_id DESC">▼</a>
        </th>
        <th>
          location<br>
          <a class="label" href="location_id ASC">▲</a>
          <a class="label" href="location_id DESC">▼</a>
        </th>
        <th>
          school<br>
          <a class="label" href="location_id ASC">▲</a>
          <a class="label" href="location_id DESC">▼</a>
        </th>
        <th>
          created_at<br>
          <a class="label" href="created_at ASC">▲</a>
          <a class="label" href="created_at DESC">▼</a>
        </th>
        <th>
          updated_at<br>
          <a class="label" href="updated_at ASC">▲</a>
          <a class="label" href="updated_at DESC">▼</a>
        </th>
        <th>
          public<br>
          <a class="label" href="is_public ASC">▲</a>
          <a class="label" href="is_public DESC">▼</a>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% elements.each do |element| %>
      <tr class="collapse">
        <td><%= element.id %></td>
        <td><%= element.title%></td>
        <td><%= element.sti_type%></td>
        <td><%= element.user.school %></td>
        <td><%= element.user.surname %> <%= element.user.name %></td>
        <td><%= element.user.province %> - <%= element.user.town %></td>
        <td><%= element.created_at.strftime('%d-%m-%Y')%></td>
        <td><%= element.updated_at.strftime('%d-%m-%Y')%></td>
        <td>
          <% if !element.is_public %>
          <a href="#" class="_publish_list_element action" title="publish" data-param="<%= element.id %>"><i class="icon-globe"></i></a>
          <% end %>
        </td>
        <td><a href="#" class="_delete_list_element action"  title="delete" data-param="<%= element.id %>"><i class="icon-remove"></i></a></td>
      </tr>
      <div style="clear:both;"></div>
      <tr class="collapsed">
        <td colspan="10">
          <div class="row-fluid">
          <div class="span3">
            <div id="element_<%=element.id%>_preview" class="element-thumbnail" data-param="<%=element.id%>"></div>
          </div>
          <div class="span3">
            <h5>Tags</h5>
            <% element.tags.split(',').each do |tag| %>
              <% if tag.length > 0%>
                <%= tag %>, 
              <% end %>
            <% end %>
          </div>
          <div class="span6">
            <h5>Description</h5>
            <%= element.description %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="widget">
    <%= t('admin.elements.index.not_found') %>
  </div>
<% end %>