<%
  title_max = t('forms.placeholders.title', :num => t('language_parameters.media_element.length_title').to_s).downcase 
  description_max = t('forms.placeholders.description', :num => t('language_parameters.media_element.length_description').to_s).downcase
  tags_max = t('forms.placeholders.tags', :items => SETTINGS['min_tags_for_item'].to_s, :num => SETTINGS['max_tag_length'].to_s).downcase
%>
<div class="row-fluid">
  <div class="span3">
    <h3 class="span12">Upload one ore more elements</h3>
    <%= form_tag admin_elements_path, :method => :post, :id => 'new-elements', :multipart => true do %>
      <label for="title">Title</label>
      <%= text_field_tag 'title', '' %><br />
      <label for="description">Description</label>
      <%= text_area_tag 'description', '' %><br />
      <label for="tags">Tags</label>
      <%= text_area_tag 'tags', '', :maxlength => SETTINGS['max_tag_length'], :class => 'lower' %><br />
      <label for="file">File to Upload</label> <%= file_field_tag "media", multiple: true %><br />
      <%= submit_tag t('forms.upload_media_element.done').downcase, :class=>"btn _new_element_form_submit", :style=>"display:none" %>
      <% end %>
  </div>
  <div class="span9">
    <h3>New elements</h3>
    <div id="new_elements_preview" class="well">
      <% if @new_media_element.present? %>
        <%= render :partial => 'element_update', :locals => {:element => @new_media_element} %>
      <% end %>
      <div style="clear:both">
    </div>
  </div>
</div>