<div class="notice-help">
  <div id="expanded_notification" style="display:none;" data-contentid="0"></div>
  <div class="notice">
    <a id="notifications_button" title="<%= t('general_titles.header_notification') %>"></a>
    <%= render :partial => "notifications/tooltip_arancione" %>
    <%= render :partial => "notifications/tooltip" %>
  </div>
  <div class="help">
  <a id="help"  title="<%= t('general_titles.header_help_for_me') %>"></a>
    <%= render :partial => "notifications/tooltip_help" %>
  </div>
</div>

