<span class="tooltip" id="tooltip_content" data-offset="<%= @offset_notifications %>" data-totnumber="<%= @tot_notifications %>">
  <%= image_tag("freccia_tooltip.png", :class => "callout") %>
  <div class="list">
    <ul class="navlist">
      <div class="scroll-pane">
        <% if @notifications.empty? %>
          <%= t('capital_letter.no_notifications') %>
        <% else %>
          <% @notifications.each do |n| %>
            <%= render :partial => "notifications/notification", :locals => {:notification => n} %>
          <% end %>
        <% end %>
      </div>
    </ul>
  </div>
</span>
