<% if @ok %>
  $("#notification_<%= @notification_id %>").hide('scale', {percent: 0}, 500, function() {
    $('#notification_<%= @notification_id %>').replaceWith('');
    $('#tooltip_content').data('offset', '<%= @offset_notifications %>');
    $('#tooltip_content').data('totnumber', '<%= @tot_notifications %>');
    $('#tooltip_arancione').data('number', '<%= @new_notifications %>');
    $('#tooltip_arancione').html('<img class="calloutTooltipArancione" src="/assets/freccia_arancione.png" alt="Freccia_arancione"><%= @new_notifications %>');
    <% if @load_new %>
      $('#tooltip_content ul .jspPane').append("<%= j(render(:partial => "notifications/notification", :locals => {:notification => @next_notification})) %>");
    <% elsif @notifications.empty? %>
      $('#tooltip_content ul .jspPane').append("<span><%= j(t('capital_letter.no_notifications')) %></span>");
    <% end %>
    var my_expanded = $('#expanded_notification');
    if(my_expanded.css('display') == 'block' && my_expanded.data('contentid') == 'notification_<%= @notification_id %>') {
      my_expanded.hide('fade', {}, 500, function() {
        hideExpandedNotification();
        my_expanded.html('');
        my_expanded.data('contentid', '0');
      });
    }
  });
<% end %>
