<div class="row-fluid">
  <div class="span12">
    <h3><%= t('admin.messages.notifications.send_notifications')%></h3>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <div class="hero-unit">
      <div class="row-fluid">
          <div class="span4">
            <div class="row-fluid">
              <div class="span12 pagination-centered">
                <h4>Filter users to send notifications to</h4>
              </div>
            </div>
            <div class="row-fluid">
              <%= form_tag '/admin/messages/filter_users', :id => 'filter-users', :remote => true do%>
                <div class="span12">
                  
                    <%= render :partial => 'admin/search/notifications_filter' %>
                    <br />
                    <%= render :partial => 'admin/search/location' %>
                  
                </div>
              <% end %>
            </div>
            <div class="row-fluid">
              <div class"span12">
                <div id="alert" class="alert alert-info pagination-centered" style="display:none">
                  
                </div>
              </div>
            </div>
          </div>
          <div class="span1"></div>
          <div class="span7">
            <%= form_tag('/admin/messages/send_notifications', :method => :post, :id=>"notifications-form") do %>
              <div class="row-fluid">
                <div class="span6">
                  <div class="control-group">
                    <h4>Add recipients</h4>
                    <div class="controls">
                      <% if @users.present? %>
                        <%= text_field_tag :recipients, @users.map(&:full_name).to_s.gsub(/[\[\]\"]/,'') , :placeholder => 'recipients', :class=>'input-xlarge', :id => 'contact-recipients' %>
                        <%= hidden_field_tag :notification_ids,  @users.map(&:id).to_s.gsub(/[\[\]\"]/,'')%>
                      <% else %>
                        <%= text_field_tag :recipients, '' , :placeholder => 'recipients', :class=>'input-xlarge', :id => 'contact-recipients' %>
                        <%= hidden_field_tag :notification_ids %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="span6">
                  <h4>_</h4>
                  <label class="checkbox">
                    <%= check_box_tag :all_users %> Send to everyone
                  </label>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span12">
                  <div class="control-group">
                    <h4><%= t('admin.messages.contact.message')%></h4>
                    <div class="controls">
                      <%= text_area_tag :message, '', :placeholder => 'message', :rows => '10', :class => 'input-xxlarge' %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-actions">
                <button type="submit" class="btn"><%= t('admin.messages.contact.send')%></button>
              </div>
              <div class="clearfix"></div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>