<div class="row-fluid">
  <div class="span12">
    <h3><%= t('admin.messages.reports.name') %></h3>
  </div>
</div>
<div class="row-fluid reports">
  <div class="span6 widget">
    <h3><%= t('admin.messages.reports.media_elements') %></h3>
    <% @elements_reports.each do |report| %>
      <a href="/admin/media_elements?utf8=✓&search%5Bid%5D=<%=report.reportable.id%>#list-anchor">
        <blockquote class="elements">
          <div class="pull-right date-label elements">
            <%= report.created_at.strftime('%d %b %Y') %>
          </div>
          <%= report.user.full_name %><br/>
          <b><%= t('admin.messages.reports.item') %></b> <%= report.reportable.title %><br/>
          <b><%= t('admin.messages.reports.report') %></b> <i><%= report.comment %></i>
        </blockquote>
      </a>
    <% end %>
  </div>
  <div class="span6 widget">
    <h3><%= t('admin.messages.reports.lessons') %></h3>
    <% @lessons_reports.each do |report| %>
      <a href="/admin/lessons?utf8=✓&search%5Bid%5D=<%=report.reportable.id%>#list-anchor">
        <blockquote class="lessons">
          <div class="pull-right date-label lessons">
            <%= report.created_at.strftime('%d %b %Y') %>
          </div>
          <%= report.user.full_name %><br/>
          <b><%= t('admin.messages.reports.item') %></b><%= report.reportable.title %><br/>
          <b><%= t('admin.messages.reports.report') %></b> <i><%= report.comment %></i>
        </blockquote>
      </a>
    <% end %>
  </div>
</div>
