<%
  image = slide.image_at(1)
  author = slide.lesson.user
  subject = slide.lesson.subject
%>

<div class="bigViewLesson slideCover">
  <div class="cover">
    <% if !image[:empty] %>
      <%= image_tag image[:url], :style => "left:#{image[:alignment]}px" %>
    <% end %>
  </div>
  <div class="bg_text">
    <div class="lessonTitle"><%= slide.lesson.title %></div>
  </div>
  <div class="lessonSubject">
    <%= subject.description %><span><%= t('captions.author') %>: <strong><%= author.full_name %></strong></span>
  </div>
</div>
