<%
  image = slide.media_element_url_at(1)
  image = image[:empty] ? image[:placeholder] : image[:url]
  author = slide.lesson.user
  subject = slide.lesson.subject
%>

<div class="bigViewLesson slideCover">
  <%= image_tag image %>
  <div class="bg_text">
    <div class="lessonTitle"><%= slide.title %></div>
  </div>
  <div class="lessonSubject">
    <%= subject.description %><span><%= t('captions.author') %>: <strong><%= author.full_name %></strong></span>
  </div>
</div>
