<%
  image1 = slide.image_at(1)
  image2 = slide.image_at(2)
  image_height1 = resize_height(image1.media_element.width,image1.media_element.height,"image2") if !image1.nil?
  image_width1 = resize_width(image1.media_element.width,image1.media_element.height,"image2") if !image1.nil?
  image_height2 = resize_height(image2.media_element.width,image2.media_element.height,"image2") if !image2.nil?
  image_width2 = resize_width(image2.media_element.width,image2.media_element.height,"image2") if !image2.nil?
%>


<div class="slide-content image2">
  
  <div class="item image-container">
    <% if image2.nil? %>
      <div class="photoIcon"></div>
    <% else %>
      <% if is_horizontal?(image2.media_element.width,image2.media_element.height,"image2")%>
        <%= image_tag image2.media_element.url, :style => "left:#{image2.alignment}px; height: 550px; width: #{image_width2}px" %>
      <% else %>
        <%= image_tag image2.media_element.url, :style => "top:#{image2.alignment}px; width: 420px; height: #{image_height2}px" %>
      <% end %>
      <% if !image2.caption.blank? %>
        <div class="caption"><%= image2.caption %></div>
      <% end %>
    <% end %>
  </div>
  
  <div class="item image-container" style="margin-right:0">
    <% if image1.nil? %>
      <div class="photoIcon"></div>
    <% else %>
      <% if is_horizontal?(image1.media_element.width,image1.media_element.height,"image2")%>
        <%= image_tag image1.media_element.url, :style => "left:#{image1.alignment}px; height: 550px; width: #{image_width1}px" %>
      <% else %>
        <%= image_tag image1.media_element.url, :style => "top:#{image1.alignment}px; width: 420px; height: #{image_height1}px" %>
      <% end %>
      <% if !image1.caption.blank? %>
        <div class="caption"><%= image1.caption %></div>
      <% end %>
    <% end %>
  </div>
  
</div>
