<%
  image1 = slide.image_at(1)
  image2 = slide.image_at(2)
  image3 = slide.image_at(3)
  image4 = slide.image_at(4)
%>

<div class="bigViewLesson slideImage" style="display:block">
  <div class="boxFissoImage" style="margin-bottom:20px">  
    <div class="small">
      <% if image1.nil? %>
        <div class="photoIcon"></div>
      <% else %>
        <%= image_tag image1.media_element.url, :style => "left:#{image1.alignment}px" %>
        <% if !image1.caption.blank? %>
          <div class="caption"><%= image1.caption %></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="boxFissoImage" style="float:right">
    <div class="small">
      <% if image2.nil? %>
        <div class="photoIcon"></div>
      <% else %>
        <%= image_tag image2.media_element.url, :style => "left:#{image2.alignment}px" %>
        <% if !image2.caption.blank? %>
          <div class="caption"><%= image2.caption %></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="boxFissoImage">
    <div class="small">
      <% if image3.nil? %>
        <div class="photoIcon"></div>
      <% else %>
        <%= image_tag image3.media_element.url, :style => "left:#{image3.alignment}px" %>
        <% if !image3.caption.blank? %>
          <div class="caption"><%= image3.caption %></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="boxFissoImage" style="float:right">
    <div class="small">
      <% if image4.nil? %>
        <div class="photoIcon"></div>
      <% else %>
        <%= image_tag image4.media_element.url, :style => "left:#{image4.alignment}px" %>
        <% if !image4.caption.blank? %>
          <div class="caption"><%= image4.caption %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
