<fieldset class="insert-content">
  
  <div class="inputElement">
    <%= t('users.info.attributes.name') %><br>
    <%= f.text_field :name, class: 'text' %>
  </div>
  
  <div class="inputElement">
    <%= t('users.info.attributes.surname') %><br>
    <%= f.text_field :surname, class: 'text' %>
  </div>
  
  <div class="inputElement">
    <%= t('users.info.attributes.email') %><br>
    <%= f.email_field :email, class: 'text', disabled: !user.new_record? %>
  </div>
  
  <br class="clearfloat"/>
  
  <div class="inputElement">
    <% if user.new_record? %>
      <%= t('users.info.attributes.password') %>
    <% else %>
      <%= t('users.info.attributes.new_password') %>
    <% end %>
    <br/>
    <%= f.password_field :password, class: 'text' %>
  </div>
  
  <div class="inputElement" style="margin-right:0">
    <% if user.new_record? %>
      <%= t('users.info.attributes.password_confirmation') %>
    <% else %>
      <%= t('users.info.attributes.new_password_confirmation') %>
    <% end %>
    <br>
    <%= f.password_field :password_confirmation, class: 'text' %>
  </div>
  
  <br class="clearfloat"/>
  
  <ul class="listaErrori">
    <% general_errors.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
  
</fieldset>


<hr>


<fieldset class="insert-content">
  
  <% location_with_errors = user.errors.include?(:location_id) %>
  <% SETTINGS['location_types'].each_with_index do |location, index| %>
    <%
      is_last = (index == SETTINGS['location_types'].length - 1)
      local_location_with_errors = location_with_errors ? locations[index + 1].to_a.empty? : false
      my_own_locations = locations[index].nil? ? {:selected => 0, :content => []} : locations[index]
    %>
    <div class="inputElement">
      <div class="_location_selector <%= local_location_with_errors ? 'field_with_errors'.html_safe : '' %>">
        <%= Location.label_at(index) %><br>
        <select id="<%= location.downcase %>_id" class="_location_select_box" data-is-last="<%= is_last %>" name="location[<%= location.downcase %>]">
          <%= render :partial => 'users/locations_list', :locals => {:locations => my_own_locations[:content], :selected => my_own_locations[:selected], :edit => edit} %>
        </select>
      </div>
    </div>
  <% end %>
  
  <br class="clearfloat"/>
  
  <ul class="listaErrori">
    <% location_errors.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
  
</fieldset>


<hr>


<fieldset class="insert-content">
  
  <div class="inputElement">
    <%= t('users.info.attributes.school_level_id') %><br>
    <%= f.select :school_level_id, school_level_ids %>
  </div>
  <br class="clearfloat">
  
</fieldset>


<hr>
