<fieldset class="insert-content">
  <div class="inputElement">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'text' %>
  </div>
  <div class="inputElement">
    <%= f.label :surname %>
    <%= f.text_field :surname, class: 'text' %>
  </div>
  <div class="inputElement">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'text' %>
  </div>
  <br class="clearfloat" />
  <div class="inputElement">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'text' %>
  </div>
  <div class="inputElement" style="margin-right:0">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'text' %>
  </div>
</fieldset>
<fieldset class="insert-content">
  <div class="inputElement">
    <%= f.label :school %>
    <%= f.text_field :school, class: 'text school' %>
  </div>
  <br class="clearfloat" />
  <div class="inputElement">
    <%= f.label :school_level_id %>
    <%= f.select :school_level_id, @school_level_ids %>
  </div>
  <div class="inputElement">
    <%= f.label :location_id %>
    <%= f.select :location_id, @location_ids %>
  </div>
</fieldset>
