<fieldset class="insert-content">
  
  <% unless user.new_record? %>
    <%= hidden_field_tag :in_subjects, true %>
  <% end %>
  
  <% subjects.each do |subject| %>
    <% html_id = "users_subject_ids_#{subject.id}" %>
    <div class="checkboxElement">
      <% if user.errors.include?(:users_subjects) %>
        <div class="field_with_errors">
          <%= check_box_tag "user[subject_ids][]", subject.id, user.users_subjects.map(&:subject_id).include?(subject.id), id: html_id, class: "regular-checkbox big-checkbox" %>
          <%= label_tag html_id, '' %>
        </div>
      <% else %>
        <%= check_box_tag "user[subject_ids][]", subject.id, user.users_subjects.map(&:subject_id).include?(subject.id), id: html_id, class: 'regular-checkbox big-checkbox' %>
        <%= label_tag html_id, '' %>
      <% end %>
      <span><%= subject.to_s %></span>
    </div>
  <% end %>
  
  <br class="clearfloat">
  
  <ul class="listaErrori">
    <% errors.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
  
</fieldset>
