<fieldset class="insert-content">
  <% unless user.new_record? %>
    <%= hidden_field_tag :in_subjects, true %>
  <% end %>
  <% subjects.each do |cathegory| %>
    <div class="cathegorySubjectContainer">
      <div class="cathegorySubjectName">
        <%= cathegory[:label].present? ? cathegory[:label] : t('users.subjects.no_cathegory') %>
      </div>
      <% cathegory[:items].each do |subject| %>
        <% html_id = "users_subject_ids_#{subject.id}" %>
        <div class="checkboxElement">
          <% if user.errors.include?(:users_subjects) %>
            <div class="field_with_errors">
              <%= check_box_tag 'user[subject_ids][]', subject.id, user.users_subjects.map(&:subject_id).include?(subject.id), id: html_id, class: 'regular-checkbox big-checkbox' %>
              <%= label_tag html_id, '' %>
            </div>
          <% else %>
            <%= check_box_tag 'user[subject_ids][]', subject.id, user.users_subjects.map(&:subject_id).include?(subject.id), id: html_id, class: 'regular-checkbox big-checkbox' %>
            <%= label_tag html_id, '' %>
          <% end %>
          <span><%= subject.to_s %></span>
        </div>
      <% end %>
      <% if !edit && cathegory[:label].present? %>
        <a class="checkAllSubjects"><%= t('registration.select_all_subjects') %></a>
      <% end %>
    </div>
  <% end %>
  <br class="clearfloat">
  <ul class="listaErrori">
    <% errors.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
</fieldset>
