<fieldset class="insert-content">
  
  <div class="inputElement">
    <%= t('users.info.attributes.name') %><br>
    <%= f.text_field :name, class: 'text' %>
  </div>
  
  <div class="inputElement">
    <%= t('users.info.attributes.surname') %><br>
    <%= f.text_field :surname, class: 'text' %>
  </div>
  
  <div class="inputElement">
    <%= t('users.info.attributes.email') %><br>
    <%= f.email_field :email, class: 'text', disabled: !user.new_record? %>
  </div>
  
  <br class="clearfloat"/>
  
  <div class="inputElement">
    <% if user.new_record? %>
      <%= t('users.info.attributes.password') %>
    <% else %>
      <%= t('users.info.attributes.new_password') %>
    <% end %>
    <br/>
    <%= f.password_field :password, class: 'text' %>
  </div>
  
  <div class="inputElement" style="margin-right:0">
    <% if user.new_record? %>
      <%= t('users.info.attributes.password_confirmation') %>
    <% else %>
      <%= t('users.info.attributes.new_password_confirmation') %>
    <% end %>
    <br>
    <%= f.password_field :password_confirmation, class: 'text' %>
  </div>
  
  <br class="clearfloat"/>
  
  <ul class="listaErrori">
    <% general_errors.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
  
</fieldset>


<hr>


<fieldset id="location_container_in_personal_info" class="insert-content">
  <%= render :partial => 'users/personal_locations', :locals => {:forced_location => forced_location, :locations => locations, :edit => edit} %>
</fieldset>

<% if SETTINGS['saas_registration_mode'] && !edit %>
  <input id="locations_disclaimer" class="regular-checkbox" type="checkbox" value="0">
  <%= label_tag 'locations_disclaimer', '' %>
  <%= t('registration.locations_disclaimer') %> <!-- TODO traduzz -->
<% end %>

<br/><br/><br/>

<hr>


<fieldset class="insert-content">
  
  <div class="inputElement">
    <%= t('users.info.attributes.school_level_id') %><br>
    <%= f.select :school_level_id, school_level_ids %>
  </div>
  <br class="clearfloat">
  
</fieldset>

<br/><br/>

<hr>
