<div class="griglia-contenuti">
  <div class="profile-content">
    <div class="title-bar">
      <h1><%= t('captions.profile') %></h1>
      <ul class="navlist">
        <li><%= link_to t('users.info.menu_link'), my_profile_path, :class => 'current' %></li>
        <li><%= link_to t('users.subjects.menu_link'), my_subjects_path %></li>
        <li><%= link_to t('users.mailing_list.menu_link'), my_mailing_lists_path %></li>
        <li><%= link_to t('users.statistics.menu_link'), my_statistics_path %></li>
      </ul>
    </div>
    <br class="clearfloat">
    <div class="contentForm">
      <header>
        <h2><%= t('users.info.title') %></h2>
        <p><%= t('users.info.description') %></p>
      </header>
      <%= form_for @user, :url => user_path do |f| %>
        <%
          locals_for_general_info = {
            :f => f,
            :edit => true,
            :user => @user,
            :general_errors => (@errors.nil? ? [] : @errors[:general]),
            :location_errors => (@errors.nil? ? [] : @errors[:location]),
            :locations => @locations,
            :school_level_ids => @school_level_ids
          }
        %>
        <%= render :partial => 'personal_info', :locals => locals_for_general_info %>
        <div class="form_submit">
          <%= f.submit t('users.info.save') %>
        </div>
      <% end %>
      <br class="clearfloat">
    </div>
  </div>
</div>
