<div class="griglia-contenuti">
  <div class="profile-content">
    <div class="title-bar">
      <h1>profile</h1>
      <ul class="navlist">
        <li><%= link_to t('captions.personal_info'), my_profile_path, :class => 'current' %></li>
        <li><%= link_to t('captions.subjects'), my_subjects_path %></li>
        <li><%= link_to t('captions.statistics'), my_statistics_path %></li>
      </ul>
    </div>
    <br class="clearfloat">
    <div class="contentForm">
      <header>
        <h2>Personal Info</h2>
        <p>In this area you can update or modify all the parameters of your account</p>
      </header>
      <%= form_for @user, :url => user_path do |f| %>
        <%= render :partial => 'personal_info', :locals => {:f => f} %>
        <div class="form_submit">
          <%= f.submit "save" %>
        </div>
      <% end %>
      <br class="clearfloat">
    </div>
  </div>
</div>