<div class="griglia-contenuti">
  <div class="profile-content">
    <div class="title-bar">
      <h1><%= t('captions.profile') %></h1>
      <ul class="navlist">
        <li><%= link_to t('users.info.menu_link'), my_profile_path %></li>
        <li><%= link_to t('users.subjects.menu_link'), my_subjects_path %></li>
        <li><%= link_to t('users.mailing_list.menu_link'), my_mailing_lists_path, :class => 'current' %></li>
        <li><%= link_to t('users.statistics.menu_link'), my_statistics_path %></li>
      </ul>
    </div>
    <div class="contentForm">
      <header>
        <h2><%= t('users.mailing_list.title')%></h2>
        <p><%= t('users.mailing_list.description')%></p>
      </header>
      <div id="list">
        <%= render :partial => 'mailing_lists/list'%>
      </div>
      <br />
      <div class="form_submit">
        <input id="fake_save_mailing_list" type="submit" value="<%= t('users.mailing_list.save') %>" />
      </div>
    </div>
  </div>
</div>
