<div class="griglia-contenuti">
  <div class="profile-content">
    <div class="title-bar">
      <h1>profile</h1>
      <ul class="navlist">
        <li><%= link_to t('captions.personal_info'), my_profile_path%></li>
        <li><%= link_to t('captions.subjects'), my_subjects_path %></li>
				<li><%= link_to t('captions.mailing_lists'), my_mailing_lists_path, :class => 'current' %></li>
        <li><%= link_to t('captions.statistics'), my_statistics_path %></li>
      </ul>
    </div>
    <div class="contentForm">
      <header>
        <h2><%= t('captions.mailing_lists')%></h2>
        <p><%= t('descriptions.mailing_lists')%></p>
      </header>
      <div id="list">
        <%= render :partial => 'mailing_lists/list'%>
      </div>
      <br />
      <div class="form_submit">
        <input type="submit" value="save" />
      </div>
    </div>
  </div>
</div>