<div class="griglia-contenuti">
  <div class="profile-content">
    <div class="title-bar">
      <h1>profile</h1>
      <ul class="navlist">
        <li><%= link_to t('captions.personal_info'), my_profile_path%></li>
        <li><%= link_to t('captions.subjects'), my_subjects_path %></li>
        <li><%= link_to t('captions.stats'), my_stats_path, :class => 'current' %></li>
      </ul>
    </div>
    <div class="contentStats">
      <div style="padding:0px 10px 10px 10px">
        <%= image_tag "logo_stats.png" %>
        <p>Measure the quality of your work in DESY and monitors
  all content in the application</p>
        <h2>Personal stats</h2>
        <div class="dati">
          <p>Lessons created: <strong>98</strong></p>
          <p>Didactic elements loaded: <strong>126</strong></p>
          <p>Number of your lessons copied by other users: <strong>64</strong></p>
          <p>Number of "like" on your content: <strong>234</strong></p>
          <p>Your best lesson: Standing in paradise <strong>(76)</strong></p>
        </div>
        <h2>Application stats</h2>
        <div class="dati">
          <p>Total users: <strong>2345</strong></p>
          <p>Didactic elements loaded: <strong>4254</strong></p>
          <p>Classes loaded: <strong>1763</strong></p>
        </div>
      </div>
    <table>
      <tr>
        <td><h3>Detail of uploaded content</h3></td>
      </tr>
      <tr>
        <td><%= image_tag "grafico_stats.jpg" %></td>
      </tr>
      </table>  
    </div>
  </div>
</div>