<div class="griglia-contenuti">
  <div class="profile-content">
    <div class="title-bar">
      <h1>profile</h1>
      <ul class="navlist">
        <li><%= link_to t('captions.personal_info'), my_profile_path%></li>
        <li><%= link_to t('captions.subjects'), my_subjects_path %></li>
        <li><%= link_to t('captions.statistics'), my_statistics_path, :class => 'current' %></li>
      </ul>
    </div>
    <div class="contentForm">
      <header>
        <h2><%= t('captions.statistics')%></h2>
        <p>Follow you numbers in DESY and statistics of the system.</p>
      </header>
      <div class="stats">
        <h2><%= t('captions.personal')%></h2>
        <ul class="col fltlft">
          <li class="lesson_stat">
            <span class="fltlft"><%= t('captions.lessons_created')%></span><div><%= @my_created_lessons %></div>
          </li>
          <li class="lesson_stat">
            <span class="fltlft"><%= t('captions.lessons_copied_by')%> (TODO)</span><div>100</div>
          </li>
          <li class="lesson_stat"><span class="fltlft"><%= t('captions.lessons_more_likes')%></span>
            <ul>
              <% @my_liked_lessons.each do |liked| %>
                <li><span><%=liked.title%></span><div><%=liked.likes.count%></div></li>
              <% end %>
            </ul>
          </li>
        </ul>
        <ul class="col fltrt">
          <li class="element_stat"><span><%= t('captions.elements_loaded')%></span><div><%= @my_created_elements %></div></li>
          <li class="generic_stat"><span><%= t('captions.likes_on_content')%></span><div><%= @my_likes_count %></div></li>
        </ul>
        <br style="clear:both" />
      </div>
    
      <div class="stats">
        <h2><%= t('captions.general')%></h2>
        <ul class="col fltlft">
          <li class="lesson_stat"><span><%= t('captions.lesson_shared')%></span><div><%= @all_shared_lessons %></div></li>
          <li class="element_stat"><span><%= t('captions.elements_shared')%></span><div><%= @all_shared_elements %></div></li>
          <li class="generic_stat"><span><%= t('captions.total_users')%></span><div><%= @all_users %></div></li>
          <li class="lesson_stat"><span><%= t('captions.lessons_more_like')%></span>
            <ul>
              <% @all_liked_lessons.each do |liked| %>
                <li><span><%=liked.title%></span><div><%=liked.likes.count%></div></li>
              <% end %>
            </ul>
          </li>
          <li class="generic_stat"><span><%= t('captions.users_more_likes')%> (TODO)</span>
            <ul>
              <li><span>user</span><div>23123</div></li>
              <li><span>user</span><div>32312</div></li>
            </ul>
          </li>
        </ul>
        <ul class="col fltrt">
          <li class="element_stat">
            <%= t('captions.percentual_lesson_subject')%>
            <br style="clear:both" />
            <span class="pie" data-text="<%= @all_subjects_desc %>" data-diameter="400"><%= @all_subjects_chart %></span>
          </li>
        </ul>
        <br style="clear:both" />
      </div>
    </div>
  </div>
</div>