<div class="griglia-contenuti">
  <div class="profile-content">
    <div class="title-bar">
      <h1><%= t('captions.profile') %></h1>
      <ul class="navlist">
        <li><%= link_to t('users.info.menu_link'), my_profile_path %></li>
        <li><%= link_to t('users.subjects.menu_link'), my_subjects_path, :class => 'current' %></li>
        <li><%= link_to t('users.mailing_list.menu_link'), my_mailing_lists_path %></li>
        <li><%= link_to t('users.statistics.menu_link'), my_statistics_path %></li>
        <% if current_user.trial? %>
          <li><%= link_to t('users.trial.menu_link'), my_trial_path %></li>
        <% end %>
      </ul>
    </div>
    <br class="clearfloat">
    <div class="contentForm">
      <header>
        <h2><%= t('users.subjects.title') %></h2>
        <p><%= t('users.subjects.description') %></p>
      </header>
      <%= form_for @user, :url => user_path do |f| %>
        <%
          locals_for_personal_subjects = {
            :f => f,
            :user => @user,
            :errors => (@errors.nil? ? [] : @errors[:subjects]),
            :subjects => @subjects
          }
        %>
        <%= render :partial => 'personal_subjects', :locals => locals_for_personal_subjects %>
        <div class="form_submit">
          <input type="submit" value="<%= t('users.subjects.save') %>"/>
        </div>
      <% end %>
    </div>
  </div>
</div>
