<div class="griglia-contenuti">
  <div class="profile-content">
    <%= render :partial => 'users/title_bar', :locals => {:classes => ['', 'current', '', '', '']} %>
    <br class="clearfloat">
    <div class="contentFormInProfile">
      <header>
        <h2><%= t('users.subjects.title') %></h2>
        <p><%= t('users.subjects.description') %></p>
      </header>
      <%= form_for @user, :url => user_path do |f| %>
        <%
          locals_for_personal_subjects = {
            :f => f,
            :user => @user,
            :errors => (@errors.nil? ? [] : @errors[:subjects]),
            :subjects => @subjects,
            :edit => true
          }
        %>
        <%= render :partial => 'personal_subjects', :locals => locals_for_personal_subjects %>
        <div class="form_submit">
          <input type="submit" value="<%= t('users.subjects.save') %>"/>
        </div>
      <% end %>
    </div>
  </div>
</div>
