<div class="griglia-contenuti">
  <div class="profile-content">
    <div class="title-bar">
      <h1><%= t('captions.profile') %></h1>
      <ul class="navlist">
        <li><%= link_to t('users.info.menu_link'), my_profile_path %></li>
        <li><%= link_to t('users.subjects.menu_link'), my_subjects_path %></li>
        <li><%= link_to t('users.mailing_list.menu_link'), my_mailing_lists_path %></li>
        <li><%= link_to t('users.statistics.menu_link'), my_statistics_path %></li>
        <li><%= link_to t('users.trial.menu_link'), my_trial_path, :class => 'current' %></li>
      </ul>
    </div>
    <div class="contentForm">
      <header>
        <h2><%= t('users.trial.title') %></h2>
        <p><%= t('users.trial.description', :desy => SETTINGS['application_name']) %></p>
      </header>
      <%= form_tag user_logged_upgrade_trial_path, :method => :post, :autocomplete => 'off' do %>
        <fieldset class="insert-content">
          <div class="inputElement">
            <%= t('users.trial.purchase_code') %><br>
            <% if @error.blank? %>
              <%= text_field_tag 'purchase_id', '', :class => 'text' %>
            <% else %>
              <div class="field_with_errors">
                <%= text_field_tag 'purchase_id', '', :class => 'text' %>
              </div>
            <% end %>
          </div>
          <br class="clearfloat"/>
          <% if @error.present? %>
            <ul class="listaErrori">
              <li><%= @error %></li>
            </ul>
          <% end %>
        </fieldset>
        <div class="form_submit">
          <%= submit_tag t('users.trial.commit') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
