<div class="griglia-contenuti">
  <div class="profile-content">
    <div class="title-bar">
      <h1><%= t('captions.profile') %></h1>
      <ul class="navlist">
        <li><%= link_to t('users.info.menu_link'), my_profile_path %></li>
        <li><%= link_to t('users.subjects.menu_link'), my_subjects_path %></li>
        <li><%= link_to t('users.mailing_list.menu_link'), my_mailing_lists_path %></li>
        <li><%= link_to t('users.statistics.menu_link'), my_statistics_path %></li>
        <li><%= link_to t('users.trial.menu_link'), my_trial_path, :class => 'current' %></li>
      </ul>
    </div>
    <div class="contentForm">
      <header>
        <h2><%= t('users.trial.title') %></h2> <!-- TODO traduzz -->
        <p><%= t('users.trial.description') %></p> <!-- TODO traduzz -->
      </header>
      <fieldset class="insert-content">
        <%= form_tag user_send_upgrade_trial_path, :method => :post do %>
          <div class="inputElement">
            Purchase code <!-- TODO traduzz --> <br>
            <%= text_field_tag 'purchase_id', '', :class => 'text' %>
          </div>
        <% end %>
      </fieldset>
      <div class="form_submit">
        <%= submit_tag 'daje' %> <!-- TODO traduzz -->
      </div>
    </div>
  </div>
</div>
