<div class="header">
  <div class="headerMenu">
  <ul>
    <li><a href=""><%= t('capital_letter.what_is_desy') %></a></li>
    <li><a href=""><%= t('capital_letter.learning_goals') %></a></li>
    <li><a href=""><%= t('capital_letter.register') %></a></li>
    <li><a href=""><%= t('capital_letter.contact_us') %></a></li>
  </ul>
  <div class="login">
    <p><%= t('capital_letter.problems_with_password') %></p>
      <div class="button">
        <a href=""><%= t('capital_letter.login') %></a>
      </div>
      <div class="tooltip">
      <%= image_tag("freccia_tooltip_up.png", :class => "callout") %>
      <form action="" method="get" id="">
      <table summary="" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
          <td><input type="text" name="username" value="username" class="text" onfocus="this.value=''"></td>
        </tr>
        <tr>
          <td><input type="text" name="password" value="password" class="text" onfocus="this.value=''">  </td>
        </tr>
        </tbody>
      </table>
      <a href=""><%= t('capital_letter.enter') %></a>
      </form>
      </div>
   </div>
  </div>
</div>



<div class="containerText">
  <div class="fltlft" style="width:47%">
    <%= image_tag "logo_prelogin.png" %>
  </div>
  <div class="fltlft" style="width:26%">
    <h1><%= t('capital_letter.discover_a_new_way_of_teaching') %></h1>
    <p><%= t('long_descriptions.prelogin') %></p>
    <p><a href=""><%= t('capital_letter.watch_the_video') %></a></p>
  </div>
  <div class="fltrt">
    <%= image_tag "screenshot_elements.jpg" %>
  </div>
</div>

<br class="clearfloat">
<div class="footer">
  <%= t('capital_letter.copyright') %>
</div>
