<div class="header-main">
  <% logo_path = current_user.trial? ? 'logo_trial.gif' : 'logo.gif' %>
  <a href="<%= dashboard_path %>" class="header-link">
    <span class="vertical-aligner"></span>
    <%= image_tag(logo_path) %>
  </a>
  <% if current_user.trial? %>
    <div class="freeTrial"><%= t('users.trial.expiration', :days => (current_user.trial_to_expiration / 86400 + 1).to_s).html_safe %></div>
  <% end %>
  <div class="logout">
    <div class="fltlft">
      <span class="nome"><%= current_user.name %></span>
      <span class="cognome"><%= current_user.surname %></span>
      <br class="clearfloat">
      <%= render :partial => 'shared/logged_links', :locals => {:user => current_user} %>
    </div>
    <%= render :partial => 'notifications/main', :locals => {:notifications => @notifications, :news => @new_notifications, :offset => @offset_notifications, :tot => @tot_notifications} %>
  </div>
  <br style="clear:both"/>
</div>
