<div class="image_gallery">
  <div class="header">
    <h3 class="pull-left">
      <%= image_tag("choose-image-small.png")%> <%= t "captions.select_image" %>
    </h3>
    <div id="image-search" class="pull-right">
      <input type="search" placeholder="<%= t 'captions.search' %>"/>
    </div>
  </div>
  <div class="scroll-pane">
    <ul class="gallery">
    <% @media_elements.each do |mel| %>
      <li id="#gallery_thumb_<%=mel.id%>" class="_gallery_thumb">
        <%= link_to (image_tag "testa.jpg", :width => '111'), "##{mel.id}" %>
        <%= render :partial => "shared/image_gallery_popup", :locals => {:media_element => mel} %>
      </li>
    <% end %>
    <ul>
  </div>
  <div class="footer">
    <div class="pull-right"><a href="#">X</a></div>
  </div>
</div>
