<div class="_gallery_img_expanded _gallery_img_expanded_<%= media_element.id%>" id="_gallery_img_expanded_<%= media_element.id%>" data-param="<%= media_element.id %>">
  <%= image_tag("http://lorempixel.com/385/266")%>
  <div class="caption">
    <a href="#" class="close _close_popup pull-right" data-param="<%= media_element.id %>"><div class="ui-state-default ui-corner-all" title=".ui-icon-circle-plus"><span class="ui-icon ui-icon-closethick"></span></div></a>
    <a href="#" class="pull-right _add-image_to_slide image-<%= media_element.id %>" data-param="<%= media_element.id %>"><div class="ui-state-default ui-corner-all" title=".ui-icon-circle-plus"><span class="ui-icon ui-icon-plustick"></span></div></a>
    <p><%= media_element.title %></p>
  </div>
</div>