<div class="timedPopUp" id="dialog-error" style="display:none"></div>

<div class="timedPopUp" id="dialog-ok" style="display:none"></div>

<div class="mediaElementInfoPopUp" id="load-media-element" style="display:none">

   <div class="_media_element_pop_up_container">
				<div class="_change_info_container" style="display:block; border:1px solid red">
					<h1><%= t('captions.modify_info_element') %></h1>
					<p><%= t('descriptions.change_info_element') %></p>
					<form>
						<div class="cols" style="float:left">
							<input type="text" name="title" value="title">
							<br>
							<%= text_area_tag 'description', 'beh' %>
						</div>
						<div class="cols" style="float:right">
							<%= text_area_tag 'tags', 'tags' %>
							<br>
							<%= submit_tag 'save modify' %> <a href="">or cancel</a>
						</div>
					</form>
				</div>

  </div>
</div>
