<div class="timedPopUp" id="dialog-error" style="display:none"></div>

<div class="timedPopUp" id="dialog-ok" style="display:none"></div>

<div class="confirmPopUp" id="dialog-confirm" style="display:none"></div>

<div id="popup_captions_container" style="display:none" data-publish-confirm="<%= t('popups.publish_confirm').html_safe %>" data-publish-yes="<%= t('popups.publish_yes').html_safe %>" data-publish-no="<%= t('popups.publish_no').html_safe %>" data-publish-title="<%= t('popups.publish_title') %>" data-unpublish-confirm="<%= t('popups.unpublish_confirm').html_safe %>" data-unpublish-yes="<%= t('popups.unpublish_yes').html_safe %>" data-unpublish-no="<%= t('popups.unpublish_no').html_safe %>" data-unpublish-title="<%= t('popups.unpublish_title') %>" data-destroy-lesson-confirm="<%= t('popups.destroy_lesson_confirm').html_safe %>" data-destroy-lesson-title="<%= t('popups.destroy_lesson_title').html_safe %>" data-destroy-lesson-yes="<%= t('popups.destroy_lesson_yes').html_safe %>" data-destroy-lesson-no="<%= t('popups.destroy_lesson_no').html_safe %>" data-destroy-media-element-confirm="<%= t('popups.destroy_media_element_confirm').html_safe %>" data-destroy-media-element-title="<%= t('popups.destroy_media_element_title').html_safe %>" data-destroy-media-element-yes="<%= t('popups.destroy_media_element_yes').html_safe %>" data-destroy-media-element-no="<%= t('popups.destroy_media_element_no').html_safe %>" data-temporary-msg=""></div>

<div id="popup_parameters_container" style="display:none" data-timeout="<%= CONFIG['seconds_for_timeout_dialogs'].to_json %>"></div>
