<div class="boxCerca">
  <form id="search_general" class="search-form" method="get" action="/search">
    <table summary="" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <input type="text" name="tag" value="<%= t('captions.search_in_desy') %>" class="text lower" id="general_tag_reader_for_search" style="color:#E2E1E1">
          <%= hidden_field_tag 'tag_kind', '', :id => 'general_tag_kind_for_search' %>
        </td>
        <td>
          <select name="item" id="which_item_to_search">
            <option value="lessons" <%= @where != 'media_elements' ? "selected=\"selected\"".html_safe : '' %>><%= t('captions.lessons') %></option>
            <option value="media_elements" <%= @where == 'media_elements' ? "selected=\"selected\"".html_safe : '' %>><%= t('captions.media_elements') %></option>
          </select>
        </td>
        <td><a id="search_general_submit" class="cerca current">&nbsp;</a></td>
      </tr>
    </table>
  </form>
  <%= link_to t('captions.advanced_search'), "#{search_items_path}?item=#{@where}", :class =>'advanced' %>
</div>
