<div class="boxCerca">
  <%= form_tag search_items_path, :class => 'search-form', :id => 'search_general' do %>
    <table summary="" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <input type="text" name="tag" value="<%= t('small_letter.search') %>" class="text" id="general_tag_reader_for_search">
          <%= hidden_field_tag 'tag_kind', '', :id => 'general_tag_kind_for_search' %>
        </td>
        <td>
          <select name="ricerca" id="sceltaTipo">
            <option value="lessons" <%= @where != 'media_elements' ? "selected=\"selected\"" : '' %>><%= t('capital_letter.lessons') %></option>
            <option value="media_elements" <%= @where == 'media_elements' ? "selected=\"selected\"" : '' %>><%= t('capital_letter.media_elements') %></option>
          </select>
        </td>
        <td><%= image_submit_tag(asset_path('cerca.png')) %></td>
      </tr>
    </table>
  <% end %>
  <%= link_to t('capital_letter.advanced_search'), "#{search_items_path}?item=#{@where}", :class =>'advanced' %>
</div>
