<div id="my_media_elements">
  <% if @media_elements.empty? %>
    <% if @filter == Filters::ALL_MEDIA_ELEMENTS %>
      <%= render :partial => "media_elements/empty" %>
    <% else %>
      <%= render :partial => "media_elements/empty_filter" %>
    <% end %>
  <% else %>
    <% @media_elements.each do |me| %>
      <% if @display == Formats::EXPANDED %>
        <div style="width:90%;  margin:0 auto 0 auto;">
          <%= render :partial => "media_elements/view_single_expanded", :locals => {:media_element => me, :destination => ButtonDestinations::EXPANDED_MEDIA_ELEMENT} %>
        </div>
      <% else %>
        <%= render :partial => "media_elements/view_single_compact", :locals => {:media_element => me, :destination => ButtonDestinations::COMPACT_MEDIA_ELEMENT} %>
      <% end %>
    <% end %>
    <%= render :partial => 'shared/pagination', :locals => {:page => @page, :pages_amount => @pages_amount, :pagination_url => remove_param_from_url(request.url, 'delete_item')} %>
  <% end %>
</div>
