<div class="mediaElementInfoPopUp"  id="load-media-element" style="display:none;">
  <div class="_media_element_pop_up_container">
    <div class="_change_info_container" style="display:block; width:794px; padding:20px 20px 0px 20px">
      <%= form_for media_element, remote: true, html: { class:"formModifyInfo" } do |f| %>
        <div class="cols" style="float:left">
          <div class="selectButton">
            <%#= f.file_field :media, class: "uploadFile", style: 'display: none' %>
            <input type="button" class="uploadFileButton submitButton _fakeUploadTrigger" data-fake-upload-input-selector="#media_element_media" data-fake-upload-show-selector="#media_element_media_show">
            <input id="media_element_media_show" readonly="readonly" placeholder="Nessun file selezionato" class="fk_carica_elemento_file _fakeUploadTrigger" type="text" data-fake-upload-input-selector="#media_element_media" data-fake-upload-show-selector="#media_element_media_show">
          </div>
          <br class="clearfloat">
          <%= f.text_field :title, placeholder: t('forms.media_element.labels.title') %>
          <br>
          <%= f.text_area :description, placeholder: t('forms.media_element.labels.description') %>
        </div>
        <div class="cols" style="float:right;">
          <h1><%= t('forms.media_element.title') %></h1>
          <p style="padding-bottom:15px"><%= t('forms.media_element.notes') %></p>
          <%= f.text_area :tags_as_string, placeholder: t('forms.media_element.labels.tags') %>
          <br>
          <%= f.submit t('forms.media_element.submit') %> <a href="">or cancel</a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="barraLoading"></div>
</div>