<%
  title_max = t('forms.placeholders.title', :num => t('language_parameters.media_element.length_title').to_s).downcase 
  description_max = t('forms.placeholders.description', :num => t('language_parameters.media_element.length_description').to_s).downcase
  tags_max = t('forms.placeholders.tags', :items => SETTINGS['min_tags_for_item'].to_s, :num => SETTINGS['max_tag_length'].to_s).downcase
%>

<div id="load-media-element" class="mediaElementInfoPopUp" style="display:none;" data-placeholder-title="<%= title_max %>" data-placeholder-description="<%= description_max %>" data-placeholder-tags="<%= tags_max %>" data-media-file-too-large="<%= t('forms.error_captions.media_file_too_large') %>" data-placeholder-media="<%= t('forms.placeholders.media').downcase %>">
  <div class="_media_element_pop_up_container MediaElementPopUpContainer">
    <div class="ChangeInfoContainerLoading">
      <%= form_tag media_elements_path, :method => :post, :id => 'new_media_element', :class => 'formModifyInfo', :multipart => true do %>
        
        <div class="cols fltlft">
          <div id="media_element_media_show" class="fk_carica_elemento_file fltrt"></div>
          <label class="filebutton">
            <span>
              <input type="file" id="new_media_element_input" name="media">
            </span>
          </label>
          <br class="clearfloat">
          <br><br>
          <%= text_field_tag 'title', '' %>
          <%= hidden_field_tag 'title_placeholder', '' %>
          
          <%= text_area_tag 'description', '' %>
          <%= hidden_field_tag 'description_placeholder', '' %>
        </div>
        
        <div class="cols fltrt">
          <h1><%= t('forms.upload_media_element.title') %></h1>
          <p style="padding-bottom:30px"><%= t('forms.upload_media_element.description') %></p>
          <br class="clearfloat">
          <div class="ui-widget pull-right _tags_container">
            <%= text_field_tag 'tags', '', :maxlength => SETTINGS['max_tag_length'], :class => 'lower' %>
            <div class="_placeholder">
              <%= tags_max %>
            </div>
            <%= hidden_field_tag 'tags_value', '' %>
          </div>
          <br>
          <div class="fltrt lower">
            <div class="fltlft" style="margin-top:5px"><a class="_close buttonForm" data-dialog-id="load-media-element"><%= t('forms.upload_media_element.cancel') %></a></div> 
            <div class="fltrt"><%= submit_tag t('forms.upload_media_element.done').downcase, :id => 'new_media_element_submit', :style => 'padding:0px;' %></div>
          </div>
        </div>
        
      <% end %>
      
    </div>
  </div>
  
  <div class="barraLoading" style="overflow:hidden;">
    <iframe id="upload_target" width="680" height="40" frameborder="0" class="error_messages_iframe" name="upload_target" src=""></iframe>
    <img src="" alt="loading" style="display:none">
  </div>
  
</div>

<script type="text/javascript">
  window.onload = initMediaElementLoader;
</script>
