<div class="mediaElementInfoPopUp"  id="load-media-element" style="display:none;">
  <div class="_media_element_pop_up_container MediaElementPopUpContainer">
    <div class="_change_info_container ChangeInfoContainerLoading">
      <%= form_for media_element, html: { class:"formModifyInfo", :multipart => true } do |f| %>
        <div class="cols fltlft">
          <div class="selectButton">
            
            <a class="uploadFileButton submitButton" id="media_element_media_pick">
              <input type="file" name="media" class="innerUploadFileButton" />
            </a>
            
            <div id="media_element_media_show" class="fk_carica_elemento_file"><%= t('captions.select_file').downcase%></div>
          </div>
          <br class="clearfloat">
          <%= f.text_field :title, name: 'title', placeholder: t('forms.media_element.labels.title') %>
          <br>
          <%= f.text_area :description, name: 'description', placeholder: t('forms.media_element.labels.description') %>
        </div>
        <div class="cols fltrt">
          <h1><%= t('forms.media_element.title') %></h1>
          <p style="padding-bottom:15px"><%= t('forms.media_element.notes') %></p>
          <%= f.text_area :tags, name: 'tags', placeholder: t('forms.media_element.labels.tags') %>
          <br>
          <div class="fltrt">
            <a class="_close buttonForm" data-dialog-id="load-media-element">cancel</a>
            <%= f.submit t('forms.media_element.submit'), id: 'new_media_element_submit' %>
         </div>
        </div>
      <% end %>
      <iframe id="upload_target" width="680" height="40" frameborder="0" class="error_messages_iframe" name="upload_target" src="">
      </iframe>

    </div>
  </div>
    <div class="barraLoading">
      <img src="" alt="loading" style="display:none"%>
    <div>    
  </div></div>
  
</div>


<script type="text/javascript">
  $("input.innerUploadFileButton").change(function(){
    $("#media_element_media_show").text($(this).val().replace("C:\\fakepath\\", ""));
  });
  
  $("._close").click(function(){
    $(this).parents("form")[0].reset();
    $("#media_element_media_show").text("<%= t('captions.select_file').downcase%>");
  })
  
  $("body").on("click","#new_media_element_submit", function(){
    $("input,textarea").removeClass("form_error");
    $(".barraLoading img").show();
    $(".barraLoading img").attr("src","/assets/loadingBar.gif");
  });
</script>

<script type="text/javascript">

function init() {
	document.getElementById('new_media_element').onsubmit=function() {
		document.getElementById('new_media_element').target = 'upload_target'; //'upload_target' is the name of the iframe
	}
}
window.onload=init;

function uploadError(errors){
  var errs = errors.replace(/[\[\:\] ]/g,"").split(",");
  jQuery.each(errs, function() {
    $("#media_element_" + this).addClass("form_error");
  });
  $(".barraLoading img").hide();
  $(".barraLoading img").attr("src","");
}

function uploadDoneRedirect(){
  $(".barraLoading").css("background-color","#41A62A");
  $(".barraLoading img").hide();
  $(".barraLoading img").attr("src","");
  window.location = "<%= my_media_elements_path %>";
}
</script>


