<%
  title_max = t('forms.placeholders.title', :num => t('language_parameters.media_element.length_title').to_s).downcase 
  description_max = t('forms.placeholders.description', :num => t('language_parameters.media_element.length_description').to_s).downcase
  tags_max = t('forms.placeholders.tags', :items => SETTINGS['min_tags_for_item'].to_s, :num => SETTINGS['max_tag_length'].to_s).downcase
%>
<div id="load-media-element" class="mediaElementInfoPopUp" style="display:none;" data-placeholder-title="<%= title_max %>" data-placeholder-description="<%= description_max %>" data-placeholder-tags="<%= tags_max %>" data-placeholder-media="<%= t('forms.placeholders.media').downcase %>">
  <div class="MediaElementPopUpContainer">
    <div class="ChangeInfoContainerLoading">
      <%= form_tag media_elements_path, :method => :post, :id => 'new_media_element', :class => 'formModifyInfo', :multipart => true, :autocomplete => 'off' do %>
        <div class="cols fltlft">
          <div id="media_element_media_show" class="fk_carica_elemento_file fltrt basta_caos_porca_miseria"></div>
          <label class="filebutton">
            <span>
              <input type="file" id="new_media_element_input" name="media"/>
            </span>
          </label>
          <br class="clearfloat"/>
          <br><br>
          <input class="medload_title basta_caos_porca_miseria" type="text" value="" name="title"/>
          <input class="medload_title_placeholder" type="hidden" value="" name="title_placeholder"/>
          <textarea class="medload_description basta_caos_porca_miseria" name="description"></textarea>
          <input class="medload_description_placeholder" type="hidden" value="" name="description_placeholder"/>
        </div>
        <div class="cols fltrt">
          <h1>
            <%= t('forms.upload_media_element.title') %>
          </h1>
          <p style="padding-bottom:30px">
            <%= t('forms.upload_media_element.description') %>
          </p>
          <br class="clearfloat"/>
          <div class="ui-widget pull-right _tags_container">
            <input class="medload_tags lower basta_caos_porca_miseria ui-autocomplete-input" type="text" value="" maxlength="<%= SETTINGS['max_tag_length'] %>"/>
            <div class="_placeholder">
              <%= tags_max %>
            </div>
            <input class="medload_tags_value" type="hidden" value="" name="tags_value"/>
          </div>
          <br>
          <div class="fltrt lower">
            <div class="fltlft" style="margin-top:5px">
              <a class="_close buttonForm">
                <%= t('forms.upload_media_element.cancel') %>
              </a>
            </div>
            <div class="fltrt">
              <%= submit_tag t('forms.upload_media_element.done').downcase, :id => 'new_media_element_submit', :style => 'padding:0px' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="barraLoading">
    <div class="loading-internal" data-can-move="true">
    </div>
    <div class="loading-errors">
    </div>
  </div>
</div>
