<div class="mediaElementInfoPopUp" id="dialog-media-element-<%= media_element.id %>" style="display:none">
  <div class="_media_element_pop_up_container" data-param="<%= media_element.id %>">
   <% if media_element.info_changeable %>
    <div class="_change_info_container" style="display:none;" data-param="<%= media_element.id %>">
      <h1><%= t('captions.modify_info_element') %></h1>
      <p><%= t('long_descriptions.change_info_element') %></p>
      <%= form_tag change_media_element_info_path(media_element.id), :class => "formModifyInfo" do %>
        <div class="cols" style="float:left">
          <input type="text" name="title" value="<%= media_element.title %>">
          <br>
          <%= text_area_tag 'description', media_element.description %>
        </div>
        <div class="cols" style="float:right">
          <%= text_area_tag 'tags', 'tags' %>
          <br>
          <%= submit_tag 'save modify' %> <a href="">or cancel</a>
        </div>
      <% end %>
    </div>
  <% end %>
    <%= render :partial => "media_elements/previews/#{media_element.sti_type.downcase}" %>
    <div class="fltlft" style="width:280px;">
      <h2><%= media_element.sti_type %></h2>
      <h3><%= media_element.title %></h3>
      <p><%= media_element.description %></p>
    </div>
  </div>
  <div style="float:left; width:100%; background-color:#fff;">
    <div class="menuIconButton" style="float:left;  padding-left:10px">
      <%= render :partial => "shared/buttons/#{Buttons::EDIT}" %>
      <% if media_element.info_changeable %>
        <a class="<%= Buttons::CHANGE_INFO %> _change_info_to_pick" data-param="<%= media_element.id %>"></a>
      <% end %>
    </div>
    <div class="menuIconButton" style="float:right">
      <% if media_element.is_reportable %>
        <%= render :partial => "reports/media_element", :locals => {:media_element => media_element} %>
      <% end %>
      <a class="close _close_popup" data-param="<%= media_element.id %>"></a>
    </div>
  </div>
</div>
