<div class="mediaElementInfoPopUp" id="dialog-media-element-<%= media_element.id %>" style="display:none">
  
  <% if !locked %>
    
    <% if media_element.buttons.include? Buttons::PREVIEW %>
      
      <div class="MediaElementPopUpContainer" data-param="<%= media_element.id %>">
        <% if media_element.info_changeable %>
          <% my_tags = Tagging.includes(:tag).where(:taggable_type => 'MediaElement', :taggable_id => media_element.id).order(:tag_id) %>
          <div class="_change_info_container ChangeInfoContainer" style="display:none" data-param="<%= media_element.id %>" data-title="<%= media_element.title %>" data-description="<%= media_element.description %>" data-tags="<%= media_element.tags %>">
            <h1><%= t('forms.change_info_media_element.title') %></h1>
            <p><%= t('forms.change_info_media_element.description') %></p>
            <%= form_tag media_element_path(media_element.id), :remote => true, :class => 'formModifyInfo' do %>
              <div class="cols" style="float:left">
                <input id="title" type="text" class="title basta_caos_porca_miseria" name="title" value="<%= media_element.title %>">
                <br>
                <%= text_area_tag 'description', media_element.description, :class => 'description basta_caos_porca_miseria' %>
              </div>
              <div class="cols fltrt">
                <div class="_tags_placeholder" style="display:none">
                  <% my_tags.reverse.each do |t| %>
                    <span><%= t.tag.word.strip %><a class="remove"></a></span>
                  <% end %>
                </div>
                <div class="ui-widget pull-right _tags_container">
                  <% my_tags.each do |t| %>
                    <span><%= t.tag.word.strip %><a class="remove"></a></span>
                  <% end %>
                  <%= text_field_tag 'tags', '', :maxlength => SETTINGS['max_tag_length'], :class => 'lower basta_caos_porca_miseria' %>
                  <%= hidden_field_tag 'tags_value', media_element.tags, :id => "tags_value_#{media_element.id}", :class => '_tags_value' %>
                </div>
                <br>
                <div class="fltrt">
                  <div class="fltlft" style="margin-top:5px"><a class="lower _cancel buttonForm" data-param="<%= media_element.id %>"><%= t('forms.change_info_media_element.cancel') %></a></div>
                  <div class="fltrt"><%= submit_tag t('forms.change_info_media_element.done'), :class => 'lower' %></div>
                </div>
              </div>
            <% end %>
            <div class="_error_messages"></div>
          </div>
        <% end %>
        
        <% if !media_element.audio? %>
          <%= render :partial => "media_elements/previews/#{media_element.sti_type.downcase}", :locals => {:media_element => media_element} %>
        <% end %>
        
        <div <%= media_element.audio? ? "style=\"max-width:800px;\"".html_safe : "class=\"fltlft\" style=\"max-width:210px;\"".html_safe %>>
          <h2><%= media_element.sti_type_to_s %></h2>
          <h3><%= media_element.title %></h3>
          <p><%= media_element.description %></p>
        </div>
        
        <% if media_element.audio? %>
          <div class="contentAudioElement _audio_preview_in_media_element_popup">
            <%= render :partial => "media_elements/previews/audio", :locals => {:media_element => media_element} %>
          </div>
        <% end %>
        
      </div>
      
      
      <div class="menuPopUp">
        <div class="menuIconButton" style="float:left; padding-left:10px">
          <%= render :partial => "shared/buttons/#{Buttons::EDIT}", :locals => {:item => media_element} %>
          <% if media_element.info_changeable %>
            <a class="<%= Buttons::CHANGE_INFO %> _change_info_to_pick" data-param="<%= media_element.id %>" title="<%= t('titles.media_elements.change_info') %>"></a>
          <% end %>
        </div>
        <div class="menuIconButton" style="float:right">
          <% if media_element.is_reportable %>
            <%= render :partial => 'reports/media_element', :locals => {:media_element => media_element} %>
          <% end %>
          <a class="close _close_media_element_preview_popup" data-param="<%= media_element.id %>" title="<%= t('titles.close') %>"></a>
        </div>
      </div>
      
      
    <% end %>
    
  <% end %>
  
</div>
