<div class="mediaElementInfoPopUp" id="dialog-media-element-<%= media_element.id %>" style="display:none">
  
  <% if media_element.buttons.include? Buttons::PREVIEW %>
    
    <div class="_media_element_pop_up_container MediaElementPopUpContainer" data-param="<%= media_element.id %>">
     <% if media_element.info_changeable %>
      <div class="_change_info_container ChangeInfoContainer" style="display:none;" data-param="<%= media_element.id %>">
        <h1><%= t('captions.modify_info_element') %></h1>
        <p><%= t('descriptions.change_info_element') %></p>
        <%= form_tag media_element_path(media_element.id), :remote => true, :class => "formModifyInfo" do %>
          <div class="cols" style="float:left">
            <input type="text" name="title" value="<%= media_element.title %>">
            <br>
            <%= text_area_tag 'description', media_element.description %>
          </div>
          <div class="cols" style="float:right">
            <%= text_area_tag 'tags', media_element.tags %>
            <br>
            <%= submit_tag 'save modify' %> <a class="lower _close_media_element_preview_popup" data-param="<%= media_element.id %>"><%= t('captions.or_cancel') %></a>
          </div>
        <% end %>
      </div>
    <% end %>
		  <% if !media_element.audio? %>
	      <%= render :partial => "media_elements/previews/#{media_element.sti_type.downcase}", :locals =>{:media_element => media_element} %>
		  <% end %>
      <div class="<%= media_element.audio? ? '' : 'fltlft'.html_safe %>" style="width:auto; max-width:210px;">
        <h2><%= media_element.sti_type %></h2>
        <h3><%= media_element.title %></h3>
        <p><%= media_element.description %></p>
      </div>
			
			<% if media_element.audio? %>
				<div class="contentAudioElement"><%= render :partial => "media_elements/previews/audio", :locals =>{:media_element => media_element} %></div>
			<% end %>
    </div>
    <div class="menuPopUp">
      <div class="menuIconButton" style="float:left;  padding-left:10px">
        <%= render :partial => "shared/buttons/#{Buttons::EDIT}", :locals => {:item => media_element} %>
        <% if media_element.info_changeable %>
          <a class="<%= Buttons::CHANGE_INFO %> _change_info_to_pick" data-param="<%= media_element.id %>"></a>
        <% end %>
      </div>
      <div class="menuIconButton" style="float:right">
        <% if media_element.is_reportable %>
          <%= render :partial => "reports/media_element", :locals => {:media_element => media_element} %>
        <% end %>
        <a class="close _close_media_element_preview_popup" data-param="<%= media_element.id %>"></a>
      </div>
    </div>
    
  <% end %>
  
</div>
