<div class="title-bar" id="media_elements_title_bar">
  <h1 style="width:40%" class="lower"><%= t('captions.media_elements') %></h1>
  <p id="format_media_elements">
    <%= t('media_elements.display_mode.title') %>: <a id="display_expanded_media_elements" class="<%= (@display == MediaElement::DISPLAY_MODES[:expanded] ? 'current' : '') %>"><%= t('media_elements.display_mode.large') %></a> - <a id="display_compact_media_elements" class="<%= (@display == MediaElement::DISPLAY_MODES[:compact] ? 'current' : '') %>"><%= t('media_elements.display_mode.small') %></a>
  </p>
  <div style="padding-left:20px">
    <h2 style="padding-right:10px" class="lower"><%= t('media_elements.display') %></h2>
    <div class="selectDisplay">
      <select name="display" id="for_page_media_elements">
        <% @for_page_options.each do |f| %>
          <option value="<%= f %>" <%= (@for_page == f) ? "selected=\"selected\"".html_safe : '' %>><%= f %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div>
    <h2 style="padding-right:10px"><%= t('captions.show') %></h2>
    <select name="ricerca" id="filter_media_elements">
      <% Filters::MEDIA_ELEMENTS_SET.each do |f| %>
        <option value="<%= f %>" <%= (@filter == f) ? "selected=\"selected\"".html_safe : '' %>><%= MediaElement.filter(f) %></option>
      <% end %>
    </select>
  </div>
</div>
