<div class="title-bar" id="media_elements_title_bar">
  <h1 style="width:45%" class="lower"><%= t('captions.elements') %></h1>
  <p id="format_media_elements">
    <%= t('captions.display_mode') %>: <%= link_to t('captions.large'), '/media_elements?display=expanded', :class => (@display == Formats::EXPANDED ? 'current' : ''), :id => 'display_expanded_media_elements', :remote => true %> - <%= link_to t('captions.small'), '/media_elements?display=compact', :class => (@display == Formats::COMPACT ? 'current' : ''), :id => 'display_compact_media_elements', :remote => true %>
  </p>
  <div style="padding-left:20px">
    <h2 style="padding-right:10px" class="lower"><%= t('captions.display') %></h2>
    <div class="selectDisplay">
      <select name="display" id="for_page_media_elements">
        <% @for_page_options.each do |f| %>
          <option value="<%= f %>" <%= (@for_page == f) ? "selected=\"selected\"".html_safe : '' %>><%= f %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div>
    <h2 style="padding-right:10px"><%= t('captions.show') %></h2>
    <select name="ricerca" id="filter_media_elements">
      <% Filters::MEDIA_ELEMENTS_SET.each do |f| %>
        <% caption = Filters::CAPTIONS[f] %>
        <option value="<%= f %>" <%= (@filter == f) ? "selected=\"selected\"".html_safe : '' %>><%= caption %></option>
      <% end %>
    </select>
  </div>
</div>
