<%
  disabled = (!media_element.image? && !media_element.converted?)
  additional_class = disabled ? '_disabled'.html_safe : ''
%>

<div id="<%= destination %>_<%= media_element.id %>" class="boxViewCompactMediaElement <%= additional_class %>" data-preview-loaded="false">
  <div class="contentInterno">
    <div class="<%= media_element.sti_type.downcase %>">
      <h3><%= media_element.sti_type %></h3>
      <h4><%= media_element.title %></h4>
    </div>
    <p><%= STATUSES.media_elements.send(media_element.status) %></p>
    <%= render :partial => "media_elements/action_buttons", :locals => {:media_element => media_element, :destination => destination, :additional_class => additional_class} %>
  </div>
  <%= render :partial => "media_elements/popup", :locals => {:media_element => media_element, :locked => true} %>
</div>
