<%
  disabled = (!media_element.image? && !media_element.converted?)
  additional_class = disabled ? '_disabled'.html_safe : ''
%>

<div id="<%= destination %>_<%= media_element.id %>" class="boxViewExpandedMediaElement <%= additional_class %> _media_element_item _media_element_item_id_<%= media_element.id %>" data-preview-loaded="false">
  <div class="contentInterno _expanded_media_element_internal_container">
    <%= render :partial => "media_elements/thumbnails/#{media_element.sti_type.downcase}", :locals => {:item => media_element} %>
    <div class="description">
      <h3><%= media_element.sti_type %></h3>
      <h4><%= media_element.title %></h4>
    </div>
  </div>
  <div class="mediaStatus fltlft">
    <%= media_element.status %>
  </div>
  <%= render :partial => "media_elements/action_buttons", :locals => {:media_element => media_element, :destination => destination, :additional_class => additional_class} %>
  <%= render :partial => "media_elements/popup", :locals => {:media_element => media_element, :locked => true} %>
</div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    recenterMyMediaElements();
  });
</script>
