<div id="<%= destination %>_<%= media_element.id %>" class="boxViewExpandedMediaElement">
  <div class="contentInterno">
    <%= render :partial => "media_elements/thumbnails/#{media_element.sti_type.downcase}" %> <!-- TODO qui dovrò passare la url dell'attached quando necessario -->
    <div class="description">
      <h3><%= media_element.sti_type %></h3>
      <h4><%= media_element.title %></h4>
    </div>
  </div>
  <%= render :partial => "media_elements/action_buttons", :locals => {:media_element => media_element, :destination => destination} %>
  <%= render :partial => "media_elements/popup", :locals => {:media_element => media_element} %>
</div>
