<div id="<%= destination %>_<%= media_element.id %>" class="boxViewExpandedMediaElement">
  <div class="contentInterno">
    <%= render :partial => "media_elements/thumbnails/#{media_element.sti_type.downcase}", :locals => {:item => media_element} %>
    <div class="description">
      <h3><%= media_element.sti_type %></h3>
      <h4><%= media_element.title %></h4>
    </div>
  </div>
  <div class="mediaStatus fltlft">
    <%= media_element.status %>
  </div>
  <%= render :partial => "media_elements/action_buttons", :locals => {:media_element => media_element, :destination => destination} %>
  <% if !media_element.converted.nil? %>
    <%= render :partial => "media_elements/popup", :locals => {:media_element => media_element} %>
  <% end %>
</div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    recenterMyMediaElements();
  });
</script>
