<div class="boxViewCompactMediaElement" id="media_element_compact_<%= media_element.id %>">
  <div class="contentInterno">
	  <div class="<%= media_element.sti_type.downcase %>">
	    <h3><%= media_element.sti_type %></h3>
      <h4><%= media_element.title %></h4>
		</div>
    <p><%= media_element.status %></p>
    <%= render :partial => "shared/action_buttons", :locals => {:item => media_element, :destination => ButtonDestinations::COMPACT_MEDIA_ELEMENT} %>
  </div>
</div>
