<div id="<%= destination %>_<%= media_element.id %>" class="boxViewSingleMediaElement">
<!-- PER ADRIANO: il box  con l'immagine è questa scritta sotto. C'è un SVG e dovrai quindi aggiungere a quest'immagine lo style width:100% -->
  <div class="contentInterno">
    <%= image_tag 'simbolo-audio.svg', :style => "width:100%"  %>
    <div class="description">
      <h3><%= media_element.sti_type %></h3>
      <h4><%= media_element.title %></h4>
    </div>
  </div>
  <%= render :partial => "media_elements/action_buttons", :locals => {:media_element => media_element, :destination => destination} %>
</div>
