<div class="elements-content">
  <div class="title-bar">
    <h1 style="width:32%"><%= t('small_letter.elements') %></h1>
    <p style="width:25%"><%= t('capital_letter.display_mode') %>: <%= link_to t('capital_letters.large'), '/media_elements?format=expanded' %> - <%= link_to t('capital_letters.small'), '/media_elements?format=compact' %></p>
    
    <div style="padding-left:20px">
		<h2 style="padding-right:10px"><%= t('small_letter.display') %></h2>
		<div class="selectDisplay">
      <select name="display" id="format_media_elements">
        <% @format_options.each do |f| %>
          <option value="<%= f %>" <%= f == @for_page ? "selected=\"selected" : '' %>><%= f %></option>
        <% end %>
      </select>
    </div>
		</div>
		<div>
		<h2 style="padding-right:10px"><%= t('capital_letter.show') %></h2>
		
      <select name="ricerca" id="filter_media_elements">
        <% Filters::MEDIA_ELEMENTS_SET.each do |f| %>
          <% caption = Filters::CAPTIONS[f] %>
          <option value="<%= f %>" <%= f == @filter ? "selected=\"selected" : '' %>><%= caption %></option>
        <% end %>
      </select>
		
    </div>
  </div>
  <br class="clearfloat">
  <% if @media_elements.empty? %>
    <% if @filter == Filters::ALL_ELEMENTS %>
      <%= render :partial => "media_elements/empty" %>
    <% else %>
      <%= render :partial => "media_elements/empty_result" %>
    <% end %>
  <% else %>
    <% if @format == Formats::EXPANDED %>
      <%= render :partial => 'media_elements/suggested', :locals => {:media_elements => @media_elements} %>
    <% else %>
      <% @media_elements.each do |me| %>
        <div id="" class="boxViewSingleMediaElement">
          <%= render :partial => "media_elements/view_single", :locals => {:media_element => me, :expanded => false} %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  
</div>
