<div class="gray-bar">
  
  <ul class="navlist">
    <li><a class="createButtonMediaElements lower _load_media_element"><%= t('media_elements.load_new') %></a></li>
    <li><%= link_to t('media_elements.editor.menu_link'), new_media_elements_editor_path, :class => 'createButtonMediaElements lower' %></li>
  </ul>

  <%= render :partial => "shared/search" %>
</div>
<br class="clearfloat">
<div class="griglia-contenuti">
  <div class="elements-content">
    <%= render :partial => 'media_elements/title_bar' %>
    <br class="clearfloat">
    <%= render :partial => "media_elements/my_media_elements" %>
    <div id="info_container" style="display:none" data-currenturl="<%= request.url %>"></div>
    <br class="clearfloat">
    <% if @media_elements.any? %>
      <%= render :partial => 'shared/pagination', :locals => {:page => @page, :pages_amount => @pages_amount} %>
    <% end %>
  </div>
</div>

<%= render partial: 'media_elements/new_form_popup' %>


<script type="text/javascript">
  $(document).ready(function() {
    $('#info_container').data('media-elements-not-anymore-in-conversion', new Array());
    var list = new Array();
    mediaElementLoaderConversionOverview(list, 5000);
  });
</script>
