<div class="lista">
  <div class="contatore">2</div> 
  <div class="boxMediaElement">
	  <div class="boxContentMediaElement">
      <a class="tooltip"><%= image_tag("fotina_editor_element.jpg") %></a>
		  <div class="boxMenuMediaElement">
		    <a>change</a>
		    <a>delete</a>
				<div class="photoIcon"></div>
		  </div>
		</div>
	</div>
  <div class="separatore"><%= image_tag("arrow_element_timeline.png") %></div>	
	<%= render :partial => "timeline" %>
</div>
<div class="lista">
  <div class="contatore">3</div> 
  <div class="boxMediaElement">
	  <div class="boxContentMediaElement">
      <a class="tooltip"><%= image_tag("fotina_editor_element.jpg") %></a>
		  <div class="boxMenuMediaElement">
		    <a>change</a>
		    <a>delete</a>
				<div class="videoIcon"></div>
		  </div>
		</div>
	</div>
  <div class="separatore"><%= image_tag("arrow_element_timeline.png") %></div>	
</div>
<div class="lista">
  <div class="contatore">4</div> 
  <div class="boxMediaElement">
	  <div class="boxContentMediaElement">
      <a class="tooltip"><%= image_tag("fotina_editor_element.jpg") %></a>
		  <div class="boxMenuMediaElement">
		    <a>change</a>
		    <a>delete</a>
				<div class="audioIcon"></div>
		  </div>
		</div>
	</div>
  <div class="separatore"><%= image_tag("arrow_element_timeline.png") %></div>	
</div>
<div class="lista">
  <div class="contatore">4</div> 
  <div class="boxMediaElement">
	  <div class="boxContentMediaElement">
      <a><%= image_tag("fotina_editor_element.jpg") %></a>
		  <div class="boxMenuMediaElement">
		    <a>change</a>
		    <a>delete</a>
				<div class="textIcon"></div>
		  </div>
		</div>
	</div>
  <div class="separatore"><%= image_tag("arrow_element_timeline.png") %></div>	
</div>