<div class="lista">
  <div class="contatore">2</div> 
  <div class="boxMediaElement">
	  <div class="boxContentMediaElement">
      <a><%= image_tag("fotina_editor_element.jpg") %></a>
		  <%= render :partial => "menu_single_element" %> 
		</div>
	</div>
  <div class="separatore"><%= image_tag("arrow_element_timeline.png") %></div>	
</div>

<div class="lista">
  <div class="contatore">3</div> 
  <div class="boxMediaElement">
	  <div class="boxContentMediaElement">
      <a><%= image_tag("fotina_editor_element.jpg") %></a>
		  <%= render :partial => "menu_single_element" %> 
		</div>
	</div>
  <div class="separatore"><%= image_tag("arrow_element_timeline.png") %></div>	
</div>
<div class="lista">
  <div class="contatore">4</div> 
  <div class="boxMediaElement">
	  <div class="boxContentMediaElement">
      <a><%= image_tag("fotina_editor_element.jpg") %></a>
		  <%= render :partial => "menu_single_element" %> 
		</div>
	</div>
  <div class="separatore"><%= image_tag("arrow_element_timeline.png") %></div>	
</div>
