<%= render :partial => "content_element" %>
<div style="position:absolute; width:900px; outline:1px solid red">
  <%= render :partial => "elements" %>
	<%= render :partial => "timeline" %>
	 <div class="addAudioandSave">
    <%= render :partial => "add_audio" %>
	  <%= render :partial => "save" %>
  </div>
</div>
 