<%
  colors = []
  CONFIG['colors'].each do |k, v|
    colors[v['pos'] - 1] = k
  end
%>

<div class="contentInsertText">
  <textarea placeholder="" cols="30" rows="2" maxlength="60"><%= t('captions.insert_text') %></textarea>
</div>

<div class="menuTexts">
  <div class="elementoTime">
    <%= render :partial => 'video_editor/duration_selector' %>
  </div>
  <div class="elementoGrigio">
    <div class="scegliBgColor">
    <p><%= t('captions.background_color') %></p>
    <% colors.each do |color| %>
      <div class="background_color_<%= color %>"></div>
    <% end %>
    </div>
  </div>
  <div class="elementoGrigio">
    <div class="scegliTxtColor">
    <p><%= t('captions.text_color') %></p>
    <% colors.each do |color| %>
      <div class="background_color_<%= color %>"></div>
    <% end %>
    </div>
  </div>
  <div class="bottoniVerdi fltrt"><a class="upper"><%= t('captions.insert') %></a></div>
</div>
