<%
  colors = []
  CONFIG['colors'].each do |k, v|
    colors[v['pos'] - 1] = k
  end
%>

<div class="contentInsertText"><input value="<%= t('captions.insert_text') %>"/></div>

<div class="menuTexts">
  <div class="elementoTime">
    <div class="tempo">
    <p><%= t('captions.time') %></p>
      <input class="numberTime"/>
      <p class="lower"><%= t('captions.sec') %></p>
    </div>
  </div>
  <div class="elementoGrigio">
    <div class="scegliBgColor">
    <p><%= t('captions.background_color') %></p>
    <% colors.each do |color| %>
      <div class="background_color_<%= color %>"></div>
    <% end %>
    </div>
  </div>
  <div class="elementoGrigio">
    <div class="scegliTxtColor">
    <p><%= t('captions.text_color') %></p>
    <% colors.each do |color| %>
      <div class="background_color_<%= color %>"></div>
    <% end %>
    </div>
  </div>
  <div class="bottoniVerdi fltrt"><a class="upper"><%= t('captions.insert') %></a></div>
</div>
