<%= render :partial => "video_editor/header", :locals => {:parameters => @parameters} %>

<div class="container">
  <div class="mediaEditorElementContainer">
    <%= render :partial => "content_element" %>
    <div style="position:absolute; width:900px;">
      <%= render :partial => "elements" %>
      <%= render :partial => "timeline" %>
      <div class="addAudioandSave">
        <%= render :partial => "add_audio" %>
        <%= render :partial => "save" %>
      </div>
    </div>
  </div>
</div>
