<%= render :partial => 'video_editor/header', :locals => {:parameters => @parameters} %>

<div id="video_editor" class="mediaEditorVideoContainer">
  
  <%= render :partial => 'video_editor/preview_container', :locals => {:parameters => @parameters} %>
  
  <div class="info">
    <p>total lenght:</p> <p><span>03:12</span></p>
		<div class="bottoniVerdi" style="margin-top:10px"><a>preview</a></div>
  </div>
  
  <div class="mediaEditorListaElementi">
    <%= form_tag video_editor_save_cache_path do %>
      <%= render :partial => 'timeline', :locals => {:parameters => @parameters} %>
      <%= render :partial => 'cutter', :locals => {:parameters => @parameters} %>
      <div class="addAudioandSave">
        <%= render :partial => 'audio_track', :locals => {:parameters => @parameters} %>
        <%= render :partial => 'save_cancel' %>
      </div>
    <% end %>
  </div>
  
</div>

<div id="video_editor_mixed_gallery_container" class="mediaEditorVideoContainer" style="display:none" data-loaded="false"></div>

<div id="video_editor_audio_gallery_container" class="mediaEditorVideoContainer" style="display:none" data-loaded="false"></div>

<div id="info_container" data-components-number="<%= @parameters[:components].count %>" data-current-component="" data-replacing-component="false" style="display:none"></div>
