<%= render :partial => 'video_editor/header', :locals => {:parameters => @parameters} %>

<div id="video_editor" class="mediaEditorVideoContainer">
  
  <%= render :partial => 'video_editor/preview_container', :locals => {:parameters => @parameters} %>
  
  <div class="info">
    <p clas="lower"><%= t('captions.total_length') %>:</p> <p><span><%= seconds_to_time(@total_length) %></span></p>
    <div class="bottoniVerdi" style="margin-top:10px"><a class="lower"><%= t('captions.preview') %></a></div>
  </div>
  
  <div class="mediaEditorListaElementi">
    <%= form_tag video_editor_save_cache_path do %>
      <%= render :partial => 'timeline', :locals => {:parameters => @parameters} %>
      <%= render :partial => 'cutter', :locals => {:parameters => @parameters} %>
      <div class="addAudioandSave">
        <%= render :partial => 'audio_track', :locals => {:parameters => @parameters} %>
        <div class="fltrt">
          <div class="fltrt"><a class="saveButton"></a></div>
          <div class="fltrt"><%= link_to '', dashboard_index_path, :class => 'closeButton' %></div>
        </div>
      </div>
    <% end %>
  </div>
  
</div>

<div id="video_editor_mixed_gallery_container" class="mediaEditorVideoContainer" style="display:none" data-loaded="false"></div>

<div id="video_editor_audio_gallery_container" class="mediaEditorVideoContainer" style="display:none" data-loaded="false"></div>

<div id="info_container" data-components-number="<%= @parameters[:components].count %>" data-current-component="" data-replacing-component="false" data-total-length="<%= @total_length %>" style="display:none"></div>
