<%= render :partial => 'video_editor/header', :locals => {:parameters => @parameters} %>

<div id="video_editor" class="mediaEditorVideoContainer">
  
  <%= render :partial => 'video_editor/preview_container', :locals => {:parameters => @parameters} %>
  
  <div class="info">
    <p class="lower"><%= t('captions.total_length') %>:</p> <p><span id="visual_video_editor_total_length"><%= seconds_to_time(@total_length) %></span></p>
    <div class="bottoniVerdi" style="margin-top:10px"><a class="lower"><%= t('captions.preview') %></a></div>
  </div>
  
  <div class="mediaEditorListaElementi">
    <%= form_tag video_editor_save_cache_path, :id => 'video_editor_form', :remote => true do %>
      <% if @parameters[:initial_video] %>
        <%= hidden_field_tag 'initial_video_id', @parameters[:initial_video].id, :id => 'initial_video_in_video_editor_input' %>
      <% end %>
      <%= hidden_field_tag 'audio_id', (@parameters[:audio].nil? ? '' : @parameters[:audio].id), :id => 'audio_track_in_video_editor_input' %>
      <%= render :partial => 'timeline', :locals => {:parameters => @parameters} %>
      <%= render :partial => 'cutters', :locals => {:parameters => @parameters} %>
      <div class="addAudioandSave _video_editor_bottom_bar">
        <%= render :partial => 'audio_track', :locals => {:parameters => @parameters} %>
        <div class="fltrt">
          <div class="fltrt"><a class="nextButton _commit_video_editor <%= @parameters[:initial_video].nil? ? '' : '_with_choice'.html_safe %>"></a></div>
          
        </div>
      </div>
      <%= render :partial => 'media_elements/info_form_in_editor/new', :locals => {:sti_type => MediaElement::VIDEO_TYPE} %>
      <% if @parameters[:initial_video] %>
        <%= render :partial => 'media_elements/info_form_in_editor/edit', :locals => {:media_element => @parameters[:initial_video]} %>
      <% end %>
    <% end %>
  </div>
  
</div>


<div id="empty_video_component_for_video_editor" style="display:none">
  <%= render :partial => "video_editor/components/video", :locals => {:component => {}, :position => 1, :empty => true} %>
</div>

<div id="empty_image_component_for_video_editor" style="display:none">
  <%= render :partial => "video_editor/components/image", :locals => {:component => {}, :position => 1, :empty => true} %>
</div>

<div id="empty_text_component_for_video_editor" style="display:none">
  <%= render :partial => "video_editor/components/text", :locals => {:component => {}, :position => 1, :empty => true} %>
</div>


<div id="video_editor_mixed_gallery_container" class="mediaEditorVideoGalleryContainer" style="display:none" data-loaded="false"></div>

<div id="video_editor_audio_gallery_container" class="mediaEditorVideoGalleryContainer" style="display:none" data-loaded="false"></div>

<div id="info_container" data-last-component-id="<%= @parameters[:components].count %>" data-current-component="" data-replacing-component="false" data-total-length="<%= @total_length %>" data-save-cache="false" data-cache-enabled-first-time="true" style="display:none"></div>


<script type="text/javascript">
  <% if @cache.nil? %>
    $(document).ready(function() {
      setTimeout(function() {
        if($('#info_container').data('cache-enabled-first-time')) {
          startCacheLoop();
        }
      }, $('#popup_parameters_container').data('cache-time'));
    });
  <% else %>
    showRestoreCacheMediaElementEditorPopUp(function() {
      window.location.href = '/videos/cache/restore'
    }, function() {
      closePopUp('dialog-restore-cache-media-element-editor');
      $.ajax({
        type: 'post',
        url: '/videos/cache/empty',
        success: function() {
          setTimeout(function() {
            if($('#info_container').data('cache-enabled-first-time')) {
              startCacheLoop();
            }
          }, $('#popup_parameters_container').data('cache-time'));
        }
      });
    });
  <% end %>
</script>
