<ul class="navlist">
  <li>
    <%= form_tag 'documents', :method => :post, :id => 'upload_document', :multipart => true do %>
      <a class="uploadNewDocument">
        <%= t('documents.upload') %>
      </a>
      <%= submit_tag '', :class => '_submit', :style => 'display:none' %>
      <%= file_field_tag 'attached', :class => '_attached', :style => 'display:none', :multiple => true %>
    <% end %>
  </li>
  <p id="document_hint"><%= t('documents.hints.standard') %></p>
  <p id="document_hint_ie" style="display:none"><%= t('documents.hints.ie') %></p>
</ul>
