<%
  title_max = t('documents.title_placeholder', :num => t('language_parameters.document.length_title').to_s).downcase
  description_max = t('documents.description_placeholder', :num => t('language_parameters.document.length_description').to_s).downcase
%>

<div id="load-document" class="documentInfoPopUp" style="display:none" data-placeholder-description="<%= description_max %>" data-placeholder-title="<%= title_max %>" data-attachment-too-large="<%= t('documents.upload_form.attachment_too_large') %>" data-placeholder-attachment="<%= t('documents.upload_form.attachment_placeholder').downcase %>">
  <div class="documentPopUpContainer uploadDocuments">
    <div class="ChangeInfoContainerLoading">
      
      <%= form_tag documents_path, :method => :post, :id => 'new_document', :class => 'formModifyInfo', :multipart => true do %>
        
        <div class="cols fltlft" style="width:300px">
          <div id="document_attachment_show" class="fk_carica_elemento_file fltrt" style="color:white"></div>
          <label class="filebutton">
            <span>
              <input type="file" id="new_document_input" name="attachment">
            </span>
          </label>
        </div>
        <div class="cols fltrt" style="width:380px">
          <h1><%= t('documents.upload_form.title') %></h1>
          <p style="padding-bottom:30px; padding-top:0; color:white"><%= t('documents.upload_form.description') %></p>
        </div>
        <br class="clearfloat">
        <%= text_field_tag 'title', '' %>
        <%= hidden_field_tag 'title_placeholder', '' %>
        <%= text_area_tag 'description', '' %>
        <%= hidden_field_tag 'description_placeholder', '' %>
        <div class="fltrt lower" style="margin-top:5px">
          <div class="fltlft" style="margin-top:5px">
            <a class="_close buttonForm">
              <%= t('documents.upload_form.cancel') %>
            </a>
          </div>
          <div class="fltrt">
            <%= submit_tag t('documents.upload_form.done').downcase, :id => 'new_document_submit', :style => 'padding:0px;' %>
          </div>
        </div>
      <% end %>
      
    </div>
  </div>
  
  <div class="barraLoading" style="overflow:hidden;">
    <iframe id="upload_doc_target" width="680" height="40" frameborder="0" class="error_messages_iframe" name="upload_doc_target" src="#"></iframe>
    <img src="#" alt="loading" style="display:none">
  </div>
  
</div>

<% if load_now %>
  <script>
    $(document).ready(initDocumentLoader);
  </script>
<% end %>
