<div id="dialog-document-<%= document.id %>" class="dialogDocument ornitorinco echidna pippofranco" style="display:none">
  <div class="wrapper">
    <div class="preview">
      <div class="content">
        <%= image_tag document.icon_url %>
        <a href="<%= document.url %>"><%= t('documents.download') %></a>
        <%= document.size_and_extension %>
        <!-- TODO formms organizzarlo in due spazi di 282 e il resto alti, come per i media element di tipo video -->
      </div>
      <div class="description">
        <h3><%= document.title %></h3>
        <p><%= document.description %></p>
      </div>
    </div>
    <div class="change-info" style="display:none" data-title="<%= document.title %>" data-description="<%= document.description %>" data-description-placeholder="<%= (document.description.blank? ? '1' : '') %>">
      <%= form_tag document_path(document.id), :remote => true do %>
        <div class="part1">
          <div class="attachment">
            <div class="icon"></div>
          </div>
          <div class="title_and_subtitle">
            <h1>
              <%= t('documents.change_info.title') %> <!-- TODO traduzz deve essere spostato in forms -->
            </h1>
            <p>
              descrizione FORM DOCC  <!-- TODO traduzz deve essere creato e poi spostato in forms -->
            </p>
          </div>
        </div>
        <div class="part2">
          <div class="title_and_description"> <!-- TODO formms riordina gli attributi di questi inputs -->
            <input type="hidden" value="" name="word" class="hidden_word">
            <input class="title" type="text" value="<%= document.title %>" name="title"/>
            <textarea class="description" name="description"><%= document.description %></textarea>
            <%= hidden_field_tag 'description_placeholder', (document.description.blank? ? '1' : ''), :class => 'description_placeholder' %> <!-- TODO formms scriverlo senza erb -->
          </div>
        </div>
        <div class="part3">
          <a class="submit"><%= submit_tag t('documents.change_info.done').downcase %></a> <!-- TODO traduzz deve essere spostato in forms -->
          <a class="close"><%= t('documents.change_info.cancel').downcase %></a> <!-- TODO traduzz deve essere spostato in forms -->
        </div>
      <% end %>
    </div>
  </div>
  <div class="menu">
    <div class="on-left">
      <a class="change-info" title="<%= t('titles.buttons.documents.change_info') %>"></a> <!-- TODO traduzz -->
    </div>
    <div class="on-right">
      <a class="close" title="<%= t('titles.close') %>"></a>
    </div>
  </div>
</div>
