<div id="document_<%= document.id %>" class="boxViewSingleDocument">
  <div class="contentInterno">
    <div class="documentsIcon">
      <%= image_tag document.icon_path, :class=> "fltlft" %>
      <h3><%= document.title %></h3>
      <p><%= document.size_and_extension %></p>
    </div>
    <div class="menuController buttons">
      <a title="<%= t('titles.buttons.documents.download') %>" data-document-id="<%= document.id %>" class="preview"></a>
      <a title="<%= t('titles.buttons.documents.destroy') %>" data-document-id="<%= document.id %>" class="destroy"></a>
    </div>
  </div>
</div>
