<%
  current_class = (lesson.status == Statuses::COPIED) ? 'current'.html_safe : ''
  disabled = !lesson.available?
  additional_class = disabled ? '_disabled'.html_safe : ''
  current_class = "#{current_class} _lesson_change_not_notified" if lesson.not_notified?
%>


<div id="<%= destination %>_<%= lesson.id %>" class="boxViewSingleLesson <%= current_class %> <%= additional_class %>">
  
  <div class="contentInterno _lesson_compact">
    <h3><%= lesson.title %></h3>
    <p><%= lesson.subject.description %></p>
    <p><%= lesson.status(true) %></p>
    <%= render :partial => "lessons/action_buttons", :locals => {:lesson => lesson, :destination => destination, :additional_class => additional_class} %>
  </div>
  
  <% if !disabled %>
    <div class="lessons-expanded _lesson_expanded">
      <%= render :partial => "lessons/thumbnail", :locals => {:lesson => lesson} %>
      <div class="info-text">
        <h1><%= t('lessons.created_on') %></h1>
        <%= TimeConvert.to_string(lesson.created_at) %>
        <p>
          <span class="fltlft"><%= image_tag "star.png", :align => "left" %></span>
          <span class="fltlft" style="padding-top:2px"><%= t('lessons.users_like_this', :likes => lesson.likes.count) %></span>
        </p>
        <% if lesson.is_reportable %>
          <%= render :partial => "reports/lesson", :locals => {:lesson => lesson} %>
        <% end %>
      </div>
      <div class="description-text">
        <% if [Statuses::PUBLIC, Statuses::LINKED].include?(lesson.status) %>
          <div class="intestazione">
            <h1><%= t('lessons.author') %>:</h1>
            <p><%= lesson.user.full_name %></p>
            <h1><%= Location.base_label %>:</h1>
            <p><%= lesson.user.base_location %></p>
            <h1><%= t('lessons.school_level') %>:</h1>
            <p class="fltlft"><%= lesson.school_level.description %></p>
          </div>
          <br class="clearfloat">
        <% end %>
        <h1><%= t('lessons.description') %></h1>
        <p><%= lesson.description %></p>
      </div>
    </div>
  <% end %>
  
</div>
