<%
  forced_margin ||= nil
  if forced_margin.nil?
    forced_margin = ''
  else
    forced_margin = "style=\"margin-bottom:#{(71 * forced_margin)}px\"".html_safe
  end
  my_title = html_escape document.title
  my_title.gsub! /(#{Regexp.quote word})/i, '<b><u>\1</u></b>' if word.present?
  my_title = my_title.html_safe
  popup_readonly_description = document.description
  popup_readonly_description = t('documents.description_readonly_placeholder') if popup_readonly_description.blank?
  popup_description = document.description
  popup_description = t('documents.description_placeholder', :num => t('language_parameters.document.length_description')) if popup_description.blank?
%>

<div id="document_<%= document.id %>" class="boxViewSingleDocument" <%= forced_margin %>>
  
  <div class="contentInterno">
    <div class="documentsIcon">
      <%= image_tag document.icon_url, :class=> 'fltlft', :title => document.icon_title %>
      <h3><%= my_title %></h3>
    </div>
     <p class="upper"><%= document.size_and_extension %></p>
    <div class="menuController buttons">
      <a title="<%= t('titles.buttons.documents.preview') %>" data-document-id="<%= document.id %>" class="preview"></a>
      <a title="<%= t('titles.buttons.documents.destroy') %>" data-used-in-your-lessons="<%= used_in_your_lessons %>" data-document-id="<%= document.id %>" class="destroy"></a>
    </div>
  </div>
  
  <div class="stoCazzo" id="dialog-document-<%= document.id %>" style="display:none;" data-title="<%= document.title %>" data-description="<%= popup_description %>" data-description-placeholder="<%= (document.description.blank? ? '1' : '') %>"> <!-- TODO formms -->
    
    <div class="_document_pop_up_container documentPopUpContainer" style="display:inline-block">
      
      <div class="stocazzo documentPopUpChangeInfoContainer" style="display:none"> <!-- TODO formms -->
         
        <h1><%= t('documents.change_info.title') %></h1>
        <%= form_tag document_path(document.id), :class => 'formDocuments', :remote => true do %>
          <input type="hidden" value="" name="word" class="_hidden_word">
          <input class="_doc_title" type="text" value="<%= document.title %>" name="title"/>
          <p>
            <textarea class="_doc_description" name="description" data-document-id="<%= document.id %>"><%= popup_description %></textarea>
          </p>
          <%= hidden_field_tag 'description_placeholder', (document.description.blank? ? '1' : ''), :class => '_doc_description_placeholder' %>
          <div class="fltrt" style="width:528px">
            <div class="_error_messages"></div>
            <div class="fltrt">
              <%= submit_tag t('documents.change_info.done'), :class => 'lower' %>
            </div>
            <div class="fltrt" style="margin-top:5px; margin-right: 8px;">
              <a class="lower _cancel buttonForm" data-document-id="<%= document.id %>">
                <%= t('documents.change_info.cancel') %>
              </a>
            </div>
          </div>
        <% end %>
       
      </div>
      
      <div class="cols fltlft text-centered">
        <%= image_tag document.icon_url %>
        <p style="margin-top:50px">
          <a class="upper buttonDownload" href="<%= document.url %>"><%= t('documents.download') %></a>
        </p>
        <p class="upper">
          <%= document.size_and_extension %>
        </p>
      </div>
      <div class="cols fltlft" style="width:280px">
        <h2><%= document.title %></h2>
        <p><%= popup_readonly_description %></p>
      </div>
      
    </div>
    
    <div class="stoCazzo"> <!-- TODO formms -->
      <div class="stocazzo"> <!-- TODO formms -->
        <a class="<%= Buttons::CHANGE_INFO %> stocazzo" data-document-id="<%= document.id %>" title="<%= t('titles.buttons.documents.change_info') %>"></a> <!-- TODO formms -->
      </div>
      <div class="stocazzo"> <!-- TODO formms -->
        <a class="close _close_document_preview_popup" data-document-id="<%= document.id %>" title="<%= t('titles.close') %>"></a>
      </div>
    </div>
    
  </div>
  
</div>
