<%
  my_title = document.title
  my_title = my_title.gsub(/(#{word})/i) { |s| "<b style=\"text-decoration:underline\">#{s}</b>" } if !word.blank?
%>

<div id="document_<%= document.id %>" class="boxViewSingleDocument">
  
  <div class="contentInterno">
    <div class="documentsIcon">
      <%= image_tag document.icon_path, :class=> "fltlft", :title => document.icon_title %>
      <h3><%= my_title.html_safe %></h3>
    </div>
     <p><%= document.size_and_extension %></p>
    <div class="menuController buttons">
      <a title="<%= t('titles.buttons.documents.download') %>" data-document-id="<%= document.id %>" class="preview"></a>
      <a title="<%= t('titles.buttons.documents.destroy') %>" data-used-in-your-lessons="<%= document.used_in_your_lessons? %>" data-document-id="<%= document.id %>" class="destroy"></a>
    </div>
  </div>
  
  <div class="documentInfoPopUp" id="dialog-document-<%= document.id %>" style="display:none">
    <div class="documentPopUpContainer">
      <%= image_tag document.icon_path_big %>
      <%= document.size_and_extension %>
      <%= form_tag document_path(document.id), :remote => true do %>
        <h3><%= text_field_tag 'title', document.title %></h3>
        <p><%= text_field_tag 'description', document.description %></p>
      <% end %>
    </div>
    <div class="menuPopUp">
      <div class="menuIconButton" style="float:right">
        <a class="close _close_document_preview_popup" data-document-id="<%= document.id %>" title="<%= t('titles.close') %>"></a>
      </div>
    </div>
  </div>
  
</div>
