<div class="gray-bar">
  <%= render :partial => 'documents/graybar_left' %>
  <%= render :partial => 'documents/search' %>
</div>
<br class="clearfloat">
<div class="griglia-contenuti">
  <div class="documents-content">
    <div class="title-bar">
      <h1 class="lower"><%= t('captions.documents') %></h1>
      <div style="float:right"><h2 style="padding-right:10px"><%= t('captions.sort') %></h2>
        <select name="ricerca" id="order_documents">
          <% SearchOrders::DOCUMENTS_SET.each do |so| %>
            <option value="<%= so %>" <%= (@order == so) ? "selected=\"selected\"".html_safe : '' %>><%= t("orders.#{so}") %></option>
          <% end %>
        </select>
      </div>
    </div>
    <br class="clearfloat">
    
    <!-- TODO QUI VA IL CONTENUTO -->
    
    <div id="info_container" style="display:none" data-currenturl="<%= request.url %>"></div>
    <br class="clearfloat">
    
    <!-- TODO QUI VA LA PAGINAZIONE -->
    
  </div>
</div>
