<div class="gray-bar">
  <%= render :partial => 'documents/graybar_left' %>
</div>
<br class="clearfloat">
<div class="griglia-contenuti">
  <div class="documents-content">
    <div class="title-bar">
      <h1 class="lower"><%= t('captions.documents') %></h1>
      <p><%= t('documents.headers.extension') %></p>
      <p><%= t('documents.headers.size') %></p>
      <div style="float:right"><h2 style="padding-right:10px"><%= t('captions.sort') %></h2>
        <select name="ricerca" id="order_documents">
          <% SearchOrders::DOCUMENTS_SET.each do |so| %>
            <option value="<%= so %>" <%= (@order == so) ? "selected=\"selected\"".html_safe : '' %>><%= t("orders.#{so}") %></option>
          <% end %>
        </select>
      </div>
    </div>
    <br class="clearfloat">
    <%= render :partial => 'documents/my_documents' %>
    <div id="info_container" style="display:none" data-currenturl="<%= request.url %>"></div>
    <br class="clearfloat">
    <% if @documents.present? %>
      <%= render :partial => 'shared/pagination', :locals => {:page => @page, :pages_amount => @pages_amount} %>
    <% end %>
  </div>
</div>
