<div id="search_media_elements_main_page" style="display:<%= @search_item == 'lessons' ? 'none'.html_safe : 'block'.html_safe %>">
  
  <div class="contentSearch">
    <%= t('captions.media_elements') %>
    <div class="boxCerca">
      <form id="search_media_elements" class="search-form" method="get" action="/search" data-remote="true">
        <%= hidden_field_tag 'item', 'media_elements' %>
        <table summary="" cellpadding="0" cellspacing="0" style="width:490px; float:left">
          <tr>
            <td style="width:10%">
              <input type="text" name="tag" value="<%= t('captions.insert_tag') %>" class="text lower" id="media_elements_tag_reader_for_search">
              <%= hidden_field_tag 'tag_kind', '', :id => 'media_elements_tag_kind_for_search' %>
            <td>
              <select name="filter" id="filter_search_media_elements">
                <% counter = true %>
                <% Filters::MEDIA_ELEMENTS_SEARCH_SET.each do |f| %>
                  <option value="<%= f %>" <%= counter ? "selected=\"selected\"".html_safe : '' %>><%= Filters::CAPTIONS[f] %></option>
                  <% counter = false %>
                <% end %>
              </select>
            </td>
						</tr>
						<tr>
            <td colspan="2">
              <p><%= t('captions.warning') %><br><%= t('captions.warning_search_media_elements') %></p>
            </td>
          </tr>
						</table>
						<table summary="" cellpadding="0" cellspacing="0" style="width:360px; float:right;">
						<tr>
            <td  valign="top" rowspan="2">
              <%= t('captions.sort_results_by') %>
            </td>
            <td  rowspan="2">
						<table style="padding:0">
							<tr>
              <% counter = true %>
              <% SearchOrders::MEDIA_ELEMENTS_SET.each do |so| %>
                <% my_order_id = "#{so}_media_elements_radio_input" %>
                <td><input type="radio" name="order" id="<%= my_order_id %>" value="<%= so %>" class="regular-radio" <%= counter ? "checked=\"checked\"".html_safe : '' %>><label for="<%= my_order_id %>"></label></td>
								<td style="vertical-align:middle"><%= SearchOrders::CAPTIONS[so] %></td>
								</tr>
                <% counter = false %>
              <% end %>
							</table>
            </td>
            <td align="left" rowspan="2">
              <%= image_submit_tag(asset_path('cerca.png')) %>
            </td>
          </tr>
          
        </table>
      </form>
    </div>
  </div>
  <br class="clearfloat">
  <% if @did_you_search && ((@search_item == 'media_elements' && @media_elements.any?) || (@search_item == 'lessons') && @lessons.any?) %>
    <%= render :partial => "search/media_elements/amount", :locals => {:amount => @media_elements_amount} %>
  <% else %>
    <div id="media_elements_search_amount"></div>
  <% end %>
  
  <% if @did_you_search && ((@search_item == 'media_elements' && @media_elements.any?) || (@search_item == 'lessons') && @lessons.any?) && @tags.any? %>
    <%= render :partial => "search/media_elements/tag_details", :locals => {:tags => @tags} %>
  <% else %>
    <div id="media_elements_tag_details"></div>
  <% end %>
  
  <%= render :partial => "search/media_elements/results", :locals => {:media_elements => @media_elements} %>
  
</div>
