<div id="search_media_elements_main_page" style="display:<%= @search_item == 'lessons' ? 'none'.html_safe : 'block'.html_safe %>">
  
  <div class="contentSearch">
    <div class="boxCerca">
      <form id="search_media_elements" class="search-form" method="get" action="/search" data-remote="true">
        <%= hidden_field_tag 'item', 'media_elements' %>
        <table summary="" cellpadding="0" cellspacing="0" style="width:100%">
          <tr>
            <td style="width:20%">
              <label><%= t('captions.keyword') %></label><br />
              <% if @search_item == 'media_elements' %>
                <input type="text" name="tag" value="<%= @tag_placeholder %>" class="text lower" id="media_elements_tag_reader_for_search" style="color:<%= @did_you_search ? '#999'.html_safe : '#bbb'.html_safe %>">
              <% else %>
                <input type="text" name="tag" value="<%= t('captions.insert_tag') %>" class="text lower" id="media_elements_tag_reader_for_search" style="color:#bbb">
              <% end %>
              <%= hidden_field_tag 'tag_kind', (@tag.kind_of?(Tag) ? @tag.id : ''), :id => 'media_elements_tag_kind_for_search' %>
            <td width="20%">
              <label><%= t('captions.format') %></label><br />
              <select name="filter" id="filter_search_media_elements">
                <% Filters::MEDIA_ELEMENTS_SEARCH_SET.each do |f| %>
                  <option value="<%= f %>" <%= (f == @filter) ? "selected=\"selected\"".html_safe : '' %>><%= Filters::CAPTIONS[f] %></option>
                <% end %>
              </select>
            </td>
            <td colspan="2" width="40%">
            </td>
            <td width="20%">
              <p style="font-size:80%; padding-left:10px; padding-top:10px;"><%= t('captions.warning') %><br><%= t('captions.warning_search_media_elements') %></p>
            </td>
            </tr>
            <tr>
              <td><br /><h3><%= t('captions.sort_results_by') %></h3></td>
            </tr>
            <tr>
              <% SearchOrders::MEDIA_ELEMENTS_SET.each do |so| %>
                <% my_order_id = "#{so}_media_elements_radio_input" %>
                <td width="5%">
                  <input type="radio" name="order" id="<%= my_order_id %>" value="<%= so %>" class="regular-radio _order_media_elements_radio_input" <%= (so == @order) ? "checked=\"checked\"".html_safe : '' %>>
                  <label for="<%= my_order_id %>"></label>
                  &nbsp;<%= SearchOrders::CAPTIONS[so] %>
                </td>
              <% end %>
            <td colspan="3" width="60%">
            </td>
          </tr>
          <tr>
            <td>
              <br /><br />
              <% if @search_item == 'media_elements' && @did_you_search %>
                <a id="search_media_elements_submit" class="cerca current"><%= t('captions.search')%></a>
              <% else %>
                <a id="search_media_elements_submit" class="cerca"><%= t('captions.search')%></a>
              <% end %>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <br class="clearfloat">
  <% if @did_you_search && ((@search_item == 'media_elements' && @media_elements.any?) || (@search_item == 'lessons') && @lessons.any?) %>
    <%= render :partial => "search/media_elements/amount", :locals => {:amount => @media_elements_amount} %>
  <% else %>
    <div id="media_elements_search_amount"></div>
  <% end %>
  
  <% if @did_you_search && ((@search_item == 'media_elements' && @media_elements.any?) || (@search_item == 'lessons') && @lessons.any?) && @tags.any? %>
    <%= render :partial => "search/media_elements/tag_details", :locals => {:tags => @tags, :tag => @tag} %>
  <% else %>
    <div id="media_elements_tag_details" style="margin-bottom:0"></div>
  <% end %>
  
  <br class="clearfloat">
  
  <%= render :partial => "search/media_elements/results", :locals => {:media_elements => @media_elements} %>
  
</div>
