<div class="videoInGalleryPopUp" id="dialog-video-gallery-<%= video.id %>" data-video-id="<%= video.id %>">
  <%= render :partial => 'shared/players/video', :locals => {:video => video, :initialize_now => false} %>
  <div class="caption">
    <a class="addButtonContent current _select_video_from_gallery video-<%= video.id %>" data-video-id="<%= video.id %>" data-mp4="<%= video.mp4_path %>" data-webm="<%= video.webm_path %>" data-duration="<%= video.min_duration %>" style="float:right"></a>
    <p><%= video.title %></p>
  </div>
</div>
