<div class="contentInterno <%= lesson.status == t('status.lessons.copied') ? 'current' : '' %>">
	<h3><%= lesson.title %></h3>
	<p><%= lesson.subject.description %></p>
	<p><%= lesson.status %></p>
  <%= render :partial => "shared/action_buttons", :locals => {:lesson => lesson} %>
</div>
<div class="lessons-expanded">
  <div class="img_expanded">
	  <%= image_tag("finta.jpg") %>
		  <div class="bg_text">
			  <p>kdsafj,sdnfkn</p>
			</div>
	</div>
</div>
