<div class="contentInterno <%= lesson.status == t('status.lessons.copied') ? 'current' : '' %>">
	<h3><%= lesson.title %></h3>
	<p><%= lesson.subject.description %></p>
	<p><%= lesson.status %></p>
  <%= render :partial => "shared/menu_controller", :locals => {:lesson => lesson} %>
</div>
