<div id="<%= destination %>_<%= lesson.id %>" class="boxViewSingleLesson <%= lesson.status == t('status.lessons.copied') ? 'current' : '' %>">
  
  <div class="contentInterno _lesson_compact">
    <h3><%= lesson.title %></h3>
    <p><%= lesson.subject.description %></p>
    <p><%= lesson.status %></p>
    <%= render :partial => "lessons/action_buttons", :locals => {:lesson => lesson, :destination => destination, :container => container, :html_params => html_params} %>
  </div>
  
  <div class="lessons-expanded _lesson_expanded">
    <%= render :partial => "lesson_editor/thumbnails/small/cover", :locals => {:slide => lesson.cover, :subject =>lesson.subject.description} %>
    <div class="info-text">
      <h1>Created on</h1>
      <%= TimeConvert.to_string(lesson.created_at) %>
      <p>
        <span class="fltlft"><%= image_tag "star.png", :align => "left" %></span>
        <span class="fltlft" style="padding-top:2px"><%= lesson.likes.count %></span>
        <br class="clearfloat">
        people like this lesson
      </p>
      <% if lesson.is_reportable %>
        <%= render :partial => "reports/lesson", :locals => {:lesson => lesson} %>
      <% end %>
    </div>
    <div class="description-text">
      <% if [t('status.lessons.public'), t('status.lessons.linked')].include?(lesson.status) %>
        <div class="intestazione">
          <h1><%= t('capital_letter.author') %>:</h1>
          <p><%= lesson.user.full_name %></p>
          <h1><%= t('capital_letter.institute') %>:</h1>
          <p><%= lesson.user.school %></p>
          <h1><%= t('capital_letter.level') %>:</h1>
          <p class="fltlft"><%= lesson.school_level.description %></p>
        </div>
        <br class="clearfloat">
      <% end %>
      <h1><%= t('capital_letter.description') %></h1>
      <p><%= lesson.description %></p>
    </div>
  </div>
  
</div>
