<div class="contentInterno">
  <h3><%= lesson.title %></h3>
  <p><%= lesson.subject.description %></p>
  <p><%= lesson.status %></p>
  <%= render :partial => "shared/action_buttons", :locals => {:item => lesson} %>
</div>
<div class="lessons-expanded _lesson_expanded">
  <%= render :partial => "lessons/thumbnails/small", :locals => {:lesson => lesson} %>
  <div class="info-text">
    <h1>Created on</h1>
    <%= TimeConvert.to_string(lesson.created_at) %>
    <p>stella <%= lesson.likes.count %><br>people like this lesson</p>
  </div>
  <div class="description-text">
    <h1>Description</h1>
    <p><%= lesson.description %></p>
  </div>
</div>
