<div class="gray-bar">
  <ul class="navlist">
    <li><%= link_to t('lessons.create_new'), '/lessons/new', :class => "createButtonLesson lower" %></li>
  </ul>
  <%= render :partial => "shared/search" %>
</div>

<br class="clearfloat">
<div class="griglia-contenuti">
  <div class="lessons-content">
    <div class="title-bar">
      <h1 class="lower"><%= t('captions.lessons') %></h1>
      <p><%= t('lessons.headers.subject') %></p>
      <p><%= t('lessons.headers.status') %></p>
      <div style="float:right"><h2 style="padding-right:10px"><%= t('captions.show') %></h2>
        <select name="ricerca" id="filter_lessons">
          <% Filters::LESSONS_SET.each do |f| %>
            <option value="<%= f %>" <%= (@filter == f) ? "selected=\"selected\"".html_safe : '' %>><%= Lesson.filter(f) %></option>
          <% end %>
        </select>
      </div>
    </div>
    <br class="clearfloat">
    <%= render :partial => "lessons/my_lessons" %>
    <div id="info_container" style="display:none" data-currenturl="<%= request.url %>"></div>
    <br class="clearfloat">
    <% if @lessons.present? %>
      <%= render :partial => 'shared/pagination', :locals => {:page => @page, :pages_amount => @pages_amount} %>
    <% end %>
  </div>
</div>
