<div class="header">
  <%= link_to image_tag("logo.gif"), '/dashboard' %>
  <%= render :partial => "shared/logout" %>
</div>
<div class="bluBar">
  <h1 style="width:20%" class="lower"><%= t('captions.virtual_classroom') %></h1>
  <ul class="navlist">
    <li class="lower"><a><%= t('captions.add_new_lesson') %></a></li>
    <li class="lower"><a><%= t('captions.empty_virtual_classroom') %></a></li>
  </ul>
  <ul class="navlist" style="float:right">
    <li class="lower"><%= link_to(t('captions.back_in_desy'), dashboard_index_path) %></li>
  </ul>
</div>

<br class="clearfloat">
<%= render :partial => "notifications/main" %>
<br class="clearfloat">
