<div id="virtual_classroom_playlist" class="playList">
  <span class="fltlft" style="padding-top:8px"><%= image_tag("playlist_symbol.png")%></span>
  <div class="titlePlaylist fltlft lower"  style="padding-left:0"><%= t('captions.playlist') %><%= " (#{lessons.length} / #{CONFIG['lessons_in_playlist']})".html_safe %></div>
  <span class="fltrt lower _empty_playlist_button emptyPlayListButton"><%= t('captions.empty_playlist') %></span>
  <% if lessons.empty? %>
    <%= render :partial => "virtual_classroom/empty_playlist" %> 
  <% else %>
    <div id="lessons_list_in_playlist" class="scroll-pane">
      <% lessons.each do |l| %>
        <%= render :partial => "virtual_classroom/view_single_playlist", :locals => {:virtual => l} %>
      <% end %>
    </div>
    <div class="play">
      <a class="lower"><%= t('captions.play') %></a>
    </div>
  <% end %>
</div>
