<div class="virtualClassroomQuickSelectPopUp" id="dialog-virtual-classroom-quick-select" style="display:none" data-loaded="false" data-loaded-correctly="true" data-loaded-msg=""></div>

<div class="virtualClassroomSentLessonLinkPopUp" id="dialog-virtual-classroom-send-link" style="display:none;">
  <h1><%= t('popups.send_lesson_link.title') %></h1>
  <p><%= t('popups.send_lesson_link.confirm') %></p>
  <%= form_tag '/virtual_classroom/lesson_id/send_link', :remote => true do %>
    <input class="_send_link_form_text_area _emails campoEmail" type="text" value="" name="emails" data-not-yet-selected="true">
    <p><%= t('virtual_classroom.send_link.mailing_list.title') %></p>
    <div class="boxSelectMailingList">
      <select id="select_mailing_list">
        <option value="select"><%= t('virtual_classroom.send_link.mailing_list.placeholder') %></option>
        <option value="select2">Select2</option>
        <option value="select3">Select3</option>
      </select>
    </div>
    <textarea class="_send_link_form_text_area _message campoMessaggio" value="" name="message" data-not-yet-selected="true">
    </textarea>
  <% end %>
  
  <div class="colonnaCoverLesson">
    <div class="img_expanded _lesson_thumb"></div>
  </div>
  <br class="clearfloat">
  <div class="buttonRow">
    <a class="_yes buttonForm"><%= t('popups.send_lesson_link.do') %></a>
    <a class="_no buttonForm"><%= t('popups.send_lesson_link.cancel') %></a>
  </div>
</div>

<div id="popup_captions_container_virtual_classroom" style="display:none" data-caption-emails="<%= t('virtual_classroom.send_link.emails') %>" data-caption-message="<%= t('virtual_classroom.send_link.message') %>"></div>
