<div class="virtualClassroomQuickSelectPopUp" id="dialog-virtual-classroom-quick-select" style="display:none" data-loaded="false" data-loaded-correctly="true" data-loaded-msg=""></div>

<div class="virtualClassroomSentLessonLinkPopUp" id="dialog-virtual-classroom-send-link" style="display:none;">
  <h1><%= t('popups.send_lesson_link.title') %></h1>
  <p><%= t('popups.send_lesson_link.confirm') %></p>
  <%= form_tag '/virtual_classroom/lesson_id/send_link', :remote => true do %>
    <input id="email_addresses" class="_send_link_form_text_area _emails campoEmail" type="text" value="" name="emails" data-not-yet-selected="true">
    <p class="lower"><%= t('virtual_classroom.send_link.mailing_list.title') %></p>
    <div class="boxSelectMailingList">
      <%=select_tag 'groups', options_from_collection_for_select(@mlg, 'name','name'), :prompt => t('virtual_classroom.send_link.mailing_list.placeholder'), :id=>"select_mailing_list"%>
    </div>
    <textarea class="_send_link_form_text_area _message campoMessaggio" value="" name="message" data-not-yet-selected="true">
    </textarea>
  <% end %>
  
  <div class="colonnaCoverLesson">
    <div class="img_expanded _lesson_thumb"></div>
    <div class="buttonRow">
      <a class="_yes buttonForm"><%= t('popups.send_lesson_link.do') %></a>
      <a class="_no buttonForm"><%= t('popups.send_lesson_link.cancel') %></a>
    </div>
  </div>
  <br class="clearfloat">
</div>

<div id="popup_captions_container_virtual_classroom" style="display:none" data-caption-emails="<%= t('virtual_classroom.send_link.emails') %>" data-caption-message="<%= t('virtual_classroom.send_link.message') %>"></div>
