<% lesson = virtual.lesson %>

<div id="lesson_in_playlist_container_<%= lesson.id %>" class="lista">
  <div class="contatore"><%= virtual.position %></div> 
  <div id="lesson_in_playlist_<%= lesson.id %>" class="description _lesson_in_playlist">
    <div class="title"><h1><%= lesson.title %></h1></div>
    <div class="lessonType"><h2><%= lesson.subject.description %></h2></div>
    <div class="exitButton _remove_lesson_from_playlist" style="display:none" data-clickparam="<%= lesson.id %>">&nbsp;</div>
  </div>
</div>
