<% lesson = virtual.lesson %>

<div id="virtual_classroom_lesson_<%= lesson.id %>" class="boxViewSingleLesson _virtual_classroom_lesson" data-lesson-id="<%= lesson.id %>" data-in-playlist="<%= virtual.in_playlist? %>">
  <div class="contentInterno">
    <%= render :partial => "shared/lesson_thumbnails/small/cover", :locals => {:slide => lesson.cover} %>
    <br class="clearfloat">
    <p>
      <a class="_send_lesson_link" data-lesson-id="<%= lesson.id %>"><%= t('captions.send_link_to_your_friends') %></a>
      <br>
      <a class="_remove_lesson_from_inside_virtual_classroom" data-clickparam="<%= lesson.id %>"><%= t('captions.remove_from_virtual_classroom') %></a>
    </p>
  </div>
  
</div>
