<div class="header">
  <%= link_to image_tag("logo.gif"), '/dashboard' %>
  <%= render :partial => "shared/logout" %>
</div>
<div class="bluBar">
  <h1 style="width:20%" class="lower"><%= t('captions.virtual_classroom') %></h1>
  <ul class="navlist" style="float:right">
    <li class="lower"><%= link_to(t('captions.back_in_desy'), dashboard_index_path) %></li>
  </ul>
</div>

<br class="clearfloat">
<%= render :partial => "notifications/main" %>
<br class="clearfloat">

<% counter = 0 %>
<% @lessons.each do |l| %>
  <% if counter % 3 == 0 %>
    <% if counter != 0 %>
      </div>
    <% end %>
    <div>
  <% end %>
  <%= render :partial => 'shared/lesson_thumbnails/small/cover', :locals => {:slide => l.cover} %>
  <% counter += 1 %>
<% end %>
<% if counter != 0 %>
  </div>
<% end %>
