<div class="header">
  <%= link_to image_tag("logo.gif"), '/dashboard' %>
  <%= render :partial => "shared/logout" %>
</div>
<div class="bluBar">
  <h1 style="width:20%" class="lower"><%= t('captions.virtual_classroom') %></h1>
  <ul class="navlist" style="float:right">
    <li class="lower"><%= link_to(t('captions.back_in_desy'), dashboard_index_path) %></li>
  </ul>
</div>

<br class="clearfloat">
<%= render :partial => "notifications/main" %>
<br class="clearfloat">
<div class="content">
  <div class="griglia-contenuti">
	  <div class="playListContainer scroll-pane" style="outline:1px solid red">
		   			   
       
        <% @lessons.each do |l| %>
       
      <div class="boxViewSingleLesson">
	      <div class="contentInterno" style="height:auto"><%= render :partial => 'shared/lesson_thumbnails/small/cover', :locals => {:slide => l.cover} %>      </div>
	  </div>
  
<% end %>


  
    </div>
  </div>
  <br class="clearfloat">
</div>