<div id="report_lesson_click_<%= lesson.id %>" class="_report_lesson_click" data-param="<%= lesson.id %>">
  <div class="menuController" style="padding-top:6px; width:25px">
    <a class="<%= Buttons::REPORT %> _reportable_icon"></a>
  </div>
  <span style="padding-top:10px; float:left"><%= t('capital_letter.report_abuse') %></span>
</div>
<%= render :partial => 'reports/form', :locals => {:item => lesson, :id_scope => 'lesson'} %>
