<%
  slide_class = ''
  id_appendix = ''
  if !slide_id.nil?
    slide_class = 'for_slide'
    id_appendix = "_for_slide_#{slide_id}"
  end
%>

<% [1, 2, 3].each do |i| %>
  <% if documents_slides[i - 1].nil? %>
    <div id="document_attached_<%= i %><%= id_appendix %>" class="document_attached not_full <%= slide_class %>" style="margin-bottom:2px">
      <div class="document_number"><%= i %></div>
      <div class="document_placeholder"><%= t('galleries.documents.placeholder') %></div>
    </div>
    <div id="hidden_document_attached_<%= i %><%= id_appendix %>" class="<%= slide_class %>" style="display:none">
      <div class="document_number"><%= i %></div>
      <div class="document_placeholder"><%= t('galleries.documents.placeholder') %></div>
    </div>
    <div id="hidden_document_attached_<%= i %>_content<%= id_appendix %>" class="<%= slide_class %>" data-full="false" style="display:none"></div>
  <% else %>
    <div id="document_attached_<%= i %><%= id_appendix %>" class="document_attached <%= slide_class %>" style="margin-bottom:2px">
      <%= render :partial => 'galleries/thumbs/document', :locals => {:document => documents_slides[i - 1].document, :index => 2, :disabled => false, :attached => i, :hidden => false, :slide_id => slide_id} %>
    </div>
    <div id="hidden_document_attached_<%= i %><%= id_appendix %>" class="<%= slide_class %>" style="display:none">
      <div class="document_number"><%= i %></div>
      <div class="document_placeholder"><%= t('galleries.documents.placeholder') %></div>
    </div>
    <div id="hidden_document_attached_<%= i %>_content<%= id_appendix %>" class="<%= slide_class %>" data-full="true" style="display:none">
      <%= render :partial => 'galleries/thumbs/document', :locals => {:document => documents_slides[i - 1].document, :index => 2, :disabled => false, :attached => i, :hidden => true, :slide_id => slide_id} %>
    </div>
  <% end %>
<% end %>
