<% @slides.each_with_index do |slide, index|%>
  <li class='<%= (index == 0) ? "active  #{slide.kind}" : "#{slide.kind}"%> slides slide-position-<%= slide.position %>'>
    <%= render :partial => "slide_buttons", :locals => {:slide => slide } %>
    <div id="slide_in_lesson_editor_<%= slide.id %>" class="slide-content <%= slide.kind%> slide-<%= slide.position %>">
      <%= render :partial => "lesson_editor/slides/#{slide.kind}" , :locals => { :slide => slide }%>
    </div>
  </li>
<% end %>
<% if @current_slide %>
  <script type="text/javascript" charset="utf-8">
    console.log("<%= @current_slide.position%>");
    $("#slide-numbers li a:eq(<%= @current_slide.position %>)").trigger("click");
    console.log($("#slide-numbers li a:eq(<%= @current_slide.position %>)").html());
  </script>
<%end %>
