<div class="buttons pull-right slide-id-<%= slide.id %> slide-position-<%= slide.position %>">
  <% if !slide.cover? %>
    <%= link_to "delete", delete_slide_path(slide.lesson_id, slide.id), :method => :post, :class=> "deleteButtonOrange"%>
  <% end %>
  <a class="addButtonOrange _add_slide _add_new_slide_options"></a>
  <%= link_to "info", edit_lesson_path(@lesson), :class => "infoButtonOrange"%>
  <a href="#" data-param="form-<%= slide.id %>" class="_save_slide saveButtonOrange">save</a>
</div>
