<li id="slide_in_lesson_editor_<%= slide.id %>" class="<%= class_slide %>" data-slide-id="<%= slide.id %>" data-kind="<%= slide.kind %>" data-position="<%= slide.position %>">
  <%= div_covering.html_safe %>
  <%= render :partial => "slide_buttons", :locals => {:slide => slide} %>
  <div class="slide-content <%= slide.kind %>">
    <%= render :partial => "lesson_editor/slides/#{slide.kind}", :locals => {:slide => slide} %>
  </div>
</li>
