<ul id="slides" class="new _update">
  <li class="info slides">
    <div class="box">
      <span class="infoButtonWhite"></span>
      <br />
      <h2><%= t('forms.update_lesson.title') %></h2>
      <h3><%= t('forms.update_lesson.description') %></h3>
      <div class="_error_messages"><%= media_elements_error_messages(params[:errors]) if params[:errors] %></div>
      <%= form_tag lesson_path, :remote => true, :method => :put do |f| %>
        <%= text_field_tag 'title', @lesson.title, :class => 'pull-left' %>
        <%= select_tag 'lesson_subject', options_from_collection_for_select(@subjects, 'id', 'description'), :include_blank => false, :class => 'pull-right' %>
        <%= text_area_tag 'description', @lesson.description, :class => 'pull-left' %>
        <div class="ui-widget pull-right _tags_container">
          <% @my_tags.each do |t| %>
            <span><%= t.tag.word.strip %><a class="remove"></a></span>
          <% end %>
          <%= text_field_tag 'tags', '', :maxlength => SETTINGS['max_tag_length'], :class => 'lower' %>
          <%= hidden_field_tag 'tags_value', @lesson.tags %>
        </div>
        <br style="clear:both"/>
        <div class="fltrt" style="margin-top:30px">
          <div class="fltlft"><%= link_to t('forms.update_lesson.cancel').downcase, lesson_editor_path(@lesson), :class => 'buttonForm pull-right' %></div>
          <div class="fltrt">
            <%= submit_tag t('forms.update_lesson.done').downcase, :class => 'lesson-create pull-right' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="info-slide-footer">
      <div class="school-level pull-left">
        <%= t('lessons.school_level') %>: <%= current_user.school_level.description %>
      </div>
      <div class="author pull-right">
        <%= t('lessons.author') %>: <span class="name"><%= current_user.full_name %></span>
      </div>
    </div>
  </li>
</ul>

<script>
  $(document).ready(function() {
    $('#lesson_subject option').each(function() {
      if($(this).val() == <%= @lesson.subject_id %>) {
        $(this).attr('selected', 'selected');
      }
    });
    disableTagsInputTooHigh('#slides._update ._tags_container', '#slides._update #tags');
  });
</script>
