<ul id="slides">
  <li class="slides">
    <div id="edit-lesson" class="lessonForm">
      <%= form_tag lesson_path, :remote => true, :method => :put, :autocomplete => 'off' do |f| %>
        <div class="part1">
          <div class="attachment">
            <div class="icon <%= media_element.sti_type.downcase %>"></div>
          </div>
          <div class="title_and_subtitle">
            <h1>
              <%= t('forms.update_lesson.title') %>
            </h1>
            <p>
              <%= t('forms.update_lesson.description') %>
            </p>
          </div>
        </div>
        <div class="part2">
          <div class="title_and_description">
            <input class="title" type="text" value="<%= @lesson.title %>" name="title"/>
            <textarea class="description" name="description"><%= @lesson.description %></textarea>
          </div>
          <div class="tags_loader">
            <!-- TODO formms mettere materie -->
            <!-- TODO formms incollare tags da media element popup -->
          </div>
        </div>
        <div class="part3">
          <a class="submit"><%= t('forms.update_lesson.done').downcase %></a>
          <a class="close" href="/lessons/<%= @lesson.id %>/slides/edit"><%= t('forms.update_lesson.cancel').downcase %></a>
        </div>
        <div class="errors_layer description" data-selector=".part2 .description"></div>
        <div class="errors_layer tags" data-selector=".part2 ._tags_container .tags"></div>
        <div class="errors_layer title" data-selector=".part2 .title"></div>
      <% end %>
      <div class="menu">
        <div class="school-level">
          <%= t('lessons.school_level') %>: <%= current_user.school_level.description %>
        </div>
        <div class="author">
          <%= t('lessons.author') %>: <span class="name"><%= current_user.full_name %></span>
        </div>
      </div>
    </div>
  </li>
</ul>

<script>
  $(document).ready(function() {
    $('#lesson_subject option').each(function() {
      if($(this).val() == <%= @lesson.subject_id %>) {
        $(this).attr('selected', 'selected');
      }
    });
    disableTagsInputTooHigh('#slides._update ._tags_container', '#slides._update #tags');
  });
</script>
