<% content_for :nav do %>
  <nav id="heading">
    <!-- slides top numbered navigation -->
    <ul id="slide-numbers">
      <%- @slides.each_with_index do |slide, index|%>
        <li>
          <a href="#<%= slide.position %>" class="<%= (index == 0) ? 'active' : ''%>" data-slide="<%= slide.id%>"><%= index + 1 %></a>
          <div class="tooltip">
            <%= render :partial => "shared/lesson_thumbnails/small/#{slide.kind}" , :locals => { :slide => slide }%>
          </div>
        </li>
      <%end%><!-- end each -->
      <li>
        <%= link_to image_tag("plus-rounded.png"), {:action => :add_new_slide, :slide => @lesson.slides.first.id} , :remote => true, :class => "add _add_slide" %>
      </li>
    </ul>
  </nav>
<% end %>
<ul id="slides">
  <%- @slides.each_with_index do |slide, index|%>
    <li class='<%= (index == 0) ? "active  #{slide.kind}" : "#{slide.kind}"%> slides slide-position-<%= slide.position %>'>
      <%= render :partial => "slide_buttons", :locals => {:slide => slide } %>
      <div class="slide-content <%= slide.kind%> slide-<%= slide.position %>">
        <%= render :partial => "lesson_editor/slides/#{slide.kind}" , :locals => { :slide => slide }%>
      </div>
    </li>
  <% end %>
</ul>
<%- if @slide_to %>
  slide position: <%= @slide_to.position %>
  <script type="text/javascript" charset="utf-8">
    $("#slide-numbers li a:eq(<%=@slide.position%>)").trigger("click");
  </script>
<%end %>
