<%
  title_max = t('forms.placeholders.title', :num => t('language_parameters.lesson.length_title').to_s).downcase 
  description_max = t('forms.placeholders.description', :num => t('language_parameters.lesson.length_description').to_s).downcase
  tags_max = t('forms.placeholders.tags', :items => SETTINGS['min_tags_for_item'].to_s, :num => SETTINGS['max_tag_length'].to_s).downcase
%>

<ul id="slides" class="new _new">
  <li class="info slides">
    <div class="box">
      <span class="infoButtonWhite"></span>
      <br/>
      <h2><%= t('forms.new_lesson.title') %></h2>
      <h3>
        <%= t('forms.new_lesson.description') %>
      </h3>
      <div class="_error_messages"></div>
      <%= form_tag('/lessons/create', :remote => true, :id => "lesson-create") do %>
        <%= text_field_tag 'title', title_max, :class => 'pull-left' %>
        <%= hidden_field_tag 'title_placeholder', '' %>
        <%= select_tag 'subject', select_your_subjects(@subjects), :include_blank => false, :class => 'pull-right', :id => 'lesson_subject' %>
        <%= text_area_tag 'description', description_max, :class => 'pull-left' %>
        <%= hidden_field_tag 'description_placeholder', '' %>
        <div class="ui-widget pull-right _tags_container">
          <%= text_field_tag 'tags', '', :maxlength => SETTINGS['max_tag_length'], :class => 'lower' %>
          <div class="_placeholder">
            <%= tags_max %>
          </div>
          <%= hidden_field_tag 'tags_value', '' %>
        </div>
        <br style="clear:both"/>
        <div class="fltrt" style="margin-top:30px">
          <div class="fltlft" style="margin-top:5px;"><%= link_to t('forms.new_lesson.cancel').downcase, my_lessons_path, :class => 'buttonForm' %></div>
          <div class="fltrt">
            <%= submit_tag t('forms.new_lesson.done').downcase, :class => 'lesson-create' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="info-slide-footer">
      <div class="school-level pull-left">
        <%= t('lessons.school_level') %>: <%= current_user.school_level.description %>
      </div>
      <div class="author pull-right">
        <%= t('lessons.author') %>: <span class="name"><%= current_user.full_name %></span>
      </div>
    </div>
    <div id="info_container" data-tag-just-selected="false"></div>
  </li>
</ul>
