<ul id="slides" class="new">
  <li class="info">
    <h3>Create a new lesson</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <%= form_tag('/lesson_editor') do -%>
    <%= text_field_tag "title", "Enter the title of the lesson" %>
    <%= select_tag "subject", options_from_collection_for_select(@subjects, "id", "description"), :include_blank => false %>
    <%= text_area_tag "description", "Describe your lesson..." %>
    <%= text_area_tag "tags", "Enter tags" %>
    <br />
    <%= submit_tag 'Create' %>
  <% end -%>
  </li>
</ul>