<%
  title_max = t('captions.title_max_chars', :num => t('language_parameters.lesson.length_title').to_s).downcase 
  description_max = t('captions.description_max_chars', :num => t('language_parameters.lesson.length_description').to_s).downcase
  tags_max = t('captions.tags_max', :items => SETTINGS['min_tags_for_item'].to_s, :num => SETTINGS['max_tag_length'].to_s).downcase
%>

<ul id="slides" class="new">
  <li class="info slides">
    <div class="box">
      <span class="infoButtonWhite"></span>
      <br/>
      <h2><%= t('captions.you_are_creating_a_new_lesson') %></h2>
      <h3>
        <%= t('captions.fill_in_form_for_new_lesson') %>
      </h3>
      <div class="_error_messages"></div>
      <%= form_tag('/lessons/create', :remote => true, :id => "lesson-create") do %>
        <%= text_field_tag 'title', title_max, :class => 'pull-left' %>
        <%= hidden_field_tag 'title_placeholder', '' %>
        <%= select_tag 'subject', select_your_subjects(@subjects), :include_blank => false, :class => 'pull-right', :id => 'lesson_subject' %>
        <%= text_area_tag 'description', description_max, :class => 'pull-left' %>
        <%= hidden_field_tag 'description_placeholder', '' %>
        <div class="ui-widget pull-right" id="new-lesson-tags">
          <label for="tags"></label>
          <%= text_field_tag 'tags', tags_max %>
          <%= hidden_field_tag 'new-lesson-tags_placeholder', '' %>
        </div>
        <div class="fltrt" style="margin-top:30px">
          <div class="fltlft" style="margin-top:5px;"><%= link_to t('captions.cancel').downcase, my_lessons_path, :class => "buttonForm" %></div>
          <div class="fltrt"><%= submit_tag t('captions.next').downcase, :class => 'lesson-create' %></div>
        </div>
      <% end %>
    </div>
    <div class="info-slide-footer">
      <div class="school-level pull-left">
        <%= t('captions.school_level') %>: <%= current_user.school_level.description %>
      </div>
      <div class="author pull-right">
        <%= t('captions.author') %>: <span class="name"><%=  current_user.full_name %></span>
      </div>
    </div>
  </li>
</ul>
