var slideN = $(".slide-content.slide-<%=@slide.position %>").first();
slideN.children().hide(); 
slideN.prepend("<%= escape_javascript(render :partial => 'shared/image_gallery') %>");
slideN.siblings(".buttons").hide();
$("#slide-numbers").hide();

$("._close_image_gallery").click(function(e){
  e.preventDefault();
  $("#image-gallery").remove();
  $(".slide-content.slide-<%=@slide.position %>").children().show();
  $("#slide-numbers").show();
  $(".buttons").show();
});

$("._add-image_to_slide").click(function(e){
  e.preventDefault();
  $("#image-gallery").remove();
  var sld = $(".slide-content.slide-<%=@slide.position %>").first();
  sld.children().show();
  sld.find("input.media-tag-cover-<%= @img_position %>").val($(this).attr("data-param"));
  closePopUp('_gallery_img_expanded_'+$(this).attr("data-param"));
  console.log(sld.find("._cover_choose_image_<%=@img_position%>"));
  sld.find("._cover_choose_image_<%=@img_position%>").replaceWith("<a href='/lesson_editor/show_gallery/<%= @slide.id %>?position=<%=@img_position%>' class='show-gallery' data-remote='true'><img src='http://lorempixel.com/900/560/abstract/<%=@img_position%>' alt='added-imgage' class='_slide_image <%=@slide.kind%>-p<%=@img_position%>' /></a>");
  sld.find(".<%=@slide.kind%>-p<%=@img_position%>").parent("a").replaceWith("<a href='/lesson_editor/show_gallery/<%= @slide.id %>?position=<%=@img_position%>' class='show-gallery' data-remote='true'><img src='http://lorempixel.com/900/560/abstract/<%=@img_position%>' alt='added-imgage' class='_slide_image <%=@slide.kind%>-p<%=@img_position%>' /></a>")
  //sld.find("img.<%=@slide.kind%>-p<%=@img_position%>").remove();
  if(<%=@slide.kind == 'image1'%>){
    //sld.find("h2").after("<a href='/lesson_editor/show_gallery/<%= @slide.id %>?position=<%=@img_position%>' class='show-gallery' data-remote='true'><img src='http://lorempixel.com/900/560/abstract/<%=@img_position%>' alt='added-imgage' class='_slide_image <%=@slide.kind%>-p<%=@img_position%>' /></a>")
  }else{
    //sld.prepend("<a href='/lesson_editor/show_gallery/<%= @slide.id %>?position=<%=@img_position%>' class='show-gallery' data-remote='true'><img src='http://lorempixel.com/900/560/abstract/<%=@img_position%>' alt='added-imgage' class='_slide_image <%=@slide.kind%>-p<%=@img_position%>' /></a>")
  }
  $("#slide-numbers").show();
  $(".buttons").show();
});