var slideN = $(".slide-content.slide-<%=@slide.position %>").first();
slideN.children().hide(); 
slideN.prepend("<%= escape_javascript(render :partial => 'shared/image_gallery') %>");
slideN.siblings(".buttons").hide();
$("#slide-numbers").hide();

$("._close_image_gallery").click(function(){
  $("#image-gallery").remove();
  $(".slide-content.slide-<%=@slide.position %>").children().show();
  $("#slide-numbers").show();
  $(".buttons").show();
});

$("._add-image_to_slide").click(function(){
  $("#image-gallery").remove();
  var sld = $(".slide-content.slide-<%=@slide.position %>").first();
  sld.children().show();
  sld.find("input.media-tag-cover-1").val($(this).attr("data-param"));
  sld.find(".cover-choose-image").remove();
  closePopUp('_gallery_img_expanded_'+$(this).attr("data-param"));
  sld.find("img").remove();
  sld.prepend("<a href='/lesson_editor/show_gallery/<%= @slide.id %>' class='show-gallery' data-remote='true'><img alt='cover-imgage' src='http://lorempixel.com/900/560' /></a>")
  $("#slide-numbers").show();
  $(".buttons").show();
});