<div class="row-fluid">
  <div class="span12">
    <%= render :partial => 'menu', :locals => {:current => 'tags'} %>
    
    <h4>MANAGE TAGS</h4>
    
    <% @tags.each do |tag| %>
      <% if @tag.present? && (@tag.id == tag.id) %>
        <span class="label tags label-info">
          <%= tag.word %>
          <%= link_to '', "/admin/settings/tags/#{tag.id}/delete", :method => :delete, :confirm => "are you sure?", :class=>"icon-remove icon-white"%>
        </span>
      <% else %>
        <span class="label tags">
          <%= link_to tag.word, "/admin/settings/tags?id=#{tag.id}" %>
          <%= link_to '', "/admin/settings/tags/#{tag.id}/delete", :method => :delete, :confirm => "are you sure?", :class=>"icon-remove icon-white"%>
        </span>
      <% end %>
    <% end %>
  </div>
</div>

<% if @tag.present? %>
  <h3><%= @tag.word %></h3>
  <div class="row-fluid">
    <div class="span12">
      <h4>Lessons</h4>
      <%= render :partial => 'admin/lessons/list', :locals => {:lessons => @lessons} %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h4>Elements</h4>
      <%= render :partial => 'admin/media_elements/list', :locals => {:elements => @media_elements} %>
    </div>
  </div>
<% end %>