<div class="row-fluid">
  <div class="span12">
    <h3>SETTINGS</h3>
    <ul class="nav nav-tabs">
      <li><a href="/admin/settings" >General</a></li>
      <li><a href="/admin/settings/subjects">Subjects</a></li>
      <li><a href="/admin/settings/school_levels">School Levels</a></li>
      <li><a href="/admin/settings/locations">Locations</a></li>
      <li class="active"><a href="/admin/settings/tags">Tags</a></li>
    </ul>

    <% @tags.each do |tag| %>
      <% if @tag.present? && (@tag.id == tag.id) %>
        <span class="label tags label-info"><%= tag.word %><i class="icon-remove icon-white"></i></span>
      <% else %>
        <span class="label tags"><%= tag.word %><i class="icon-remove icon-white"></i></span>
      <% end %>
    <% end %>
  </div>
</div>

<% if @tag.present? %>
  <h3><%= @tag.word %></h3>
  <div class="row-fluid">
    <div class="span12">
      <h4>Lessons</h4>
      <%= render :partial => 'admin/lessons/list', :locals => {:lessons => @lessons} %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h4>Elements</h4>
      <%= render :partial => 'admin/media_elements/list', :locals => {:elements => @media_elements} %>
    </div>
  </div>
<% end %>