<%
  url_type ||= nil
  class_current = '_lesson_viewer_current_slide'
  style_current = 'style="display:block"'
  overall_counter = 1
%>

<div id="carousel_container">
  <div id='carousel_inner'>
    <ul id='carousel_ul'>
      <% slides.each do |slide| %>
        <%
          slide.text = '' if slide.text.blank?
          class_cover = slide.cover? ? "_cover_bookmark_for_lesson_viewer_#{slide.lesson_id}" : ''
          loaded = ([1, 2, slides.length].include? overall_counter)
        %>
        <li id="slide_in_lesson_viewer_<%= slide.id %>" class="_slide_in_lesson_viewer cover slide <%= class_current %> <%= class_cover %>" data-overall-counter="<%= overall_counter %>" data-lesson-id="<%= slide.lesson_id %>" data-loaded="<%= loaded %>" data-lesson-token="<%= params[:token] %>" data-lesson-updated-at="<%= slide.lesson.updated_at.to_i %>" data-slide-id="<%= slide.id %>" <%= style_current %>>
          <% if loaded %>
            <%= render :partial => "lesson_viewer/slides/#{slide.kind}", :locals => {slide: slide, url_type: url_type} %>
          <% else %>
            <%= render :partial => 'lesson_viewer/slides/loading', locals: { url_type: url_type } %>
          <% end %>
        </li>
        <%
          class_current = ''
          style_current = 'style="display:none"'
          overall_counter += 1
        %>
      <% end %>
    </ul>
  </div>
</div>

<% if !from_playlist && slides.first.lesson.is_public %>
  <%= render :partial => 'lesson_viewer/social_networks', :locals => {:lesson => slides.first.lesson} %>
<% end %>

<a class="esciButton fltrt" title="<%= t('titles.exit') %>" href="#" style="margin-top:20px; display:none"></a>

<% if with_exit %>
  <script type="text/javascript" charset="utf-8">
    var bb = $('.esciButton');
    <% if is_back %>
      bb.attr('href', '<%= back %>');
    <% else %>
      bb.attr('href', 'javascript:history.back()');
    <% end %>
    bb.show();
  </script>
<% end %>
