<%= render :partial => "lesson_slides", :locals => {:lesson => @playlist} %>
<%= render :partial => "playlist_menu", :locals => {:lesson => @playlist} %>
<div class="playlist_footer">

  <%= link_to "", my_virtual_classroom_path, :class=> "esciButton fltrt" %>
  <a class="_playlist"><%= image_tag("playlist_symbol.png")%> <%= t('captions.playlist') %></a>
</div>