<!--  DECIDERE COME GESTIRE L'ALLINEAMENTO DELLA GALLERIA  -->

<div id="gallery_document_<%= document.id %>" class="_document_gallery_thumb pseudo-li" data-document-id="<%= document.id %>" title="<%= document.title %>">
  <a>DOCUMENTO</a>
  <div class="documentInGalleryPopUp" id="dialog-document-gallery-<%= document.id %>" data-document-id="<%= document.id %>">
    <!-- manca la popup di info -->
  </div>
</div>
