<div class="documentInGallery <%= disabled ? 'disabled' : '' %>">
  <div class="icon">
    <%= image_tag document.icon_path, :title => document.icon_title %>
  </div>
  <div class="title">
    <%= document.title %>
  </div>
  <div class="extension">
    <%= document.size_and_extension %>
  </div>
  <a class="add_remove" title="<%= disabled ? '' : add %>" data-title="<%= add %>" data-other-title="<%= remove %>" data-document-id="<%= document.id %>"></a>
</div>
