<div id="audio_gallery" class="image_gallery <%= sti_type %>-kind">
  <div class="gallery-header">
    <h3 class="pull-left">
      <%= image_tag("choose-image-small.png")%> <%= t "captions.select_#{sti_type}" %>
    </h3>
  </div>
  <div class="scrollVerde">
    <ul class="gallery">
      <div id="scroll_pane_in_audio_gallery" class="scroll-pane">
        <%- if sti_type == MediaElement::VIDEO_TYPE.downcase %>
          <% media_elements.each do |mel| %>
            <li id="#gallery_thumb_<%=mel.id%>" class="_gallery_thumb">
              <%= link_to (image_tag mel.thumb, :width => '250', :height=> "140"), "#{mel.id}" %>
              <%= render :partial => "shared/image_gallery_popup", :locals => {:media_element => mel, :sti_type => sti_type} %>
            </li>
          <% end %>
        <%else%>
          <% media_elements.each do |mel| %>
            <li id="#gallery_thumb_<%=mel.id%>" class="_gallery_thumb">
              <%= link_to (image_tag mel.thumb, :width => '111'), "#{mel.id}" %>
              <%= render :partial => "shared/image_gallery_popup", :locals => {:media_element => mel, :sti_type => sti_type} %>
            </li>
          <% end %>
        <%end%>
      </div>
    </ul>
  </div>
  <div class="gallery-footer">
    <div class="pull-right"><a href="#" class="_close_image_gallery exitButtonWhite"></a></div>
  </div>
</div>
