<div id="document_gallery" class="document_gallery document-kind">
  
  <% if documents.empty? %>
    
    <div class="emptyGalleryDocumentEditor">
      <p>Non HAI DOCUMENTI</p>
    </div>
    
  <% else %>
    
    <div class="attachedExternal">
      <div class="attachedInternal">
        <div id="document_attached_1" class="document_attached" style="margin-bottom:2px">
          <div class="document_number">1</div>
          <div class="document_placeholder">Add a document from the list below</div> <!-- TODO traduzione -->
        </div>
        <div id="document_attached_2" class="document_attached" style="margin-bottom:2px">
          <div class="document_number">2</div>
          <div class="document_placeholder">Add a document from the list below</div> <!-- TODO traduzione -->
        </div>
        <div id="document_attached_3" class="document_attached">
          <div class="document_number">3</div>
          <div class="document_placeholder">Add a document from the list below</div> <!-- TODO traduzione -->
        </div>
      </div>
    </div>
    
    <div class="documentsExternal">
      <% documents.each_with_index do |document, index| %>
        <% margin = (index == 0) ? "style=\"margin-top:0\"".html_safe : '' %>
        <div id="gallery_document_<%= document.id %>" class="documentInGallery" <%= margin %>>
          <div class="icon">
            <%= image_tag document.icon_path, :title => document.icon_title %>
          </div>
          <div class="title">
            <%= document.title %>
          </div>
          <div class="extension">
            <%= document.size_and_extension %>
          </div>
          <div class="buttons">
            <a title="preview" data-document-id="<%= document.id %>" class="preview"></a> <!-- TODO traduzione -->
            <a title="add" data-document-id="<%= document.id %>" class="add"></a> <!-- TODO traduzione -->
          </div>
        </div>
      <% end %>
    </div>
    
    <div class="documentsFooter">
      <!-- qui vanno fumetto, filtro, e due bottoni cancel e attach -->
    </div>
    
  <% end %>
  
</div>
