<div id="document_gallery" class="document_gallery document-kind">
  
  <% if documents.empty? %>
    
    <div class="emptyGalleryDocumentEditor">
      <p><%= t('galleries.empty.document') %></p>
    </div>
    
  <% else %>
    
    <div id="current_inputs_for_documents" style="display:none">
      <% i = 1 %>
      <% documents_slides.each do |ds| %>
        <input type="text" name="document_<%= i %>" value="<%= ds.document_id %>" />
        <% i += 1 %>
      <% end %>
    </div>
    <div id="previous_inputs_for_documents" style="display:none">
      <% i = 1 %>
      <% documents_slides.each do |ds| %>
        <input type="text" name="document_<%= i %>" value="<%= ds.document_id %>" />
        <% i += 1 %>
      <% end %>
    </div>
    
    <div class="attachedExternal">
      <div class="attachedInternal">
        <% [1, 2, 3].each do |i| %>
          <% if documents_slides[i - 1].nil? %>
            <div id="document_attached_<%= i %>" class="document_attached not_full" style="margin-bottom:2px">
              <div class="document_number"><%= i %></div>
              <div class="document_placeholder"><%= t('galleries.documents.placeholder') %></div>
            </div>
            <div id="hidden_document_attached_<%= i %>" style="display:none">
              <div class="document_number"><%= i %></div>
              <div class="document_placeholder"><%= t('galleries.documents.placeholder') %></div>
            </div>
            <div id="hidden_document_attached_<%= i %>_content" data-full="false" style="display:none"></div>
          <% else %>
            <div id="document_attached_<%= i %>" class="document_attached" style="margin-bottom:2px">
              <%= render :partial => 'galleries/thumbs/document', :locals => {:document => documents_slides[i - 1].document, :index => 2, :disabled => false, :attached => i, :hidden => false} %>
            </div>
            <div id="hidden_document_attached_<%= i %>" style="display:none">
              <div class="document_number"><%= i %></div>
              <div class="document_placeholder"><%= t('galleries.documents.placeholder') %></div>
            </div>
            <div id="hidden_document_attached_<%= i %>_content" data-full="true" style="display:none">
              <%= render :partial => 'galleries/thumbs/document', :locals => {:document => documents_slides[i - 1].document, :index => 2, :disabled => false, :attached => i, :hidden => true} %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    
    <div class="documentsExternal">
      <div class="for-scroll-pain">
        <% documents.each_with_index do |document, index| %>
          <%= render :partial => 'galleries/thumbs/document', :locals => {:document => document, :index => index, :disabled => documents_slides.pluck(:document_id).include?(document.id), :attached => nil, :hidden => false} %>
        <% end %>
      </div>
    </div>
    
    <div class="documentsFooter">
      <div class="triangolo"></div>
      <div class="footerLeft">
        <p class="filterBy lower"><%= t('galleries.documents.filter_by') %></p>
        <input id="document_gallery_filter" type="text" value="" class="filterByInput" data-letters="0" style="color:#999">
        <%= image_tag 'cerca_documenti.gif', :class => '_loader', :style => 'display:none; float:right' %>
      </div>
      <div class="footerButtons">
        <div class="lower cancel button"><%= t('galleries.documents.cancel') %></div>
        <div class="lower attach button"><%= t('galleries.documents.done') %></div>
      </div>
    </div>
    
  <% end %>
  
</div>
