<%
  doc_empty = documents.empty?
  display_docs = doc_empty ? ['none', 'block'] : ['block', 'none']
%>

<div id="document_gallery" class="document_gallery document-kind" data-empty="<%= doc_empty %>">
  
  <div id="inputs_for_documents" style="display:none"></div>
  
  <div class="attachedExternal">
    <div class="attachedInternal">
      <% [1, 2, 3].each do |i| %>
        <div id="document_<%= i %>_attached" class="document_attached" style="margin-bottom:<%= (i == 3) ? '0' : '2px' %>"></div>
        <div id="document_<%= i %>_attached_empty" style="display:none">
          <div class="document_number"><%= i %></div>
          <div class="document_placeholder"><%= t('galleries.documents.placeholder') %></div>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="documentsExternal">
    <div class="for-scroll-pain" style="display:<%= display_docs[0] %>">
      <% documents.each_with_index do |document, index| %>
        <% margin = (index == 0) ? "style=\"margin-top:0\"".html_safe : '' %>
        <div id="gallery_document_<%= document.id %>" class="documentInGalleryExternal" <%= margin %>>
          <%= render :partial => 'galleries/thumbs/document', :locals => {:document => document} %>
        </div>
      <% end %>
    </div>
    <div id="empty_document_gallery" style="display:<%= display_docs[1] %>">
      <div class="bigDocumentIcon"></div>
      <br class="clearfloat"/>
      <% if doc_empty %>
        <p><%= t('galleries.empty.document') %></p>
      <% else %>
        <p><%= t('galleries.documents.locked') %></p>
      <% end %>
    </div>
  </div>
  
  <div class="documentsFooter">
    <div class="triangolo" style="display:<%= display_docs[0] %>"></div>
    <div class="footerLeft" style="display:<%= display_docs[0] %>">
      <p class="filterBy lower"><%= t('galleries.documents.filter_by') %></p>
      <input id="document_gallery_filter" type="text" value="" class="filterByInput" data-letters="0" style="color:#999">
      <%= image_tag 'cerca_documenti.gif', :class => '_loader', :style => 'display:none; float:right' %>
    </div>
    <div class="footerButtons">
      <div class="lower cancel button"><%= t('galleries.documents.cancel') %></div>
      <div class="lower attach button"><%= t('galleries.documents.done') %></div>
    </div>
  </div>
  
</div>
