<div id="image_gallery" class="image_gallery image-kind">
  
  <div class="gallery-header">
    <h3 class="pull-left">
      <%= image_tag("choose-image-small.png")%> <%= t('captions.select_image') %>
    </h3>
  </div>
  
  <div class="scrollVerde">
    <ul class="gallery">
      <div id="scroll_pane_in_image_gallery" class="scroll-pane">
        <% images.each do |image| %>
          <li id="#gallery_thumb_<%= image.id %>" class="_image_gallery_thumb" data-image-id="<%= image.id %>">
            <%= link_to (image_tag image.thumb, :width => '111'), "#{image.id}" %>
            <%= render :partial => "galleries/popups/image", :locals => {:image => image} %>
          </li>
        <% end %>
      </div>
    </ul>
  </div>
  
  <div class="gallery-footer">
    <div class="pull-right"><a href="#" class="_close_image_gallery exitButtonWhite"></a></div>
  </div>
  
</div>
