<div id="video_gallery" class="video_gallery video-kind">
  
  <div class="gallery-header">
    <h3 class="pull-left">
      <%= image_tag("choose-image-small.png")%> <%= t('captions.select_video') %>
    </h3>
  </div>
  
  <div class="scrollVerde">
    <ul class="gallery">
      <div id="scroll_pane_in_video_gallery" class="scroll-pane">
        <% videos.each do |video| %>
          <li id="#gallery_thumb_<%= video.id %>" class="_video_gallery_thumb" data-video-id="<%= video.id %>">
            <%= link_to (image_tag video.cover, :width => '250', :height => "140"), "#{video.id}" %>
            <%= render :partial => "galleries/popups/video", :locals => {:video => video} %>
          </li>
        <% end %>
      </div>
    </ul>
  </div>
  
  <div class="gallery-footer">
    <div class="pull-right"><a href="#" class="_close_video_gallery exitButtonWhite"></a></div>
  </div>
  
</div>
