<%
  title_max = t('forms.placeholders.title', :num => t('language_parameters.media_element.length_title').to_s).downcase # TODO traduzz
  description_max = t('forms.placeholders.description', :num => t('language_parameters.media_element.length_description').to_s).downcase # TODO traduzz
  tags_max = t('forms.placeholders.tags', :items => SETTINGS['min_tags_for_item'].to_s, :num => SETTINGS['max_tag_length'].to_s).downcase # TODO traduzz
%>

<div id="load-gallery-<%= kind %>" class="loadInGallery mediaElement" data-placeholder-title="<%= title_max %>" data-placeholder-description="<%= description_max %>" data-placeholder-tags="<%= tags_max %>" data-placeholder-media="<%= t('forms.placeholders.media').downcase %>">
  <%= form_tag "galleries/#{kind}/upload", :method => :post, :id => "new_gallery_#{kind}", :multipart => true, :autocomplete => 'off' do %>
    <div class="part1">
      <div class="attachment">
        <div id="gallery_<%= kind %>_media_show"></div>
        <label>
          <span>
            <input type="file" id="new_media_element_input" name="media"/>
          </span>
        </label>
      </div>
      <div class="title_and_subtitle">
        <h1>
          <%= t('forms.upload_media_element.title') %> <!-- TODO traduzz -->
        </h1>
        <p>
          <%= t('forms.upload_media_element.description') %> <!-- TODO traduzz -->
        </p>
      </div>
    </div>
    <div class="part2">
      <div class="title_and_descriptions">
        <input class="title" type="text" value="" name="title"/>
        <input class="title_placeholder" type="hidden" value="" name="title_placeholder"/>
        <textarea class="description" name="description"></textarea>
        <input class="description_placeholder" type="hidden" value="" name="description_placeholder"/>
      </div>
      <div class="tags_loader">
        <div class="_tags_container">
          <input class="tags" type="text" value="" maxlength="<%= SETTINGS['max_tag_length'] %>"/>
          <div class="_placeholder">
            <%= tags_max %>
          </div>
          <input class="tags_value" type="hidden" value="" name="tags_value"/>
        </div>
      </div>
    </div>
    <div class="part3">
      <a class="_close buttonForm"><%= t('forms.upload_media_element.cancel') %></a> <!-- TODO traduzz -->
      <%= submit_tag t('forms.upload_media_element.done').downcase, :id => "new_gallery_#{kind}_submit" %> <!-- TODO traduzz -->
    </div>
  <% end %>
  <div class="barraLoading">
    <div class="loading-internal" data-can-move="true"></div>
    <div class="loading-errors"></div>
  </div>
</div>
<%= render :partial => "galleries/#{kind}", :locals => {:"#{kind}s" => items}
