$('#media_elements_list_in_video_editor').data('jsp').destroy();
$('#media_elements_list_in_video_editor').jScrollPane({
  autoReinitialise: true
});

$('#video_editor').hide();
$('#video_editor_mixed_gallery_container').show();
$('#video_editor_mixed_gallery_container').html('<%= j(render(:partial => 'galleries/mixed_video_image_text', :locals => {:images => @images, :videos => @videos})) %>');
$('#video_editor_mixed_gallery_container').data('loaded', true);
$('._select_video_from_gallery').addClass('_add_video_component_to_video_editor');
$('._select_image_from_gallery').addClass('_add_image_component_to_video_editor');
$('._image_gallery_thumb').addClass('_image_gallery_thumb_in_mixed_gallery_video_editor').removeClass('_image_gallery_thumb');

var temporary_invisible_div = '<div class="_temporary" style="display:none">';

<% @images.each do |image| %>
  var mini_image = '<%= j(render(:partial => "video_editor/components/thumbs/image", :locals => {:image => image})) %>';
  var duration_selector = '<div class="tempo _duration_selector" style="display:none">';
  duration_selector += '<a class="addButtonContent current _add_image_component_to_video_editor_after_select_duration" data-image-id="<%= image.id %>" data-url="<%= image.path %>" data-width="<%= image.width %>" data-height="<%= image.height %>" style="float:right"></a>';
  duration_selector += '<p><%= j t("captions.time") %></p><input class="numberTime" maxlength="<%= t("language_parameters.video_editor.length_duration") %>"/><p class="lower"><%= j t("captions.sec") %></p></div>';
  $('#dialog-image-gallery-<%= image.id %>').append(temporary_invisible_div + mini_image + '</div>').append(duration_selector);
<% end %>

<% @videos.each do |video| %>
  var mini_video = '<%= j(render(:partial => "video_editor/components/thumbs/video", :locals => {:video => video})) %>';
  $('#dialog-video-gallery-<%= video.id %>').append(temporary_invisible_div + mini_video + '</div>');
<% end %>

initializeVideoEditorMixedGallery();
