<table id="users_list" class="table table-striped">
  <thead>
    <tr>
      <th><b><%= link_to_sorted "id", :id %></b></th>
      <th><b><%= link_to_sorted "email", :email %></b></th>
      <th><b><%= link_to_sorted "name", :name %></b></th>
      <th><b><%= link_to_sorted "surname", :surname %></b></th>
      <th><b><%= link_to_sorted "school", :school %></b></th>
      <th><b>location</b></th>
      <th><b><%= link_to_sorted "created", :created_at %></b></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.email, "mailto:#{user.email}"%></td>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.school %> (<%= user.school_level.description %>)</td>
        <td></td>
        <td><%= user.created_at.strftime('%d-%m-%Y')%></td>
        <td><%= link_to '<i class="icon-eye-open"></i>'.html_safe, admin_user_path(user), :title=> t('admin.users.index.show'), :target => :blank, :class=>"action"%></td>
        <td><%= link_to '<i class="icon-envelope"></i>'.html_safe, "/admin/users/contact?users=#{user.id}", :title=> t('admin.users.index.message'), :target => :blank, :class=>"action"%></td>
        <td id="user_<%=user.id%>_status">
          <%if user.active %>
            <%= link_to '', "#", :title=> t('admin.users.index.ban'), :class=>"icon-ban-circle action _active_status ban", 'data-param'=>"#{user.id}"%>
          <% else %>
            <%= link_to '', "#", :title=> t('admin.users.index.activate'), :class=>"icon-ok action _active_status activate", 'data-param'=>"#{user.id}"%>  
          <% end %>
        </td>
        
        <td><%= link_to '<i class="icon-remove"></i>'.html_safe, "#", :confirm => t('admin.general.ask_for_delete'), :title=> t('admin.users.index.delete'), :class=>"action"%></td>
      </tr>
    <% end %>
  </tbody>
</table>