<% if users.length > 0 %>
  
  <table id="users-list" class="table table-striped table-bordered table-rounded">
    <thead>
      <tr>
        <th>
          <%= render :partial => 'admin/ordering', :locals => {:name => t('admin.users.fields.id'), :ordering => 0} %>
        </th>
        <th>
          <%= render :partial => 'admin/ordering', :locals => {:name => t('admin.users.fields.email'), :ordering => 1} %>
        </th>
        <th>
          <%= render :partial => 'admin/ordering', :locals => {:name => t('admin.users.fields.name'), :ordering => 2} %>
        </th>
        <th>
          <%= render :partial => 'admin/ordering', :locals => {:name => t('admin.users.fields.surname'), :ordering => 3} %>
        </th>
        <th>
          <%= render :partial => 'admin/ordering', :locals => {:name => t('admin.users.fields.school_level'), :ordering => 4} %>
        </th>
        <th>
          <%= render :partial => 'admin/ordering', :locals => {:name => Location.base_label, :ordering => 5} %>
        </th>
        <th>
          <%= render :partial => 'admin/ordering', :locals => {:name => t('locations.parents_label'), :ordering => 6} %>
        </th>
        <th>
          <%= render :partial => 'admin/ordering', :locals => {:name => 'admin', :ordering => nil} %> <!-- TODO traduzz -->
        </th>
        <th>
          <%= render :partial => 'admin/ordering', :locals => {:name => t('admin.users.fields.created_at'), :ordering => 7} %>
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr id="<%= user.id %>">
          <td><%= user.id %></td>
          <td><%= link_to user.email, "mailto:#{user.email}" %></td>
          <td><%= user.name %></td>
          <td><%= user.surname %></td>
          <td><%= user.school_level.description %></td>
          <td><%= user.base_location %></td>
          <td><%= user.parent_locations %></td>
          <td><%= user.admin?.to_s %></td>
          <td><%= TimeConvert.to_string user.created_at %></td>
          <td><%= link_to '<i class="icon-eye-open"></i>'.html_safe, admin_user_path(user), :title => t('admin.users.show'), :target => :blank, :class => 'action' %></td>
          <td><%= link_to '<i class="icon-envelope"></i>'.html_safe, "/admin/messages/new_notification?users=#{user.id}", :title => t('admin.users.actions.message'), :target => :blank, :class => 'action' %></td>
          <td id="user_<%= user.id %>_status">
            <% if user.active %>
              <%= link_to '', '#', :title => t('admin.users.actions.ban'), :class => 'icon-ban-circle action _active_status ban', :data => {:param => user.id} %>
            <% else %>
              <%= link_to '', '#', :title => t('admin.users.actions.activate'), :class => 'icon-ok action _active_status activate', :data => {:param => user.id} %>
            <% end %>
          </td>
          <td>
            <% if !user.super_admin? %>
              <%= link_to '<i class="icon-remove"></i>'.html_safe, admin_user_path(user), :method => :delete, :remote => true, :confirm => t('admin.users.delete_confirm'), :title=> t('admin.users.delete'), :class => 'action' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
<% else %>
  
  <div class="widget">
    <%= t('admin.users.empty') %>
  </div>
  
<% end %>
