<div class="row-fluid">
  <div class="span12">
    <h3><%= t('admin.users.contact.send_message')%></h3>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <div class="hero-unit">
      <form class="form-vertical">
        <div class="control-group">
          <label for="user"><%= t('admin.users.contact.recipients')%></label>
          <div class="controls">
            <% if @users && @users.count > 0 %>
              <input class="disabled" value="<%=@users.pluck('email')%>">
            <% end %>
            <input id="contact-recipients" type="text" class="input-xxlarge" name="recipients" placeholder="Recipients" />
          </div>
        </div>
        <div class="control-group">
          <label for="message"><%= t('admin.users.contact.message')%></label>
          <div class="controls">
            <textarea rows="10" class="input-xxlarge" type="text" name="message" placeholder="Message"></textarea>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary"><%= t('admin.users.contact.send')%></button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>