<%= render :partial => "search" %>
<h3><%= t('admin.users.index.name')%></h3>
<%= render :partial => "admin/list_heading", :locals => {:items => @users, :expandable => false} %>
<%= render :partial => 'admin/users/list', :locals => {:users => @users}%>
<%= render :partial => "admin/list_heading", :locals => {:items => @users, :expandable => false} %>
<%= paginate @users %>