<div class="row-fluid">
  <div class="span12">
    <h3><%= @user.name %> <%= @user.surname %></h3>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><b>id</b></th>
          <th><b>email</b></th>
          <th><b>school</b></th>
          <th><b>location</b></th>
          <th><b>created</b></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= @user.id %></td>
            <td><%= link_to @user.email, "mailto:#{@user.email}"%></td>
            <td><%= @user.school %> (<%= @user.school_level.description %>)</td>
            <td></td>
            <td><%= @user.created_at.strftime('%d-%m-%Y')%></td>
            <td>
              <div class="btn-group pull-right">
                <button class="btn btn-small">
                  <i class="icon-ok"></i> <%= t('admin.users.show.activate').downcase%>
                </button>
                <button class="btn btn-small">
                  <i class="icon-ban-circle"></i> <%= t('admin.users.show.ban').downcase%>
                </button>
                <button class="btn btn-small">
                  <i class="icon-remove"></i> <%= t('admin.general.delete').downcase%>
                </button>
                <button class="btn btn-small">
                  <i class="icon-envelope"></i> <%= link_to t('admin.users.show.message').downcase, "/admin/users/contact?users=#{@user.id}"%>
                </button>
              </div>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <h4>User Stats</h4>
  </div>
</div>
<div class="row-fluid">
  <div class="span6 well">
    <table class="table table-striped">
      <thead>
        <th>Lessons</th>
      </thead>
      <tbody>
        <tr class="lesson_stat">
          <td><%= t('users.statistics.personal.lessons_created') %></td>
          <td><span class="badge badge-warning"><%= @my_created_lessons %></span></td>
        </tr>
        <tr class="lesson_stat">
          <td><%= t('users.statistics.personal.lessons_copied_by') %></td>
          <td><span class="badge badge-warning"><%=@my_copied_lessons%></span></td>
        </tr>
        <tr>
          <table class="table table-striped">
            <thead>
              <th><%= t('users.statistics.personal.lessons_more_likes') %></th>
            </thead>
            <tbody>
              <% @my_liked_lessons.each do |liked| %>
                <tr>
                  <td><%= liked.title %></td>
                  <td><span class="badge badge-warning"><%= liked.likes.count %></span></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="span6 well">
    <table class="table table-striped">
      <thead>
        <th>Elements</th>
      </thead>
      <tbody>
        <tr>
          <td><%= t('users.statistics.personal.media_elements_loaded') %></td>
          <td><span class="badge badge-success"><%= @my_created_elements %></span></td>
        </tr>
      </tbody>
    </table>
    <table class="table table-striped">
      <thead>
        <th>Other</th>
      </thead>
      <tbody>
        <tr>
          <td><%= t('users.statistics.personal.likes') %></td>
          <td><span class="badge"><%= @my_likes_count %></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <h4>User Lessons</h4>
    <%= render :partial => 'admin/lessons/list', :locals =>{:lessons => @user_lessons}%>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <h4>User Elements</h4>
    <%= render :partial => 'admin/elements/list', :locals =>{:elements => @user_elements}%>
  </div>
</div>