<% if false -%>
<%= 
  render_slide slide,
               { loaded:   true             ,
                 url_type: UrlTypes::EXPORT }
%>
<% end -%>

<%
  images = slide.media_elements_at
%>

<div class="vertical_align">
  <% images.each_slice(2).each_with_index do |images_slice, i| -%>
    <% row_class = "images#{i}" -%>
    <div class="images <%= row_class %> cf">
      <% images_slice.each_with_index do |image, j| -%>
        <% figure_class = "image#{j}" %>
        <figure class="<%= figure_class %>">
          <%= render partial: 'OEBPS/slides/image_media_elements_slide_style.xhtml', locals: { image_media_elements_slide: image, selector: ".#{row_class} figure.#{figure_class} div" } %>
          <div></div>
          <figcaption><%= image.caption if image %></figcaption>
        </figure>
      <% end -%>
    </div>
  <% end -%>
</div>