<div class="control-group heading">
  <label><h5><%= t('admin.search.heading.general')%></h5></label>
</div>
<div class="control-group">
  <label for="id"><%= t('admin.search.id')%></label>
  <div class="controls">
    <%= text_field_tag 'search[id]', params[:search] ? params[:search][:id] : ''  ,:class=>'input-small', :placeholder => t('admin.search.id')%>
  </div>
</div>
<div class="control-group">
  <label for="keyword"><%= t('admin.search.title')%></label>
  <div class="controls">
    <%= text_field_tag 'search[title]',  params[:search] ? params[:search][:title] : '', :class=>'input-medium', :placeholder => t('admin.search.title')%>
  </div>
</div>
<div class="control-group">
  <label for="subject"><%= t('admin.search.subject')%></label>
  <div class="controls">
    <select id="search_subject_id" name="search[subject_id]">
      <option value=''><%= t('admin.search.select_subject')%></option>
      <% Subject.all.each do |subject| %>
      <% if params[:search].present? && (params[:search][:subject_id].to_i == subject.id.to_i) %>
        <option value="<%= subject.id %>" selected="selected">
      <%else%>
        <option value="<%= subject.id %>">
      <%end%>
          <%= subject.description %>
        </option>
      <%end%>
    </select>
  </div>
</div>
<div class="control-group">
  <label for="search_user"><%= t('admin.search.user')%></label>
  <div class="controls">
    <%= text_field_tag 'search[user]',  params[:search] ? params[:search][:user] : '', :class=>'input-medium', :placeholder => t('admin.search.user')%>
  </div>
</div>