<div class="control-group heading">
  <label><h5>LOCATION</h5></label>
</div>


<% (0...SETTINGS['location_types'].length).to_a.each do |index| %>
  
  <div class="control-group">
    <label for="locations_list_<%= index %>">
      <%= Location.label_at(index) %>
    </label>
    <div class="controls">
      <select id="locations_list_<%= index %>" class="_select_locations_admin" name="search[location_<%= index %>]" data-is-last="<%= index == SETTINGS['location_types'].length - 1 %>">
        <%= render :partial => 'admin/users/locations_list', :locals => {:locations => locations[index].to_a} %>
      </select>
    </div>
  </div>
  
<% end %>
