<div class="control-group heading">
  <label><h5>CERCA PURCHASES</h5></label> <!-- TODO traduzz -->
</div>
<div class="control-group">
  <label for="id">ID</label> <!-- TODO traduzz -->
  <div class="controls">
    <%= text_field_tag 'search[id]', params ? params[:id] : '', :class => 'input-small', :placeholder => 'id' %> <!-- TODO traduzz stesso di sopra -->
  </div>
</div>
<div class="control-group">
  <label>ssn code</label> <!-- TODO traduzz -->
  <div class="controls">
    <%= text_field_tag 'search[title]', params ? params[:title] : '', :class => 'input-medium', :placeholder => 'ssn code' %> <!-- TODO traduzz -->
  </div>
</div>
<div class="control-group">
  <label>vat code</label> <!-- TODO traduzz -->
  <div class="controls">
    <%= text_field_tag 'search[title]', params ? params[:title] : '', :class => 'input-medium', :placeholder => 'vat code' %> <!-- TODO traduzz -->
  </div>
</div>
<div class="control-group">
  <label>name</label> <!-- TODO traduzz -->
  <div class="controls">
    <%= text_field_tag 'search[title]', params ? params[:title] : '', :class => 'input-medium', :placeholder => 'name' %> <!-- TODO traduzz -->
  </div>
</div>
<div class="control-group">
  <label>responsible</label> <!-- TODO traduzz -->
  <div class="controls">
    <%= text_field_tag 'search[title]', params ? params[:title] : '', :class => 'input-medium', :placeholder => 'responsible' %> <!-- TODO traduzz -->
  </div>
</div>
<div class="control-group">
  <label>email</label> <!-- TODO traduzz -->
  <div class="controls">
    <%= text_field_tag 'search[title]', params ? params[:title] : '', :class => 'input-medium', :placeholder => 'email' %> <!-- TODO traduzz -->
  </div>
</div>
