<a class="<%= Buttons::REPORT %> _report_media_element_click" title="<%= t('titles.report') %>"></a>
<span id="media_element_report_form_<%= media_element.id %>" class="tooltipForm for-media-elements _report_form_content" style="display:none">
  <%= image_tag 'freccia_tooltip_form.png', :class => 'calloutForm' %>
  <h3><%= t('reports.description') %></h3>
  <p><%= t('reports.placeholder') %></p>
  <%= form_tag '/reports/media_element', :remote => true do %>
    <input type="hidden" value="<%= media_element.id %>" name="media_element_id">
    <table>
      <tbody>
        <tr>
          <td>
            <textarea class="campoTesto" name="content"></textarea>
          </td>
        </tr>
        <tr>
          <td align="right">
            <input class="_send" type="submit" value="Send" name="commit">
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</span>
