<!DOCTYPE html>
<html class="ad-hoc-layout <%= controller_html_class %> <%= action_html_class %>">
  
  <head><%= render :partial => 'shared/head' %></head>
  
  <body>
    <div class="container">
      <%= render partial: 'layouts/flash', locals: { flash: flash } %>
      <%= yield %>
    </div>
  </body>
  
</html>
