<!DOCTYPE html>
<html class="application-layout <%= controller_html_class %> <%= action_html_class %>">
<head>
  <title>Desy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= render :partial => "layouts/header" %>
  <div class="content">
	<%= render :partial => "layouts/header_content_elements/graybar" %>
  <br class="clearfloat">
	<div class="griglia-contenuti">
	
	
    <%= yield %>
    
	</div>	
	<br class="clearfloat">	
	</div>
  <%= render :partial => "layouts/footer" %>
</div>
</body>
</html>
