<!DOCTYPE html>
<html class="home-layout <%= controller_html_class %> <%= action_html_class %>">
  
  <%= render :partial => 'shared/head' %>
  
  <body>
    <%= render :partial => 'shared/browser_support_script' %>
    <%= render :partial => 'shared/popups' %>
    <%= render :partial => 'shared/loading' %>
    <div class="container">
      <%= render partial: 'layouts/flash', locals: { flash: flash } %>
      <%= yield %>
    </div>
  </body>
  
</html>
