<!DOCTYPE html>
<html class="lesson-viewer-layout <%= controller_html_class %> <%= action_html_class %>">
<head>
  <title>Desy</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    
    <%= yield %>
    
</body>
</html>