<!DOCTYPE html>
<html class="media_element_editor-layout <%= controller_html_class %> <%= action_html_class %>">
  
  <head>
    <title><%= SETTINGS['application_name'] %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <%= render :partial => 'shared/popups' %>
    <%= yield %>
  </body>
  
</html>
