<!DOCTYPE html>
<html class="prelogin-layout <%= controller_html_class %> <%= action_html_class %>">
  
  <%= render :partial => 'shared/head' %>
  
  <body>
    <%= render :partial => 'shared/browser_support_script' %>
    <div class="container">
      <%= render partial: 'layouts/flash', locals: { flash: flash } %>
      <%= yield %>
    </div>
    <br class="clearfloat">
    <div class="footer">
      <div class="footer_logo_content ">

        <div class="fltlft" style="padding:10px" >
          <img src="<%= asset_path 'partner_logo.jpg' %>">
        </div>
        <div class="fltrt" style="padding:30px">
          <%= SETTINGS['application_copyright'] %>
        </div>
      </div>
    </div>
  </body>
  
</html>
