<!DOCTYPE html>
<html class="prelogin-layout <%= controller_html_class %> <%= action_html_class %>">
  
  <head>
    <title><%= title_tag @slides %></title>
    <%= favicon_link_tag 'favicon32x32.png', type: 'image/png' %>

    <!--[if lt IE 9]>
      <%= stylesheet_link_tag "browser_not_supported/application", :media => "all" %>
      <%= javascript_include_tag "browser_not_supported/application" %>
    <![endif]-->

    <!--[if gte IE 9]>
      <%= stylesheet_link_tag "layouts/prelogin/application", :media => "all" %>
      <%= javascript_include_tag "application" %>
    <![endif]-->

    <!--[if !IE]> -->
      <%= stylesheet_link_tag "layouts/prelogin/application", :media => "all" %>
      <%= javascript_include_tag "application" %>
    <!-- <![endif]-->

    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <%= render :partial => 'shared/browser_support_script' %>
    <%= render :partial => 'shared/popups' %>
    <%= render :partial => 'shared/loading' %>
    <div class="container">
      <%= render partial: 'layouts/flash', locals: { flash: flash } %>
      <%= yield %>
    </div>
    <div class="footer">
      <div class="footer_logo_content ">

        <div class="fltlft" style="padding:10px" >
          <img src="<%= asset_path 'partner_logo.jpg' %>">
        </div>
        <div class="fltrt" style="padding:30px">
          <%= SETTINGS['application_copyright'] %>
        </div>
      </div>
    </div>
  </body>
</html>
