<!DOCTYPE html>
<html class="prelogin-layout <%= controller_html_class %> <%= action_html_class %>">
<head>
  <title>Desy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="top"></div>
<div class="container">
  <!-- HEADER -->
  <div class="header">
	  <div class="headerMenu">
			<ul>
				<li>What is DESY?</li>
				<li>Learning Objectives</li>
				<li>Register</li>
				<li>Contact</li>
			</ul>
			<div class="login">
			  <p>I forgot my login information</p>
				<div class="button">
					<a href="#">Login</a>
				</div>
			</div>
		</div>
	</div>
	<!-- FINE HEADER -->
	<!-- CONTAINERTEXT -->
  <div class="containerText">
	  <div class="fltlft" style="width:47%">
		<%= image_tag "logo_prelogin.png" %>
		</div>
    <div class="fltlft" style="width:26%">
		  <h1>Discover a new way of teaching</h1>
		  <p>DESY has arrived, the new multimedia platform dedicated to the world of the school.
Thanks to DESY will be possible to create multimedia lessons, uploading their images or videos or using those in the database of DESY.
Share your work with other users DESY to create a large network of educational content.</p>
      <p><a href="">Watch the video</a></p>
		</div>
		<div class="fltrt">
		  <%= image_tag "screenshot_elements.jpg" %>
		</div>
  </div>
	<%= yield %>
</div>


  
 
</body>
</html>