<!DOCTYPE html>
<html class="virtual_classroom-layout <%= controller_html_class %> <%= action_html_class %>">
  
  <head><%= render :partial => 'shared/head' %></head>
  
  <body>
    <%= render :partial => 'shared/browser_support_script' %>
    <%= render :partial => 'shared/popups' %>
    <%= render :partial => 'virtual_classroom/popups' %>
    <%= render :partial => 'shared/loading' %>
    <div class="container">
      <%= yield %>
      <%= render :partial => 'shared/footer' %>
    </div>
  </body>
  
</html>
