<%
  external_div_attributes = "data-position=\"\" data-duration=\"\""
  title = ''
  total_length = 0
  selected = 0
  if !empty
    external_div_attributes = "id=\"audio_component_#{identifier}\" data-position=\"#{identifier}\" data-duration=\"#{component[:to] - component[:from]}\""
    title = component[:audio].title
    total_length = seconds_to_time component[:audio].min_duration
    selected = seconds_to_time(component[:to] - component[:from])
  end
%>

<div class="<%= empty ? '_audio_editor_empty_component'.html_safe : '_audio_editor_component'.html_safe %>" <%= external_div_attributes.html_safe %> data-current-preview-time="0">

 <div class="contatore _audio_component_icon">
    <%= identifier %>
  </div>
  <div class="audioContent _audio_component_hover">
    <div class="manigliaAudio _sort_handle"></div>
    <div class="audioComponentContent">
      <div class="audioComponentTitle">
        <%= title %>
      </div>
      <div class="audioComponentPlayer">
        <!-- qui ci va il cutter -->
      </div>
      <div class="audioComponentBottom">
        <div class="audioComponentDurations">
          <%= t('audio_editor.total_length') %>: <span class="_total_length"><%= total_length %></span>
          <%= t('audio_editor.selected_length') %>: <span class="_selected_length"><%= selected %></span>
        </div>
        <div class="audioComponentControls">
        </div>
      </div>
    </div>
  </div>
  <% if !empty %>
    <%= hidden_field_tag "audio_id_#{identifier}", component[:audio].id, :class => '_audio_component_input_audio_id' %>
    <%= hidden_field_tag "from_#{identifier}", component[:from], :class => '_audio_component_input_from' %>
    <%= hidden_field_tag "to_#{identifier}", component[:to], :class => '_audio_component_input_to' %>
    <%= hidden_field_tag "position_#{identifier}", identifier, :class => '_audio_component_input_position' %>
  <% end %>
  <br class="clearfloat">
  <div class="boxGhost"></div>
</div>
