<%
  external_div_attributes = "data-position=\"\" data-duration=\"\""
  if !empty
    external_div_attributes = "id=\"audio_component_#{identifier}\" data-position=\"#{identifier}\" data-duration=\"#{audio[:to] - audio[:from]}\""
  end
%>

<div class="<%= empty ? '_audio_editor_empty_component'.html_safe : '_audio_editor_component'.html_safe %>" <%= external_div_attributes.html_safe %> data-current-preview-time="0">
  <div class="contatore _audio_component_icon">
    <%= identifier %>
  </div>
  <% if !empty %>
    <%= hidden_field_tag "audio_id_#{position}", component[:video].id, :class => '_video_component_input_video_id' %>
    <%= hidden_field_tag "from_#{position}", component[:from], :class => '_video_component_input_from' %>
    <%= hidden_field_tag "to_#{position}", component[:to], :class => '_video_component_input_to' %>
    <%= hidden_field_tag "position_#{position}", position, :class => '_video_component_input_position' %>
  <% end %>
  <!-- TODO manca cutter e controlli -->
</div>
