<%= render :partial => 'image_editor/header', :locals => {:image => @image} %>
<% div_id =  @image.is_public ? "public" : "not_public" %>
<div class="mediaEditorElementContainer image_editor_only" id="image_editor_<%= div_id %>">
  <div class="menuLeftEditorElement">
  <h2><%= t('captions.what_to_do') %></h2><p><%= t('captions.select_the_scissors') %></p>
    <div class="menuModifyImages">
    <ul>
      <li><a class="do_crop _toggle_crop cutButton" title="<%= t('general_titles.crop_element_title') %>"></a></li>
    </ul>
    </div>
  </div>
  <div id="image_editor_container" class="imagesContainer _text_enabled">
    <div id="image_wrapper">
      <%= image_tag @image.url, :id => "cropped_image", "data-width" => @image.width, "data-height"=>@image.height %>
      <form id="crop_form" data-param="<%= @image.id %>" action="/images/<%=@image.id%>/crop/" method="post" data-remote="true">
        <input type="hidden" name="x1" value="" />
        <input type="hidden" name="y1" value="" />
        <input type="hidden" name="x2" value="" />
        <input type="hidden" name="y2" value="" />
        <%= render :partial => 'media_elements/info_form_in_editor/new', :locals => {:sti_type => @image.sti_type } %>
        <% if !@image.is_public %>
          <%= render :partial => 'media_elements/info_form_in_editor/edit', :locals => {:media_element => @image} %>
        <% end %>
      </form>
    </div>
  </div>
  <div class="menuBottomEditorElement">
    <div class="menuTextImages upper">
      <%= t 'captions.click_image_to_add_text' %>
    </div>
    <div class="menuServiceImages" style="display:none">
      <div class="bottoniVerdi fltlft">
        <a href="#" id="image_editor_crop" class="upper"><%= t('captions.crop') %></a>
        <a href="#" id="image_editor_cancel_crop" class="upper"><%= t('captions.cancel') %></a>
      </div>
   </div>
  </div>
  <div class="menuFooterEditorElement">
    <p><%= t('captions.original_image_size') %>: <%= @image.width %>x<%= @image.height %>px</p>
    <% save_class = "_save_edit_image nextButton" %>
    <% if @image.is_public %>
      <% save_class = "#{save_class} _create_new_image" %>
    <% else %>
      <% save_class = "#{save_class} _updatable_image" %>
    <% end %>
    <div class="fltrt">
      <div class="fltrt"><a class="<%= save_class %>" data-image-id="<%= @image.id %>" title="<%= t('general_titles.save_element_title') %>"></a></div>
    </div>
  <br class="clearfloat">
  </div>
</div>
