<%= render :partial => 'image_editor/header' %>
<% div_id =  @image.is_public ? "public" : "not_public" %>
<div class="mediaEditorElementContainer" id="image_editor_<%= div_id %>">
  <div class="menuLeftEditorElement">
  <h2>What to do?</h2><p>Select the scissors to cut the image
or ABC to enter text.</p>
    <div class="menuModifyImages">
    <ul>
      <li><a class="do_crop _toggle_crop cutButton"></a></li>
      <li><a class="write_text _toggle_text abcButton"></a></li>
    </ul>
    </div>
  </div>
  <div id="_image_editor_container" class="imagesContainer">
    <div id="image_wrapper">
      <%= image_tag @image.path, :id => "cropped_image", "data-width" => @image.width, "data-height"=>@image.height %>
      <form id="_crop_form" data-param="<%= @image.id %>" action="/images/<%=@image.id%>/crop/" method="post" data-remote="true">
        <input type="hidden" name="x1" value="" />
        <input type="hidden" name="y1" value="" />
        <input type="hidden" name="x2" value="" />
        <input type="hidden" name="y2" value="" />
        <input type="hidden" name="cropped_image" value="" />
        <%= render :partial => 'media_elements/info_form_in_editor/new', :locals => {:sti_type => @image.sti_type } %>
        <% if !@image.is_public %>
          <%= render :partial => 'media_elements/info_form_in_editor/edit', :locals => {:media_element => @image} %>
        <% end %>
      </form>
    </div>
  </div>
  <div class="menuBottomEditorElement">
    <div class="menuTextImages upper">
      <%= t 'captions.click_image_to_add_text' %>
    </div>
    <div class="menuServiceImages">
      <div class="bottoniVerdi fltlft">
        <a  href="#" id="_editor_crop">CROP</a>
        <a href="#" id="_editor_cancel">CANCEL</a>
      </div>
   </div>
  </div>
  <div class="menuFooterEditorElement">
	  <p>Original image size: <%= @image.width %>x<%= @image.height %>px</p>
    <%= render :partial => "save_cancel" %>
  <br class="clearfloat">
  </div>
</div>
